<template lang='html'>
    <section class='contenido mis-prototipos almacenamiento tipo-uso'>
        <div  class="form-group text-left recuperar align-self-start">
        <router-link to="/tipo-de-uso" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('regresar') }}</router-link>
      </div>
        <!-- TITULOS DE LA SECCIÓN -->
        <h1 v-if="prototipo.especificaciones.nombre_proyecto == null || prototipo.especificaciones.nombre_proyecto == ''">
            <i class="icn icn-prototipos"></i>
            {{ $t('especificaciones.nuevo_prototipo') }}
        </h1>
        <h1 v-else>
            <i class="icn icn-prototipos"></i>
            {{ prototipo.especificaciones.nombre_proyecto }}
        </h1>
        <h2>{{ $t('almacenamiento.almacenamiento') }}</h2>
        <span class="subtitulo mb-auto">{{ $t('almacenamiento.donde_se') }}</span>

        <!-- PASO 1 : INFO DEL PROYECTO -->
        <div class="my-auto">
            <b-form-radio-group
                v-model="prototipo.almacenamiento.almacenamiento"
                buttons
                class="w-100 mt-4 mb-4"
                name="tipoUso">
            <div class="grid">
                <div class="stretch-card">
                    <b-form-radio value="Interior">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                <img src="@/assets/images/interior.svg">
                                </div>
                            </div>
                            <div class="card-footer">
                                {{ $t('almacenamiento.interior') }}
                            </div>
                        </div>
                    </b-form-radio>
                </div>
                <div class="stretch-card">
                    <b-form-radio value="Exterior">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                <img src="@/assets/images/exterior-almacenamiento.svg">
                                </div>
                            </div>
                            <div class="card-footer">
                                {{ $t('almacenamiento.exterior') }}
                            </div>
                        </div>
                    </b-form-radio>
                </div>
                <b-form-radio value="No estoy seguro">
                        <div class="card" id="no-estoy-seguro" >
                            <div>{{ $t('almacenamiento.no_seguro') }}</div>
                        </div>
                    </b-form-radio>
                
      </div>
      </b-form-radio-group>
        </div>

        <!-- TERMINA PASO 1 -->
        <div class="text-center registro mt-4">
            <button :disabled="prototipo.almacenamiento.almacenamiento == null" @click="onGuardar()" tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>
        </div>
        <!-- <div class="colab mt-2" v-if="paso > 3">
            {{ $t('en_colaboracion') }}<strong> "Marina Coating"</strong>
        </div> -->
    </section>
</template>

<script lang="js">
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'Almacenamiento',
  components: {
    
  },
  data() {
    return {
        tituloSecundario:'Almacenamiento',
        subtitulo: '¿Dónde se va a almacenar el contenedor?',
        tipoUso: null,
        paso: 1,        
    }
  },
  created() {
      if(this.prototipo.tipo_uso){
        if(!this.prototipo.tipo_uso.completado){
          console.log('TCL: NO ESTA COMPLETADO tipo_uso')
          this.$router.push({name: 'Tipo de uso'})
        }
      }else{
          console.log('TCL: NO ESTA COMPLETADO tipo_uso')
          this.$router.push({name: 'Tipo de uso'})
      }
  },
  computed: {
      ...mapGetters(['prototipo', 'infoUser']),
  },
  methods: {
      ...mapActions(['updatePrototipo', 'setPrototipo',
    'modalCargando' ]),
    onGuardar(){
        this.modalCargando(true);
        this.prototipo.fecha_edicion = new Date()
        this.prototipo.almacenamiento.completado = true;
        this.setPrototipo(this.prototipo);
        console.log("TCL: guardar protitipo -> data", this.prototipo)

        this.prototipo.solicitar_btn.disenio = false,
        this.prototipo.solicitar_btn.prototipo = false,
        
        this.updatePrototipo(this.prototipo).then((resp)=>{
            this.modalCargando(false);
            this.$router.push({name: 'Dunnage'});
        }).catch((error)=>{
            this.modalCargando(false);
            console.log(error)
        })
    },

  }
}
</script>

<style scoped lang="scss">
</style>