<template lang='html'>
    <section class='contenido mis-prototipos dunnage'>
        <div  class="form-group text-left recuperar align-self-start">
        <router-link v-if="!prototipo.dunnage.dunnageR" to="/almacenamiento" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('regresar') }}</router-link>
        <a href="#" v-if="prototipo.dunnage.dunnageR" class="regresar" @click="prototipo.dunnage.dunnageR = !prototipo.dunnage.dunnageR; infoBasic = false; infoTopCoat = false"><img src="@/assets/images/back.svg"> {{ $t('regresar') }}</a>
      </div>
        <!-- TITULOS DE LA SECCIÓN -->
        <h1 v-if="prototipo.especificaciones.nombre_proyecto == null || prototipo.especificaciones.nombre_proyecto == ''">
            <i class="icn icn-prototipos"></i>
            {{ $t('especificaciones.nuevo_prototipo') }}
        </h1>
        <h1 v-else>
            <i class="icn icn-prototipos"></i>
            {{ prototipo.especificaciones.nombre_proyecto }}
        </h1>
        <h2>{{ tituloSecundario}}</h2>
        <span class="subtitulo mb-auto">{{ subtitulo }}</span>
        <!-- <transition name="slide-fade"> -->
        <Tree class="mb-auto" v-if="prototipo.dunnage.dunnageR === 'Basic'" 
            :propcolorM="prototipo.dunnage.colorM" 
            :propacabado="prototipo.dunnage.acabado" 
            :propnivel3="prototipo.dunnage.nivel3" 
            :propnivel2="prototipo.dunnage.nivel2" 
            :propnivel1="prototipo.dunnage.nivel1" 
            @cambioDunnage="cambioDunnage"
        />
        <TreeCoat class="mb-auto" v-if="prototipo.dunnage.dunnageR === 'Top Coat'"
            :propcolorM="prototipo.dunnage.colorM" 
            :propnivel3="prototipo.dunnage.nivel3" 
            :propnivel2="prototipo.dunnage.nivel2" 
            :propnivel1="prototipo.dunnage.nivel1" 
            @cambioDunnage="cambioDunnage"
        />
        <Tyvek class="mb-auto" v-if="prototipo.dunnage.dunnageR === 'Tyvek'" 
            :propcolorM="prototipo.dunnage.colorM" 
            :propnivel4="prototipo.dunnage.nivel4" 
            :propnivel3="prototipo.dunnage.nivel3" 
            :propnivel2="prototipo.dunnage.nivel2" 
            :propnivel1="prototipo.dunnage.nivel1" 
            @cambioDunnage="cambioDunnage"
        />
        <!-- </transition> -->
        <!-- PASO 1 : INFO DEL PROYECTO -->
        <div class="mb-auto row w-100" v-if="!prototipo.dunnage.dunnageR || prototipo.dunnage.dunnageR ==='Disipativo (ESD)' || prototipo.dunnage.dunnageR === 'No estoy seguro'">
            <b-form-radio-group
                v-model="prototipo.dunnage.dunnageR"
                @change="validarBtnContinuar"
                buttons
                class="w-100 mt-4 mb-4"
                name="dunnage-1">
                <div class="paso1 w-100 d-md-flex">
                    <div class="boton mr-md-3 mr-0" v-if="prototipo.especificaciones.tipoClase == 'A' ">
                        <b-form-radio value="Basic">
                            <div class="card">
                                <div>Basic</div>
                            </div>
                        </b-form-radio>
                        <img class="info-show" src="@/assets/images/info.svg" @click="infoBasic = !infoBasic">
                        <div class="info-text" v-if="infoBasic">
                            PVC Antidust
                        </div>
                        <!-- <span class="info">
                            PVC Antidust
                        </span> -->
                    </div>
                    <div class="boton mr-md-3 mr-0" v-if="prototipo.especificaciones.tipoClase == 'A' ||  prototipo.especificaciones.tipoClase == 'B'">
                        <b-form-radio value="Top Coat">
                            <div class="card">
                                <div>Top Coat</div>
                            </div>
                        </b-form-radio>
                        <img class="info-show" src="@/assets/images/info.svg" @click="infoTopCoat = !infoTopCoat">
                        <div class="info-text" v-if="infoTopCoat">
                            PVC Antidust<br>
                            Acrylic Vynil Lacquer
                        </div>
                    </div>
                    <div class="boton mr-md-3 mr-0 mb-4 mb-lg-0" v-if="prototipo.especificaciones.tipoClase == 'A' ">
                        <b-form-radio value="Tyvek">
                            <div class="card">
                                <div>Tyvek ®</div>
                            </div>
                        </b-form-radio>
                    </div>
                    <div class="boton mr-md-3 mr-0 mb-4 mb-lg-0" v-if="prototipo.especificaciones.tipoClase == 'C' ">
                        <b-form-radio value="Disipativo (ESD)">
                            <div class="card">
                                <div>{{$t('dunnage.disipativo')}}</div>
                            </div>
                        </b-form-radio>
                        <!-- <div class="info-text" v-if="infoTopCoat">
                            PVC Antidust<br>
                            Acrylic Vynil Lacquer
                        </div> -->
                    </div>
                    <div class="boton mr-md-3 mr-0">
                        <b-form-radio value="No estoy seguro">
                            <div class="card d-flex none">
                                
                                <div>{{ $t('dunnage.not')}}</div>
                            </div>
                        </b-form-radio>
                    </div>
                    
                </div>
            </b-form-radio-group> 
        </div>
      </b-form-radio-group>
        </div>
        <!-- TERMINA PASO 1 -->
        <div class="text-center registro mt-4">
            <button :disabled="!btnContinuar" @click="onGuardar()" tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>
        </div>
        <!-- <div class="colab mt-2">
            {{ $t('en_colaboracion') }}<strong> "Marina Coating"</strong>
        </div> -->
    </section>
</template>

<script lang="js">
import { mapGetters, mapActions } from 'vuex';
import Tree from '@/componentes/Tree/Tree'
import TreeCoat from '@/componentes/Tree/TreeCoat'
import Tyvek from '@/componentes/Tree/Tyvek'
import Disipativo from '@/componentes/Tree/Disipativo'
import JQuery from 'jquery';
let $ = JQuery

// $('.nav-item.logo').html('TI')
export default {
    
  name: 'Dunnage',
  components: {
    Tree,
    TreeCoat,
    Tyvek,
    Disipativo
  },
  data() {
    return {
        //prototipo.dunnage.dunnageR: undefined,
        tituloSecundario:'Dunnage',
        subtitulo: '',
        isActive: false,
        infoBasic: false,
        infoTopCoat: false,

        btnContinuar: false
    }
  },
  created() {
      if(this.prototipo.almacenamiento){
        if(!this.prototipo.almacenamiento.completado){
          console.log('TCL: NO ESTA COMPLETADO almacenamiento')
          this.$router.push({name: 'Almacenamiento'})
        }
      }else{
          console.log('TCL: NO ESTA COMPLETADO almacenamiento')
          this.$router.push({name: 'Almacenamiento'})
      }
  },
  computed: {
      ...mapGetters(['prototipo', 'infoUser']),
  },
  mounted(){
        this.menu();
        this.infoBasic = false;
        this.infoTopCoat = false;

        //this.prototipo.dunnage.dunnageR = null;
  },
  methods: {
    ...mapActions(['updatePrototipo', 'setPrototipo',
    'modalCargando' ]),
    onGuardar(){
        this.modalCargando(true);
        this.prototipo.fecha_edicion = new Date()
        this.prototipo.completado = true;
        this.prototipo.dunnage.completado = true;
        this.setPrototipo(this.prototipo);
        console.log("TCL: guardar prototipo -> data", this.prototipo)

        this.prototipo.solicitar_btn.disenio = false,
        this.prototipo.solicitar_btn.prototipo = false,
        
        this.updatePrototipo(this.prototipo).then((resp)=>{
            this.modalCargando(false);
            this.$router.push({name: 'Resumen'});
        }).catch((error)=>{
            this.modalCargando(false);
            console.log(error)
        })
    },
    cambioDunnage(medidas){
        this.prototipo.dunnage.colorM = medidas.colorM
        this.prototipo.dunnage.acabado = medidas.acabado
        this.prototipo.dunnage.nivel4= medidas.nivel4
        this.prototipo.dunnage.nivel3= medidas.nivel3
        this.prototipo.dunnage.nivel2= medidas.nivel2
        this.prototipo.dunnage.nivel1= medidas.nivel1

        this.validarBtnContinuar(medidas);
    },
    validarBtnContinuar(medidas){
        console.log("TCL: validarBtnContinuar -> medidas", medidas)
        console.log("TCL: validarBtnContinuar -> validarBtnContinuar", this.prototipo.dunnage.dunnageR)

        

        if(medidas == 'Disipativo (ESD)' || medidas == 'No estoy seguro' ){
            this.btnContinuar = true;
            return
        }
        if(medidas == "Basic" || medidas == "Top Coat" || medidas == "Tyvek ®"){
            this.btnContinuar = false;
            return
        }

        if(medidas.nivel1 == "Basic" || medidas.nivel1 == "Top Coat" || medidas.nivel1 == "Tyvek ®"){
            if(medidas.nivel2 == '' || medidas.nivel2 == undefined){
                this.btnContinuar = false;
                return
                
            }if(medidas.nivel3 == '' || medidas.nivel3 == undefined){
                this.btnContinuar = false;
                return
            }


            if(medidas.nivel1 == "Tyvek ®"){
                if(medidas.nivel4 == '' || medidas.nivel4 == undefined){
                    this.btnContinuar = false;
                    return
                }
            }
            if(medidas.nivel1 == "Basic" || medidas.nivel1 == "Top Coat"){
                if(medidas.colorM == '' || medidas.colorM == undefined){
                    this.btnContinuar = false;
                    return
                }
            }
            if(medidas.nivel2 == "18oz"){
                if(medidas.acabado == '' || medidas.acabado == undefined){
                    this.btnContinuar = false;
                    return
                }
            }
            this.btnContinuar = true;
            return
        }
    },
    menu(){
        if(window.width > 992){
            var list = document.getElementsByClassName("logo")[0];
            list.innerHTML = "LI";
            document.body.classList.add('sidebar-small');    
        }
        
    },
    items(){
        if(this.prototipo.dunnage.dunnageR === 'Basic'){
            return this.basic
        }
        if(this.prototipo.dunnage.dunnageR === 'Top Coat'){
            return this.topCoat
        }
    }

  }
}
</script>

<style scoped lang="scss">
.main-panel{
    margin-left: 70px;
}
</style>