<template lang='html'>
    <section class='contenido mis-prototipos'>
        <div v-if="paso > 1" class="form-group text-left recuperar align-self-start">
        <a href="#" @click="pasoAnterior(paso)" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('regresar') }}</a>
      </div>
        <!-- TITULOS DE LA SECCIÓN -->
        <h1 v-if="prototipo.especificaciones.nombre_proyecto == null || prototipo.especificaciones.nombre_proyecto == ''">
            <i class="icn icn-prototipos"></i>
            {{ $t('especificaciones.nuevo_prototipo') }}
        </h1>
        <h1 v-else>
            <i class="icn icn-prototipos"></i>
            {{ prototipo.especificaciones.nombre_proyecto }}
        </h1>
        <h2>{{ tituloSecundario}}</h2>
        <span class="subtitulo mb-auto">{{ subtitulo }}</span>

        <!-- PASO 1 : INFO DEL PROYECTO -->
        <div class="form mb-auto" v-if="paso === 1">
            <form action="#" class="formulario"  slot="formulario">
                <div class="form-group">
                    <div class="input-group">
                    <b-form-input
                        type="text"
                        v-model="prototipo.especificaciones.numero_prototipo"
                        class="form-control"
                        :placeholder="$t('especificaciones.numero_prototipo')"
                    ></b-form-input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <b-form-input
                        type="text"
                        v-model="prototipo.especificaciones.nombre_proyecto"
                        class="form-control"
                        :placeholder="$t('especificaciones.nombre_proyecto')"
                    ></b-form-input>
                    </div>
                </div>
                <div class="form-group">

                    <div class="input-group">
                    <b-form-input
                        type="text"
                        v-model="prototipo.especificaciones.plataforma"
                        class="form-control"
                        :placeholder="$t('especificaciones.plataforma')"
                    ></b-form-input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <b-form-input
                        type="text"
                        v-model="prototipo.especificaciones.modelo"
                        class="form-control"
                        :placeholder="$t('especificaciones.modelo')"
                    ></b-form-input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <b-form-input
                        type="number"
                        v-model="prototipo.especificaciones.pzasTotales"
                        class="form-control"
                        :placeholder="$t('especificaciones.piezas_totales')"
                    ></b-form-input>
                    </div>
                </div>
                <div class="form-group">
                  <datepicker v-model="prototipo.especificaciones.fecha" :format="customFormatter" :language="es" :placeholder="$t('especificaciones.fecha')"></datepicker>
                </div>
            </form>
        </div>
        <!-- TERMINA PASO 1 -->

        <!-- PASO 2 : TIPO DE CLASE   -->
        <div class="paso2 mb-auto w-100" v-if="paso === 2">
            <div class="container">
                <div class="row">
                    <b-form-radio-group
                        id="btn-radios-1"
                        class="w-100"
                        buttons
                        v-model="prototipo.especificaciones.tipoClase"
                        name="radios-btn-default"
                    >
                    <div class="col-md-4">
                        <b-form-radio name="some-radios" value="A">A</b-form-radio>
                        <div class="info">
                            <img @click="e => e.target.nextElementSibling.classList.toggle('active')" src="@/assets/images/info.svg">
                            <div class="info-texto">
                                <svg height="25" width="30">
                                        <polygon points="13,0 0,27 27,26" class="triangle" />
                                </svg>
                                	<b>{{ $t('especificaciones.clase') }} A:</b>
                                    <ul>
                                        <li>{{ $t('especificaciones.tipo_clase.a.1') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.a.2') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.a.3') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.a.4') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.a.5') }}</li>
                                        <!-- <li>{{ $t('especificaciones.tipo_clase.a.6') }}</li> -->
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <b-form-radio name="some-radios" value="B">B</b-form-radio>
                        <div class="info">
                            <img @click="e => e.target.nextElementSibling.classList.toggle('active')" src="@/assets/images/info.svg">
                            <div class="info-texto">
                                <svg height="25" width="30">
                                        <polygon points="13,0 0,27 27,26" class="triangle" />
                                </svg>
                                	<b>Class B:</b>
                                    <ul>
                                        <li>{{ $t('especificaciones.tipo_clase.b.1') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.b.2') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.b.3') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.b.4') }}</li>
                                        <!-- <li>{{ $t('especificaciones.tipo_clase.a.5') }}</li> -->
                                        <!-- <li>{{ $t('especificaciones.tipo_clase.a.6') }}</li> -->
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <b-form-radio name="some-radios" value="C">C</b-form-radio>
                        <div class="info">
                            <img @click="e => e.target.nextElementSibling.classList.toggle('active')" src="@/assets/images/info.svg">
                            <div class="info-texto">
                                <svg height="25" width="30">
                                        <polygon points="13,0 0,27 27,26" class="triangle" />
                                </svg>
                                	<b>Class C:</b>
                                    <ol>
                                        <li>{{ $t('especificaciones.tipo_clase.c.1') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.c.2') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.c.3') }}</li>
                                        <li>{{ $t('especificaciones.tipo_clase.c.4') }}</li>
                                        <!-- <li>{{ $t('especificaciones.tipo_clase.a.5') }}</li> -->
                                        <!-- <li>{{ $t('especificaciones.tipo_clase.a.6') }}</li> -->
                                    </ol>
                            </div>
                        </div>
                    </div>
                    </b-form-radio-group>
                    </b-form-group>
                </div>

            </div>
        </div>
        <!-- TERMINA PASO 2 -->
        <!-- PASO 3 : UBICACIÓN DE LA PIEZA   -->
        <div class="paso3 mb-auto w-100 text-center" v-if="paso === 3">
            <ubi @ubi="ubiPza" :propUbicacion="prototipo.especificaciones.ubicacion_pieza" :propClase="prototipo.especificaciones.tipoClase" ></ubi>
        </div>
        <!-- TERMINA PASO 3 -->
        <!-- PASO 4 : PIEZA -->
        <div class="paso4 mb-auto text-center" v-if="paso === 4">
            <div class="interior" v-if="ubicacionPieza === 'interior'">
                    <interior @changePzaInterior="changePzaInterior" :propPieza="prototipo.especificaciones.pieza_interior" ></interior>
            </div>
            <div class="exterior" v-if="ubicacionPieza === 'exterior'">
                <exterior @changePzaExterior="changePzaExterior" :propPieza="prototipo.especificaciones.pieza_exterior" ></exterior>
            </div>
        </div>
        <!-- TERMINA PASO 4 : PIEZA -->
        <!-- PASO 5 : FORMA DE LA PIEZA -->
        <div class="paso5 mb-auto text-center" v-if="paso === 5">
            <b-form-radio-group
                id="btn-radios-1"
                class="w-100"
                buttons
                v-model="prototipo.especificaciones.forma_pieza"
                name="formaPieza"
            >
            <div class="row mt-4">
                <div class="col-md-6 mb-4 text-center">
                    <b-form-radio name="trapezoide" value="Trapezoide">
                        <img src="@/assets/images/trapezoide.svg"><br>
                        <div class="info">
                            <span>{{ $t('especificaciones.forma_pieza.trapezoide') }} <img @click="e => e.target.nextElementSibling.classList.toggle('active')" class="mb-0" src="@/assets/images/info.svg">
                                <div class="info-text">
                                    {{ $t('especificaciones.forma_pieza.txt') }} {{ $t('especificaciones.forma_pieza.trapezoide') }} {{ $t('especificaciones.forma_pieza.view')}}
                                </div>
                            </span>
                        </div>
                    </b-form-radio>
                </div>
                <div class="col-md-6 mb-4 text-center">
                    <b-form-radio name="rectangular" value="Rectangular">
                        <img src="@/assets/images/rectangular.svg"><br>
                        <div class="info">
                            <span>{{ $t('especificaciones.forma_pieza.rectangular') }} <img @click="e => e.target.nextElementSibling.classList.toggle('active')" class="mb-0" src="@/assets/images/info.svg">
                                <div class="info-text">
                                    {{ $t('especificaciones.forma_pieza.txt') }} {{ $t('especificaciones.forma_pieza.rectangular') }} {{ $t('especificaciones.forma_pieza.view')}}
                                </div>
                            </span>
                        </div>
                    </b-form-radio>
                </div>
                <div class="col-md-6 text-center">
                    <b-form-radio name="cuadrada" value="Cuadrada">
                        <img src="@/assets/images/cuadrada.svg"><br>
                        <div class="info">
                            <span>{{ $t('especificaciones.forma_pieza.cuadrada') }} <img @click="e => e.target.nextElementSibling.classList.toggle('active')" class="mb-0" src="@/assets/images/info.svg">
                                <div class="info-text">
                                    {{ $t('especificaciones.forma_pieza.txt') }} {{ $t('especificaciones.forma_pieza.cuadrada') }} {{ $t('especificaciones.forma_pieza.view')}}
                                </div>
                            </span>
                        </div>
                    </b-form-radio> 
                </div>
                <div class="col-md-6 text-center">
                    <b-form-radio name="triangular" value="Triangular">
                        <img src="@/assets/images/triangular.svg"><br>
                        <div class="info">
                            <span>{{ $t('especificaciones.forma_pieza.triangular') }} <img @click="e => e.target.nextElementSibling.classList.toggle('active')" class="mb-0" src="@/assets/images/info.svg">
                                <div class="info-text">
                                    {{ $t('especificaciones.forma_pieza.txt') }} {{ $t('especificaciones.forma_pieza.triangular') }} {{ $t('especificaciones.forma_pieza.view')}}
                                </div>
                            </span>
                        </div>
                    </b-form-radio> 
                </div>
            </div>
            </b-form-radio-group>
        </div>
        <!-- TERMINA PASO 5 : FORMA DE LA PIEZA -->
        <!-- PASO 6 : PIEZA (MM) -->
        <div class="paso6 mb-auto text-center" v-if="paso === 6">
            <piezaMM 
            :propAlturaNum="prototipo.especificaciones.altura_pieza" 
            :propAnchoNum="prototipo.especificaciones.ancho_pieza" 
            :propLargoNum="prototipo.especificaciones.largo_pieza" 
            @dimencionesPieza="dimencionesPieza"></piezaMM>
        </div>
        <!-- TERMINA PASO 6 : PIEZA (MM) -->
        <!-- PASO 7 : PESO (g) -->
        <div class="paso7 mb-auto text-center" v-if="paso === 7">
           <div class="peso inputNum">
                <!-- <button v-bind:disabled="prototipo.especificaciones.peso_num === 0" class="prev" @click="prototipo.especificaciones.peso_num--"><img src="@/assets/images/triangle-left.svg"></button> -->
                <div id="altura">
                    <!-- <span v-if="prototipo.especificaciones.peso_num >= 2" class="mr-3">{{ prototipo.especificaciones.peso_num - 2 }}</span><span>{{ prototipo.especificaciones.peso_num - 1 }}</span></span> -->
                    <input id="numAct" name="numAct" v-model.number="prototipo.especificaciones.peso_num" type="number" placeholder="0"/>
                    <!-- <span id="numSig" class="mr-3">{{ prototipo.especificaciones.peso_num+1 }}</span><span>{{ prototipo.especificaciones.peso_num+2 }}</span> -->
                </div>
                <!-- <button class="next" @click="prototipo.especificaciones.peso_num++"><img src="@/assets/images/triangle-right.svg"></button> -->
            </div>
            <!-- <div class="toggle-switch">
                <span v-bind:class="[{ 'active': !isActive }]">Kg</span>
                <input type="checkbox" id="switch" v-model="prototipo.especificaciones.es_kg" @change="changeColor()"/>
                <label class="switch" for="switch">Toggle</label>
                <span v-bind:class="[{ 'active': isActive }]">Lb</span>
            </div> -->
        </div>
        <!-- TERMINA PASO 7 : PESO -->
        <!-- PASO 8 : ACABADOS -->
        <div class="paso8 mb-auto text-center w-100" v-if="paso === 8">
            <div class="row">
                <b-form-radio-group
                v-model="prototipo.especificaciones.acabado"
                buttons
                class="w-100 acabado radio-images"
                name="acabado">
                    <div class="col-md-4">
                        <b-form-radio value="Pintura (color)">
                            <!-- <img src="@/assets/images/pintura.png"> -->
                            <span>{{$t('especificaciones.acabado.opciones.inyecciones')}}</span>
                        </b-form-radio>
                    </div>
                    <div class="col-md-4">
                        <b-form-radio value="Graining">
                            <!-- <img src="@/assets/images/graining.png"> -->
                            <span>{{$t('especificaciones.acabado.opciones.pintadas')}}</span>
                        </b-form-radio>
                    </div>
                    <div class="col-md-4">
                        <b-form-radio value="Recubrimiento">
                            <!-- <img src="@/assets/images/recubrimiento.png"> -->
                            <span>{{$t('especificaciones.acabado.opciones.acabados')}}</span>
                        </b-form-radio>
                    </div>
                </b-form-radio-group>
            </div>
        </div>


        <div class="text-center registro mt-4">
            <button v-if="paso == 1" 
            v-bind:disabled="prototipo.especificaciones.plataforma === null || 
            prototipo.especificaciones.nombre_proyecto === null || 
            prototipo.especificaciones.modelo === null || 
            prototipo.especificaciones.pzasTotales === null || 
            prototipo.especificaciones.fecha === undefined" 
            @click="siguientePaso(paso)" 
            tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>

            <button v-if="paso === 2" 
            v-bind:disabled="
            prototipo.especificaciones.tipoClase === ''" 
            @click="siguientePaso(paso)" 
            tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>

            <button v-bind:disabled="ubicacionPieza ===  undefined" v-if="paso === 3" 
            @click="siguientePaso(paso)" 
            tag="button" 
            class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>

            <button v-if="paso === 4" 
            v-bind:disabled="
            prototipo.especificaciones.pieza_interior === '' &&
            prototipo.especificaciones.pieza_exterior ===''" 
            @click="siguientePaso(paso)" 
            tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>

            <button v-if="paso === 5" 
            v-bind:disabled="
            prototipo.especificaciones.forma_pieza === ''" 
            @click="siguientePaso(paso)" 
            tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>

            <button v-if="paso === 6 || paso === 7" 
            @click="siguientePaso(paso)" 
            tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>



            <button v-if="paso === 8" @click="ultimoPaso()" tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>
        </div>
        <!-- <div class="colab mt-2" v-if="paso > 3">
            {{ $t('en_colaboracion') }}<strong> "Marina Coating"</strong>
        </div> -->
    </section>
</template>

<script lang="js">
import { mapState, mapGetters, mapActions } from 'vuex';

import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
import {es} from 'vuejs-datepicker/dist/locale'
import ubi from '@/componentes/esp/ubi'
import interior from '@/componentes/esp/interior'
import exterior from '@/componentes/esp/exterior'
import piezaMM from '@/componentes/esp/piezaMM'


export default {
  name: 'Especificaciones',
  components: {
    Datepicker,
    ubi,
    interior,
    exterior,
    piezaMM
  },
  data() {
    return {
        acabado: 'Graining',
        isActive: false,
        ubicacionPieza: undefined,
        tituloSecundario: this.$t('especificaciones.paso1.titulo'),
        subtitulo: this.$t('especificaciones.paso1.subtitulo'),
        paso: 1,
        tipoClase: 'A',
        es: es,
        checked: false,
        fecha:undefined,
        nombre: 'Ricardo Martínez',
        nombre_proyecto: null,
        plataforma: null,
        modelo:null,
        switchKg: null,
        formaPieza: null,
        pzasTotales: null,
        oPlataforma: [
            { value: 1, text: 'Plataforma 1' },
            { value: 2, text: 'Plataforma 2' }
        ],
        oModelo: [
            { value: 1, text: 'Modelo 1' },
            { value: 2, text: 'Modelo 2' }
        ],
        oPzas: [
            {value: 1, text: '1 pza'},
            {value: 2, text: '2 pzas'},
        ],
        pesoNum: 90
    }
  },
  mounted() {
        this.menu()
       
  },  
  created() {
    if(this.prototipo.especificaciones.fecha.seconds){
        this.prototipo.especificaciones.fecha = new Date(this.prototipo.especificaciones.fecha.seconds*1000)
    }
  },
  computed: {
    ...mapGetters(['prototipo', 'infoUser']),
    local () {
    //   this.titulos();
      return this.$store.state.app.local
    },
  },
  watch: {
    'local': function(val){
      this.titulos();
    }
  },
  methods: {
    ...mapActions(['addPrototipo', 'updatePrototipo', 'setPrototipo',
    'modalCargando' ]),
    changeColor() {
      this.isActive = !this.isActive
    },
    menu(){
          if(window.width > 992){
            var list = document.getElementsByClassName("logo")[0];
          list.innerHTML = "TYVEK® DUNNAGE TOOL";
          document.body.classList.remove('sidebar-small');   
        }
        },
    ubiPza(variable) {
        this.ubicacionPieza = variable
        this.prototipo.especificaciones.ubicacion_pieza = variable
    },
    dimencionesPieza(medidas){
        this.prototipo.especificaciones.altura_pieza = medidas.altura_pieza
        this.prototipo.especificaciones.ancho_pieza = medidas.ancho_pieza
        this.prototipo.especificaciones.largo_pieza = medidas.largo_pieza
    },
    changePzaInterior(pieza){
        this.prototipo.especificaciones.pieza_interior = pieza
    },
    changePzaExterior(pieza){
        this.prototipo.especificaciones.pieza_exterior = pieza
    },
    customFormatter(date) {
      return moment(date).format('D/M/YYYY');
    },
    pasoAnterior(pasoN){
        this.paso = pasoN - 1;
        this.titulos();
    },
    siguientePaso(pasoN){
        this.guardarPaso(pasoN);
        this.paso = pasoN + 1;
        this.titulos();
    },
    ultimoPaso(){
        this.guardarPaso(8);
    },
    guardarPaso(pasoN){
        console.log("TCL: guardarPaso -> pasoN", pasoN)
        this.modalCargando(true);
        

        if(pasoN == 1){
            /******** */
            this.setPrototipo(this.prototipo);

            console.log("TCL: guardar protitipo -> data", this.prototipo)
            if(this.prototipo.id){
                this.prototipo.fecha_edicion = new Date()
                this.editarProtitipo(pasoN);
            }else{
                //Suponiendo que es nuevo
                this.prototipo.user_id = this.infoUser.token;
                this.prototipo.nombre_completo = this.infoUser.nombre_completo;
                this.prototipo.nombre_empresa = this.infoUser.nombre_empresa;
                this.prototipo.fecha_creacion = new Date()
                
                this.prototipo.especificaciones.pasos_completados.paso1 = true;
                this.addPrototipo(this.prototipo).then((resp)=>{
                    this.prototipo.id = resp.id
                    this.setPrototipo(this.prototipo);
                    this.modalCargando(false);
                }).catch((error)=>{
                    this.modalCargando(false);
                    console.log(error)
                })
            }
            //******* */
        }else{
            this.prototipo.fecha_edicion = new Date()
            if(pasoN == 2){ this.prototipo.especificaciones.pasos_completados.paso2 = true;}
            if(pasoN == 3){ this.prototipo.especificaciones.pasos_completados.paso3 = true;}
            if(pasoN == 4){ this.prototipo.especificaciones.pasos_completados.paso4 = true;}
            if(pasoN == 5){ this.prototipo.especificaciones.pasos_completados.paso5 = true;}
            if(pasoN == 6){ this.prototipo.especificaciones.pasos_completados.paso6 = true;}
            if(pasoN == 7){ this.prototipo.especificaciones.pasos_completados.paso7 = true;}
            if(pasoN == 8){ 
                this.prototipo.especificaciones.pasos_completados.paso8 = true;
                this.prototipo.especificaciones.completado = true;
            }
            this.editarProtitipo(pasoN);
        }

        

       




    },
    editarProtitipo(pasoN){
        this.setPrototipo(this.prototipo);
        console.log("TCL: guardar protitipo -> data", this.prototipo)

        this.prototipo.solicitar_btn.disenio = false,
        this.prototipo.solicitar_btn.prototipo = false,
        
        this.updatePrototipo(this.prototipo).then((resp)=>{
            if(pasoN == 8){
                this.$router.push({name: 'Tipo de Contenedor'});
            }
            this.modalCargando(false);
        }).catch((error)=>{
            this.modalCargando(false);
            console.log(error)
        })
    },
    titulos(){
        if(this.paso === 1){
            this.tituloSecundario = this.$t('especificaciones.paso1.titulo');
            this.subtitulo = this.$t('especificaciones.paso1.subtitulo');
        }
        if(this.paso === 2){
            this.tituloSecundario = this.$t('especificaciones.paso2.titulo');
            this.subtitulo = this.$t('especificaciones.paso2.subtitulo');
        }
        if(this.paso === 3){
            this.tituloSecundario = this.$t('especificaciones.ubicacion.ubicacion');
            this.subtitulo = this.$t('especificaciones.ubicacion.selecciona');
        }
        if(this.paso === 4 && this.local == 'en-US'){
            this.tituloSecundario = this.prototipo.especificaciones.tipoClase +' '+ this.$t('especificaciones.pieza.exterior.clase.a.titulo');
            this.subtitulo = this.$t('especificaciones.pieza.selecciona');
        }else if(this.paso === 4 && this.local == 'es-ES'){
            this.tituloSecundario = this.$t('especificaciones.pieza.exterior.clase.a.titulo') + ' ' +this.prototipo.especificaciones.tipoClase;
            this.subtitulo = this.$t('especificaciones.pieza.selecciona');
        }
        if(this.paso === 5){
            this.tituloSecundario = this.$t('especificaciones.forma_pieza.forma_pieza');
            this.subtitulo = this.$t('especificaciones.forma_pieza.sub');
        }
        if(this.paso === 6){
            this.tituloSecundario = this.$t('especificaciones.dimenciones') + ' (mm)';
            this.subtitulo='';
        }
        if(this.paso === 7){
            this.tituloSecundario = this.$t('especificaciones.peso') + ' ' + this.$t('especificaciones.gramos');
        }
        if(this.paso === 8){
            this.tituloSecundario = this.$t('especificaciones.acabado.acabado');
            this.subtitulo= this.$t('especificaciones.acabado.sub');
        }
    },

  }
}
</script>

<style scoped lang="scss">
</style>