<template lang='html'>
    <section class='contenido mis-prototipos numero-piezas'>
        <div  class="form-group text-left recuperar align-self-start">
        <router-link to="/tipo-de-contenedor" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('regresar') }}</router-link>
      </div>
        <!-- TITULOS DE LA SECCIÓN -->
        <h1 v-if="prototipo.especificaciones.nombre_proyecto == null || prototipo.especificaciones.nombre_proyecto == ''">
            <i class="icn icn-prototipos"></i>
            {{ $t('especificaciones.nuevo_prototipo') }}
        </h1>
        <h1 v-else>
            <i class="icn icn-prototipos"></i>
            {{ prototipo.especificaciones.nombre_proyecto }}
        </h1>
        <h2>{{ $t('num_piezas.num_piezas') }}</h2>
        <span class="subtitulo mb-auto">{{ subtitulo }}</span>

        <!-- PASO 1 : INFO DEL PROYECTO -->
        <div class="my-auto">
            <div class="peso inputNum" v-bind:class="[{ 'inactive': prototipo.num_piezas.na }]">
                <!-- <button v-bind:disabled="prototipo.num_piezas.num_piezas === 1 || prototipo.num_piezas.na" class="prev"><img src="@/assets/images/triangle-left.svg"></button> -->
                <div id="altura">
                    <!-- <span v-if="!prototipo.num_piezas.na" :class="prototipo.num_piezas.num_piezas <= 2 ? 'invisible' : 'visible'" class="mr-3">{{ prototipo.num_piezas.num_piezas - 2 }}</span><span v-if="!prototipo.num_piezas.na" :class="prototipo.num_piezas.num_piezas == 1 ? 'invisible' : 'visible'" >{{ prototipo.num_piezas.num_piezas - 1 }}</span></span> -->
                    <input v-bind:disabled="prototipo.num_piezas.na" id="numAct" name="numAct" v-model.number="prototipo.num_piezas.num_piezas" type="number" placeholder="0"/>
                    <!-- <span v-if="!prototipo.num_piezas.na"  id="numSig" class="mr-3">{{ prototipo.num_piezas.num_piezas+1 }}</span><span v-if="!prototipo.num_piezas.na">{{ prototipo.num_piezas.num_piezas+2 }}</span> -->
                </div>
                <!-- <button v-bind:disabled="prototipo.num_piezas.na" class="next" @click="prototipo.num_piezas.num_piezas++"><img src="@/assets/images/triangle-right.svg"></button> -->
            </div>
            <!--<div class="toggle-switch my-3 text-center">
                <span v-bind:class="[{ 'active': prototipo.num_piezas.na }]">N/A</span>
                <input type="checkbox" id="switch" v-model="switchKg" @change="changeColor()"/>
                <label class="switch" for="switch">Toggle</label>
            </div>-->
            <div class="switch-bootstrap my-3 text-center">
                <span v-bind:class="[{ 'active': prototipo.num_piezas.na === 'true' }]">N/A</span>
                <b-form-checkbox v-model="prototipo.num_piezas.na" size="lg" name="check-button" switch></b-form-checkbox>
                
            </div>
        </div>

        <!-- TERMINA PASO 1 -->
        <div class="text-center registro mt-4">
          <button @click="onGuardar()" tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>
        </div>
        <!-- <div class="colab mt-2" v-if="paso > 3">
            {{ $t('en_colaboracion') }}<strong> "Marina Coating"</strong>
        </div> -->
    </section>
</template>

<script lang="js">
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'Num_Piezas',
  components: {
    
  },
  data() {
    return {
        tituloSecundario:'Número de Piezas por Contenedor (SNP)',
        subtitulo: '',
        paso: 1,
        switchKg: null,
        
    }
  },
  created() {
    if(this.prototipo.tipo_contenedor){
      if(!this.prototipo.tipo_contenedor.completado){
        console.log('TCL: NO ESTA COMPLETADO Tipo de Contenedor')
        this.$router.push({name: 'Tipo de Contenedor'})
      }
    }else{
        console.log('TCL: NO ESTA COMPLETADO Tipo de Contenedor')
        this.$router.push({name: 'Tipo de Contenedor'})
    }
  },
  computed: {
    ...mapGetters(['prototipo', 'infoUser']),
  },
  methods: {
    ...mapActions(['updatePrototipo', 'setPrototipo',
    'modalCargando' ]),
    onGuardar(){
        this.modalCargando(true);
        this.prototipo.fecha_edicion = new Date()
        this.prototipo.num_piezas.completado = true;
        this.setPrototipo(this.prototipo);
        console.log("TCL: guardar protitipo -> data", this.prototipo)

        this.prototipo.solicitar_btn.disenio = false,
        this.prototipo.solicitar_btn.prototipo = false,
        
        this.updatePrototipo(this.prototipo).then((resp)=>{
            this.modalCargando(false);
            this.$router.push({name: 'Tipo de uso'});
        }).catch((error)=>{
            this.modalCargando(false);
            console.log(error)
        })
    },
    changeColor() {
      this.prototipo.num_piezas.na = !this.prototipo.num_piezas.na
    }

  }
}
</script>

<style scoped lang="scss">
</style>