<template lang='html'>
    <section class='contenido mis-prototipos tipo-uso'>
        <div  class="form-group text-left recuperar align-self-start">
        <router-link to="/numero-de-piezas" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('regresar') }}</router-link>
      </div>
        <!-- TITULOS DE LA SECCIÓN -->
        <h1 v-if="prototipo.especificaciones.nombre_proyecto == null || prototipo.especificaciones.nombre_proyecto == ''">
            <i class="icn icn-prototipos"></i>
            {{ $t('especificaciones.nuevo_prototipo') }}
        </h1>
        <h1 v-else>
            <i class="icn icn-prototipos"></i>
            {{ prototipo.especificaciones.nombre_proyecto }}
        </h1>
        <h2>{{ $t('tipo_uso.tipo_uso') }}</h2>
        <span class="subtitulo mb-auto">{{ $t('tipo_uso.como_vas') }}</span>

        <!-- PASO 1 : INFO DEL PROYECTO -->
        <div class="my-auto">
            <b-form-radio-group
                v-model="prototipo.tipo_uso.tipo_uso"
                buttons
                class="w-100 mt-4 mb-4"
                name="tipoUso">
            <div class="grid">
                <div class="stretch-card">
                    <b-form-radio value="Externo">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                <img src="@/assets/images/externo.svg">
                                </div>
                            </div>
                            <div class="card-footer">
                                {{ $t('tipo_uso.externo') }}
                            </div>
                        </div>
                    </b-form-radio>
                </div>
                <div class="stretch-card">
                    <b-form-radio value="Interno">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                <img src="@/assets/images/interno.svg">
                                </div>
                            </div>
                            <div class="card-footer">
                                 {{ $t('tipo_uso.interno') }}
                            </div>
                        </div>
                    </b-form-radio>
                </div>
                <b-form-radio value="No estoy seguro">
                        <div class="card" id="no-estoy-seguro" >
                            <div> {{ $t('tipo_uso.no_seguro') }}</div>
                        </div>
                    </b-form-radio>
                
      </div>
      </b-form-radio-group>
        </div>

        <!-- TERMINA PASO 1 -->
        <div class="text-center registro mt-4">
            <button :disabled="prototipo.tipo_uso.tipo_uso == null" @click="onGuardar()" tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>
        </div>
        <!-- <div class="colab mt-2" v-if="paso > 3">
            {{ $t('en_colaboracion') }}<strong> "Marina Coating"</strong>
        </div> -->
    </section>
</template>

<script lang="js">
import { mapGetters, mapActions } from 'vuex';
export default {
  name: 'Tipo_Uso',
  components: {
    
  },
  data() {
    return {
        paso: 1,
        tituloSecundario:'Traslado de las piezas',
        subtitulo: '¿Cómo vas a usar el contenedor?',
        isActive: false
        
    }
  },
  computed: {
      ...mapGetters(['prototipo', 'infoUser']),
  },
  methods: {
    ...mapActions(['updatePrototipo', 'setPrototipo',
    'modalCargando' ]),
    onGuardar(){
        this.modalCargando(true);
        this.prototipo.fecha_edicion = new Date()
        this.prototipo.tipo_uso.completado = true;
        this.setPrototipo(this.prototipo);
        console.log("TCL: guardar protitipo -> data", this.prototipo)

        this.prototipo.solicitar_btn.disenio = false,
        this.prototipo.solicitar_btn.prototipo = false,
        
        this.updatePrototipo(this.prototipo).then((resp)=>{
            this.modalCargando(false);
            this.$router.push({name: 'Almacenamiento'});
        }).catch((error)=>{
            this.modalCargando(false);
            console.log(error)
        })
    },
    changeColor() {
      this.isActive = !this.isActive
    }

  },
  created() {
      if(this.prototipo.num_piezas){
        if(!this.prototipo.num_piezas.completado){
          console.log('TCL: NO ESTA COMPLETADO num_piezas')
          this.$router.push({name: 'Número de Piezas'})
        }
      }else{
          console.log('TCL: NO ESTA COMPLETADO num_piezas')
          this.$router.push({name: 'Número de Piezas'})
      }
  },
  
}
</script>

<style scoped lang="scss">
</style>