<template lang='html'>
    <section class='contenido mis-prototipos tipo-contenedor'>
        <div  class="form-group text-left recuperar align-self-start">
        
        <a  href="#" @click="$router.push({name: 'Especificaciones', params: { pasoprop: 8 }});" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('regresar') }}</a>
      </div>
        <!-- TITULOS DE LA SECCIÓN -->
        <h1 v-if="prototipo.especificaciones.nombre_proyecto == null || prototipo.especificaciones.nombre_proyecto == ''">
            <i class="icn icn-prototipos"></i>
            {{ $t('especificaciones.nuevo_prototipo') }}
        </h1>
        <h1 v-else>
            <i class="icn icn-prototipos"></i>
            {{ prototipo.especificaciones.nombre_proyecto }}
        </h1>
        <h2>{{ $t('tipo_contenedor.tipo_contenedor') }}</h2>
        <span class="subtitulo mb-auto">{{ $t('tipo_contenedor.sub') }}</span>

        <!-- PASO 1 : INFO DEL PROYECTO -->
        <div class="my-auto">
            <b-form-radio-group
                v-model="prototipo.tipo_contenedor.tipo_contenedor"
                buttons
                class="w-100 mt-4 mb-4"
                name="tipo_contenedor">
            <div class="grid">
                <div class="stretch-card">
                    <b-form-radio value="tote">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                <img src="@/assets/images/tote.jpg">
                                </div>
                            </div>
                            <div class="card-footer">
                                Tote <div @click="info1 = !info1" class="mr-3">
                                    <img src="@/assets/images/info.svg" style="width:20px;height:auto;"></div>
                                    <div class="info-text info-contenedor" v-if="info1">
                                        Este contenedor se esta tomando como muestra para el ejercicio
                                    </div>
                            </div>
                        </div>
                    </b-form-radio>
                </div>
                <div class="stretch-card">
                    <b-form-radio value="Bulk">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                <img src="@/assets/images/bulk.jpg">
                                </div>
                            </div>
                            <div class="card-footer">
                                Bulk <div @click="info2 = !info2" class="mr-3">
                                    <img src="@/assets/images/info.svg" style="width:20px;height:auto;"></div>
                                    <div class="info-text info-contenedor" v-if="info2">
                                        Este contenedor se esta tomando como muestra para el ejercicio
                                    </div>
                            </div>
                        </div>
                    </b-form-radio>
                </div>
                <div class="stretch-card">
                    <b-form-radio value="Rack">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                <img src="@/assets/images/rack.jpg">
                                </div>
                            </div>
                            <div class="card-footer">
                                Rack <div @click="info3 = !info3" class="mr-3">
                                    <img src="@/assets/images/info.svg" style="width:20px;height:auto;"></div>
                                    <div class="info-text info-contenedor" v-if="info3">
                                        Este contenedor se esta tomando como muestra para el ejercicio
                                    </div>
                            </div>
                        </div>
                    </b-form-radio>
                </div>
                <div class="stretch-card">
                    <b-form-radio value="otros">
                        <div class="card">
                            <div class="card-body">
                                
                                <div class="d-flex flex-row" :class="{otros : prototipo.tipo_contenedor.tipo_contenedor === 'otros'}">
                                    <i><img src="@/assets/images/otros.svg"></i>
                                </div>
                                <transition name="fade">
                                    <div v-if="prototipo.tipo_contenedor.tipo_contenedor === 'otros'" class="otros-inputs">
                                        <small>Ingresa las medidas del contenedor</small>
                                        <input v-model="prototipo.tipo_contenedor.otro.altura" :class="{ 'campo-obligatorio' : prototipo.tipo_contenedor.otro.altura <= 0}" type="number" placeholder="Altura (mm)">
                                        <input v-model="prototipo.tipo_contenedor.otro.ancho" :class="{ 'campo-obligatorio' : prototipo.tipo_contenedor.otro.ancho <= 0}" type="number" placeholder="Ancho (mm)">
                                        <input v-model="prototipo.tipo_contenedor.otro.largo" :class="{ 'campo-obligatorio' : prototipo.tipo_contenedor.otro.largo <= 0}" type="number" placeholder="Largo (mm)">
                                    </div>
                                </transition>
                            </div>
                            <div class="card-footer">
                                {{ $t('tipo_contenedor.otros') }}
                            </div>
                        </div>
                    </b-form-radio>
                </div>
      </div>
      </b-form-radio-group>
    </div>

        <!-- TERMINA PASO 1 -->
        <div class="text-center registro mt-4">
            <button v-bind:disabled="prototipo.tipo_contenedor.tipo_contenedor === null || !btnContinuar" @click="onGuardar()" tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('continuar') }}</button>
        </div>
        <!-- <div class="colab mt-2" v-if="paso > 3">
            {{ $t('en_colaboracion') }}<strong> "Marina Coating"</strong>
        </div> -->
    </section>
</template>

<script lang="js">
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Tipo_Contenedor',
  components: {
    
  },
  data() {
    return {
        paso: 1,
        tituloSecundario:'Tipo de Contenedor',
        subtitulo: 'Selecciona el tipo de contenedor donde almacenarás la pieza',
        
        btnContinuar: true,
        info1: false,
        info2: false,
        info3: false,
    }
  },
    created() {
        if(this.prototipo.especificaciones){
            if(!this.prototipo.especificaciones.completado){
            console.log('TCL: NO ESTA COMPLETADO ESPEFICICACIONES')
            this.$router.push({name: 'Especificaciones'})
            }
        }else{
            console.log('TCL: NO ESTA COMPLETADO ESPEFICICACIONES')
            this.$router.push({name: 'Especificaciones'})
        }
    },
    watch: {
        'prototipo.tipo_contenedor.tipo_contenedor': function (params) {
            this.btnContinuar = this.prototipo.tipo_contenedor.tipo_contenedor !== 'otros' ?  true : false;
            this.btnContinuar = this.verificarValores();
        },
        'prototipo.tipo_contenedor.otro.altura': function (params) {
            this.btnContinuar = this.verificarValores();
        },
        'prototipo.tipo_contenedor.otro.ancho': function (params) {
            this.btnContinuar = this.verificarValores();
        },
        'prototipo.tipo_contenedor.otro.largo': function (params) {
            this.btnContinuar = this.verificarValores();
        }
    },
    computed: {
        ...mapGetters(['prototipo', 'infoUser']),
    },
    methods: {
        ...mapActions(['updatePrototipo', 'setPrototipo',
        'modalCargando' ]),
        onGuardar(){
            this.modalCargando(true);
            this.prototipo.fecha_edicion = new Date()
            this.prototipo.tipo_contenedor.completado = true;
            this.setPrototipo(this.prototipo);
            console.log("TCL: guardar protitipo -> data", this.prototipo)

            this.prototipo.solicitar_btn.disenio = false,
            this.prototipo.solicitar_btn.prototipo = false,

            this.updatePrototipo(this.prototipo).then((resp)=>{
                this.modalCargando(false);
                this.$router.push({name: 'Número de Piezas'});
            }).catch((error)=>{
                this.modalCargando(false);
                console.log(error)
            })
        },
        verificarValores(){
            if(this.prototipo.tipo_contenedor){
                if(this.prototipo.tipo_contenedor.tipo_contenedor === 'otros'){
                    return this.prototipo.tipo_contenedor.otro.altura <= 0  
                    || this.prototipo.tipo_contenedor.otro.ancho <= 0 
                    || this.prototipo.tipo_contenedor.otro.largo <= 0 ?  false : true;
                }

                if(this.prototipo.tipo_contenedor.tipo_contenedor === 'tote'){
                    if(this.prototipo.especificaciones.altura_pieza > 249 || 
                    this.prototipo.especificaciones.ancho_pieza > 330 || 
                    this.prototipo.especificaciones.largo_pieza > 544){
                        this.$swal.fire(
                        'Uups!',
                        'Las medidas de las especificaciones son mayores al del contenedor, editalo o selecciona otro contenedor.',
                        'warning'
                        );
                        return false
                    }
                    return true;
                }

                if(this.prototipo.tipo_contenedor.tipo_contenedor === 'Rack'){
                    if(this.prototipo.especificaciones.altura_pieza > 1016 || 
                    this.prototipo.especificaciones.ancho_pieza > 1219.2 || 
                    this.prototipo.especificaciones.largo_pieza > 1219.2){
                        this.$swal.fire(
                        'Uups!',
                        'Las medidas de las especificaciones son mayores al del contenedor, editalo o selecciona otro contenedor.',
                        'warning'
                        );
                        return false
                    }
                    return true;
                }

                if(this.prototipo.tipo_contenedor.tipo_contenedor === 'Bulk'){
                    if(this.prototipo.especificaciones.altura_pieza > 1219 || 
                    this.prototipo.especificaciones.ancho_pieza > 864 || 
                    this.prototipo.especificaciones.largo_pieza > 1143){
                        this.$swal.fire(
                        'Uups!',
                        'Las medidas de las especificaciones son mayores al del contenedor, editalo o selecciona otro contenedor.',
                        'warning'
                        );
                        return false
                    }
                    return true;
                }


            }
        }


  }
}
</script>

<style scoped lang="scss">
.campo-obligatorio{
    border-color: red !important;
}

.info-contenedor{
    opacity: 0.8;
    font-size: 13px;
}
</style>