<template lang="html">

  <section class="alert-default">
    <button class="btn btn-outline-success" v-on:click="showAlert">Click here!</button>
  </section>

</template>

<script lang="js">
export default {
  name: 'alert-default',
  methods: {
    showAlert () {
      this.$swal('Hello Vue world!!!')
    }
  }
}
</script>

<style scoped lang="scss">
  .alert-default {

  }
</style>
