<template lang="html">
    <div class="text-center mt-3">
        <b-form-radio-group
                        id="btn-radios-pza"
                        buttons
                        v-model="pza"
                        name="radios-btn-default"
                    >
                <!-- botones parte de arriba clase A -->
                <div class="nombres clearfix"  v-if="$parent.prototipo.especificaciones.tipoClase === 'A'">
                    <div class="bloque-1">
                        <div class="nombre uno">
                            <b-form-radio name="doorInsert" value="Headlights, tail lights, housings and optical elements">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.headlights') }}</p>
                            </b-form-radio>
                        </div>
                        <div class="nombre dos">
                            <b-form-radio name="console" value="Plastic with paint & special finish">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.plastic_paint') }}</p>
                            </b-form-radio>
                        </div>
                    </div>
                    <div class="bloque-2">
                        <div class="nombre tres">
                            <b-form-radio name="gloveBox" value="Leather, Vinyl, Non wovens, car clothes">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.leather') }}</p>
                            </b-form-radio>
                        </div>
                        <div class="nombre cuatro">
                            <b-form-radio name="gloveBox" value="Leather, Vinyl, Non wovens, car clothes 2">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.leather') }}</p>
                            </b-form-radio>
                        </div>
                        <div class="nombre cinco">
                            <b-form-radio name="pianoBlack" value='“Sun roof, Window quarter, Glass, Sealing'>
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.roof') }}</p>
                            </b-form-radio>
                        </div>
                    </div>
                    <div class="bloque-3">
                        <div class="nombre seis">
                            <b-form-radio name="armRest" value="Headlights, tail lights, housings and optical elements 2">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.headlights') }}</p>
                            </b-form-radio>
                        </div>
                        <div class="nombre siete">
                            <b-form-radio name="armRest" value="Headlights, tail lights, housings and optical elements 3">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.headlights') }}</p>
                            </b-form-radio>
                        </div>
                        <div class="nombre ocho">
                            <b-form-radio name="armRest" value="Painting ,metallic  parts or chrome finish 3">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.a.plastics') }}</p>
                            </b-form-radio>
                        </div>
                    </div>
                </div>
                <!-- terminan botones parte de arriba clase A -->
                <!-- botones parte de arriba clase C -->
                <div class="nombres claseC clearfix"  v-if="$parent.prototipo.especificaciones.tipoClase === 'C'">
                    <div class="bloque-1">
                        <div class="nombre uno ml-lg-5 pl-lg-3">
                            <b-form-radio name="doorInsert" value="Headlights, tail lights, housings and optical elements">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.c.leds') }}</p>
                            </b-form-radio>
                        </div>
                    </div>
                    <div class="bloque-2">
                        <div class="nombre dos">
                            <b-form-radio name="gloveBox" value="Leather, Vinyl, Non wovens, car clothes">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.c.parts') }}</p>
                            </b-form-radio>
                        </div>
                    </div>
                    <div class="bloque-3">
                        <div class="nombre tres">
                            <b-form-radio name="armRest" value="Headlights, tail lights, housings and optical elements 2">
                                <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                                <p>{{ $t('especificaciones.pieza.exterior.clase.c.tarjetas') }}</p>
                            </b-form-radio>
                        </div>
                    </div>
                </div>
                <!-- terminan botones parte de arriba clase C -->
    <div class="foto">
        <img src="@/assets/images/carro_ext_detail.svg" class="img-fluid" id="ext_detail" v-if="$parent.prototipo.especificaciones.tipoClase === 'A'">
        <img src="@/assets/images/ext_detail_2.svg" class="img-fluid" id="ext_detail" v-if="$parent.prototipo.especificaciones.tipoClase === 'C'">
        <!-- <img src="@/assets/images/carro_ext.png" class="img-fluid"> -->
        <img src="@/assets/images/carro_ext2.png" class="img-fluid">
    </div>
    <!-- botones parte de abajo clase A -->
    <div class="nombres right clearfix"  v-if="$parent.prototipo.especificaciones.tipoClase === 'A'">
        <div class="bloque-1">
            <div class="nombre uno">
                <b-form-radio name="armRest" value="Painting ,metallic  parts or chrome finish 4">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.a.plastics') }}</p>
                </b-form-radio>
            </div>
            <div class="nombre dos">
                <b-form-radio name="trunk" value="Plastics with paint and special finishes">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.a.plastic_paint') }}</p>
                </b-form-radio>
            </div>
            <div class="nombre tres">
                <b-form-radio name="trunk" value="Plastics with paint and special finishes 2">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.a.plastic_paint') }}</p>
                </b-form-radio>
            </div>
        </div>
        <div class="bloque-2">
            <div class="nombre cuatro">
                <b-form-radio name="armRest2" value="Headlights, tail lights, housings and optical elements 4">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo')}} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.a.headlights') }}</p>
                </b-form-radio>
            </div>
            <div class="nombre cinco">
                <b-form-radio name="armRest" value="Painting ,metallic  parts or chrome finish 5">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo')}} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.a.plastic_paint') }}</p>
                </b-form-radio>
            </div>
            <div class="nombre seis">
                <b-form-radio name="console" value="Plastic with paint & special finish 2">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo')}} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.a.plastics') }}</p>
                </b-form-radio>
            </div>
            </div>
        </div>
        <!-- terminan botones parte de arriba clase A -->
        <!-- botones parte de abajo clase C -->
    <div class="nombres claseC right clearfix"  v-if="$parent.prototipo.especificaciones.tipoClase === 'C'">
        <div class="bloque-1">
            <div class="nombre cuatro">
                <b-form-radio name="armRest" value="Painting ,metallic  parts or chrome finish 4">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo') }} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.c.arnes') }}</p>
                </b-form-radio>
            </div>
        </div>
        <div class="bloque-2">
            <div class="nombre cinco">
                <b-form-radio name="armRest" value="Painting ,metallic  parts or chrome finish 5">
                    <h3>{{ $t('especificaciones.pieza.exterior.clase.a.titulo')}} {{$parent.prototipo.especificaciones.tipoClase}}</h3>
                    <p>{{ $t('especificaciones.pieza.exterior.clase.c.leds') }}</p>
                </b-form-radio>
            </div>
            </div>
        </div>
        <!-- terminan botones parte de arriba clase C -->
        </b-form-radio-group>
        <h3 class="tipo">EXTERIOR</h3>

    </div>
</template>

<script lang="js">

export default {
  name: 'interior',
  props: ['propPieza'],
  data() {
    return {
        pza: null,
        clase: 'CLASE A',
        //clase: this.$parent.tipoClase + ' CLASS',
        variable: '',
        piezaInt: [
            'nombre 1','nombre 2'
        ]
    }
  },
  mounted() {
      this.pza = this.propPieza
  },
  methods: {
      piezaInterior(){
          var test = $(this).find('tspan').html();
          //console.log(test)
      }
    
    
  },
  watch: {
    "pza": function (val) {
        console.log("TCL: watch pza exte", val)
        this.$emit('changePzaExterior', val)
    }
  },
}
</script>

<style scoped lang="scss">

</style>