<template lang="html">
    <div class="text-center mt-3 d-flex">
        <b-form-radio-group
                        id="btn-radios-pza"
                        buttons
                        v-model="pza"
                        name="radios-btn-default"
                    >
                    <!-- CLASE C -->
                <div class="nombres">
                    <div class="nombre" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="doorInsert" value="Door insert">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.puertas') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-2" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="console" value="Console">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.consola')}}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-1" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="gloveBox" value="Glove Box, Air ducts, Plastic Locks">
                            <h3>{{clase}}</h3>
                            <p>
                                {{ $t('especificaciones.pieza.interior.clase.c.guantera') }}
                                {{ $t('especificaciones.pieza.interior.clase.c.conductos') }}<br>
                                {{ $t('especificaciones.pieza.interior.clase.c.cerraduras') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-1" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="pianoBlack" value='“Piano black” naunced, special finishes'>
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.piano') }} <br>{{ $t('especificaciones.pieza.interior.clase.c.naunced') }} <br> {{ $t('especificaciones.pieza.interior.clase.c.acabados') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-1" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="armRest" value="">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.descansa') }}<br>{{ $t('especificaciones.pieza.interior.clase.c.vista') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre d-lg-none" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="doorInsert" value="Door insert, Pillars">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.pilares') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre d-lg-none" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="trunk" value="Trunk, Textured plastic, Grain view">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.tronco') }}<br>{{ $t('especificaciones.pieza.interior.clase.c.vista') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre d-lg-none" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="armRest2" value="Arm rest, Textured plastic">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.descansa') }}<br>{{ $t('especificaciones.pieza.interior.clase.c.tronco') }}</p>
                        </b-form-radio>
                    </div>
                    <!-- CLASE B -->
                    <div class="nombre" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
                        <b-form-radio name="doorInsert" value="Inserto de puerta">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.b.puertas') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-2" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'" :class="{'mt-lg-4': local == 'en-US'}">
                        <b-form-radio name="doorInsert" value="Consola">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.b.consola') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-1" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
                        <b-form-radio name="gloveBox" value="Glove Box, Air ducts, Plastic Locks">
                            <h3>{{clase}}</h3>
                            <p>
                                {{ $t('especificaciones.pieza.interior.clase.c.guantera') }}<br>
                                {{ $t('especificaciones.pieza.interior.clase.c.conductos') }}<br>
                                {{ $t('especificaciones.pieza.interior.clase.c.cerraduras') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-1" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
                        <b-form-radio name="pianoBlack" value='“Piano black” naunced, special finishes'>
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.piano') }} <br>{{ $t('especificaciones.pieza.interior.clase.c.naunced') }} <br> {{ $t('especificaciones.pieza.interior.clase.c.acabados') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-1" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
                        <b-form-radio name="armRest" value="Arm Rest Grain View">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.b.descansa') }}<br>{{ $t('especificaciones.pieza.interior.clase.b.vista') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre d-lg-none" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
                        <b-form-radio name="doorInsert" value="Door insert, Pillars">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.pilares') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-3 d-lg-none" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
                        <b-form-radio name="trunk" value="Arm Rest Textured Plastic">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.b.descansa') }}<br>{{ $t('especificaciones.pieza.interior.clase.b.vista') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-3 d-lg-none" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
                        <b-form-radio name="trunk" value="Trunk, Textured Plastic, Grain view">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.b.maletero') }}<br>{{ $t('especificaciones.pieza.interior.clase.b.plasticos') }}<br>{{ $t('especificaciones.pieza.interior.clase.b.vista') }}</p>
                        </b-form-radio>
                    </div>
                </div>
<div class="foto">
       <img src="@/assets/images/carro_int_detail.svg" class="img-fluid" id="int_detail">
        <img src="@/assets/images/int.png" class="img-fluid">
        </div>
<div class="nombres right d-none d-lg-block">
    <!-- CLASE B -->
    <div class="nombre" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
        <b-form-radio name="doorInsert" value="Door insert, Pillars">
            <h3>{{clase}}</h3>
            <p>{{ $t('especificaciones.pieza.interior.clase.c.pilares') }}</p>
        </b-form-radio>
    </div>
    <div class="nombre mt-lg-4" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
        <b-form-radio name="trunk" value="Arm Rest Textured Plastic">
            <h3>{{clase}}</h3>
            <p>{{ $t('especificaciones.pieza.interior.clase.b.descansa') }}<br>{{ $t('especificaciones.pieza.interior.clase.b.vista') }}</p>
        </b-form-radio>
    </div>
    <div class="nombre mt-lg-3" v-if="$parent.prototipo.especificaciones.tipoClase == 'B' || $parent.prototipo.especificaciones.tipoClase == 'A'">
        <b-form-radio name="trunk" value="Trunk, Textured Plastic, Grain view">
            <h3>{{clase}}</h3>
            <p>{{ $t('especificaciones.pieza.interior.clase.b.maletero') }}<br>{{ $t('especificaciones.pieza.interior.clase.b.plasticos') }}<br>{{ $t('especificaciones.pieza.interior.clase.b.vista') }}</p>
        </b-form-radio>
    </div>
    <!-- CLASE C -->
                    <div class="nombre" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="doorInsert" value="Door insert, Pillars">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.pilares') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-3" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="trunk" value="Trunk, Textured plastic, Grain view">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.tronco') }}<br>{{ $t('especificaciones.pieza.interior.clase.c.vista') }}</p>
                        </b-form-radio>
                    </div>
                    <div class="nombre mt-lg-2" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="armRest2" value="Arm rest, Textured plastic">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.descansa') }}<br>{{ $t('especificaciones.pieza.interior.clase.c.tronco') }}</p>
                        </b-form-radio>
                    </div>
                    <!-- <div class="nombre mt-lg-2" v-if="$parent.prototipo.especificaciones.tipoClase == 'C'">
                        <b-form-radio name="armRest2" value="Arm rest, Textured plastic">
                            <h3>{{clase}}</h3>
                            <p>{{ $t('especificaciones.pieza.interior.clase.c.descansa') }}<br>{{ $t('especificaciones.pieza.interior.clase.c.tronco') }}</p>
                        </b-form-radio>
                    </div> -->
                </div>
                </b-form-radio-group>
                <h3 class="tipo">INTERIOR</h3>
    </div>
</template>

<script lang="js">

export default {
  name: 'interior',
  props: ['propPieza'],
  data() {
    return {
        pza: null,
        clase: 'CLASE B',
        //clase: this.$parent.tipoClase + ' CLASS',
        variable: '',
        piezaInt: [
            'nombre 1','nombre 2'
        ]
    }
  },
  computed:{
      local () {
            //es-ES  * en-US
            return this.$store.state.app.local
        }
  },
  mounted() {
      this.pza = this.propPieza
  },
  methods: {
      piezaInterior(){
          var test = $(this).find('tspan').html();
          //console.log(test)
      }
    
    
  },
  watch: {
    "pza": function (val) {
        console.log("TCL: watch pza interior", val)
        this.$emit('changePzaInterior', val)
    }
  },
}
</script>

<style scoped lang="scss">

</style>