<template lang="html">
    <div class="piezaImg rectangulo">
        <div :class="{eng: local == 'en-US'}" class="altura inputNum">
            <!-- <button v-bind:disabled="alturaNum === 0" class="prev" @click="alturaNum--"><img src="@/assets/images/triangle-left.svg"></button> -->
            <div id="altura">
                <!-- <span><span v-if="alturaNum >= 2">{{ alturaNum - 1 }}</span></span> -->
                <input id="numAct" name="numAct" v-model.number="alturaNum" type="number" placeholder="Num."/>
                <!-- <span>{{ alturaNum+1 }}</span> -->
            </div>
            <!-- <button class="next" @click="alturaNum++"><img src="@/assets/images/triangle-right.svg"></button> -->
        </div>
        <div :class="{eng: local == 'en-US'}" class="ancho inputNum">
            <!-- <button v-bind:disabled="anchoNum === 0" class="prev" @click="anchoNum--"><img src="@/assets/images/triangle-left.svg"></button> -->
            <div id="altura">
                <!-- <span><span v-if="anchoNum >= 2">{{ anchoNum - 1 }}</span></span> -->
                <input id="numAct" name="numAct" v-model.number="anchoNum" type="number" placeholder="0"/>
                <!-- <span>{{ anchoNum+1 }}</span> -->
            </div>
            <!-- <button class="next" @click="anchoNum++"><img src="@/assets/images/triangle-right.svg"></button> -->
        </div>
        <div :class="{eng: local == 'en-US'}" class="largo inputNum">
            <!-- <button v-bind:disabled="largoNum === 0" class="prev" @click="largoNum--"><img src="@/assets/images/triangle-left.svg"></button> -->
            <div id="altura">
                <!-- <span id="numAnt"><span v-if="largoNum >= 2">{{ largoNum - 1 }}</span></span> -->
                <input id="numAct" name="numAct" v-model.number="largoNum" type="number" placeholder="0"/>
                <!-- <span id="numSig">{{ largoNum+1 }}</span> -->
            </div>
            <!-- <button class="next" @click="largoNum++"><img src="@/assets/images/triangle-right.svg"></button> -->
        </div>
        <img src="@/assets/images/pieza.svg">
    </div>
</template>
<script lang="js">

export default {
  name: 'piezaMM',
  props: ['propAlturaNum', 'propAnchoNum', 'propLargoNum'],
  data() {
    return {
        alturaNum: '',
        anchoNum: '',
        largoNum: '',
    }
  },
  mounted() {
      this.alturaNum = this.propAlturaNum
      this.anchoNum = this.propAnchoNum
      this.largoNum = this.propLargoNum
  },
  computed:{
      local () {
            //es-ES  * en-US
            return this.$store.state.app.local
        }
  },
  methods: {
    enviarDatos(){
        var datos = {
            altura_pieza: this.alturaNum,
            ancho_pieza: this.anchoNum,
            largo_pieza: this.largoNum
        }
        this.$emit('dimencionesPieza', datos)
    }
  },
  watch: {
    "alturaNum": function (val) {
        this.enviarDatos()
    },
    "anchoNum": function (val) {
        this.enviarDatos()
    },
    "largoNum": function (val) {
        this.enviarDatos()
    }
  },
}
</script>

<style scoped lang="scss">

</style>