<template lang="html">
<div>
<svg id="ubi" viewBox="0 0 1082 163" xmlns="http://www.w3.org/2000/svg">
    <!-- FILTROS-->
    <defs>
        <filter x="-5.5%" y="-7.5%" width="111%" height="115%" filterUnits="objectBoundingBox" id="a"><feOffset dx="2" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.211843297 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter><filter x="-4.2%" y="-9.2%" width="108.4%" height="118.3%" filterUnits="objectBoundingBox" id="b"><feOffset dx="2" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.211843297 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/><feMerge><feMergeNode in="shadowMatrixOuter1"/><feMergeNode in="SourceGraphic"/></feMerge></filter>
    </defs>
    <!-- BOTON EXTERIOR -->
    <g fill="none" fill-rule="evenodd">

        
        <g v-if="propClase == 'A' || propClase == 'C'" @click="exterior()" id="ext" filter="url(#a)" transform="translate(23 3)">
            <path d="M103.491 54c1.314.791 1.46 2.047 1.46 3.412-.013 16.47-.01 75.526-.002 91.995 0 .544-.13 1.11.15 1.662.617-.011.863-.53 1.205-.868 4.61-4.54 9.203-9.098 13.807-13.645.398-.393.797-.82 1.276-1.092 1.063-.605 2.113-.468 2.962.412.822.853.835 1.844.21 2.824-.224.35-.52.663-.818.959-6.393 6.339-12.79 12.674-19.19 19.005-.332.329-.706.616-1.06.923h-1.98c-6.848-6.741-13.706-13.473-20.535-20.233-1.244-1.231-1.272-2.601-.235-3.587.989-.94 2.489-.871 3.657.28 4.71 4.637 9.4 9.296 14.078 13.967.392.392.64.927 1.018 1.49.738-.858.556-1.434.556-1.948.012-16.467.016-75.522 0-91.99-.002-1.413.143-2.71 1.461-3.566h1.98z" fill="#274667"/>
            <rect stroke="#274667" stroke-width="3" fill="#FFF" x="1.5" y="1.5" width="215" height="75" rx="10"/>
            <text font-size="26" letter-spacing=".867" fill="#274667">
                <tspan x="44.069" y="48">{{ $t('especificaciones.paso3.exterior')}}</tspan>
            </text>
        </g>



    <!-- BOTON INTERIOR -->
        <g  @click="interior()" id="int" filter="url(#b)" transform="translate(644 3)">
            <path d="M23.496 104.15c2.296-3.006 4.39-5.785 6.524-8.535A246.614 246.614 0 0141.487 81.86c2.593-2.883 5.214-5.743 7.968-8.465C56.362 66.57 63.706 60.26 72.022 55.17c9.106-5.573 18.838-9.382 29.646-10.108 2.142-.144 2.14-.176 2.312 1.927.215 2.624.218 2.666-2.419 2.872-10.28.801-19.474 4.566-28.043 10.02-5.823 3.706-11.128 8.062-16.235 12.704-5.314 4.828-10.18 10.072-14.894 15.455-4.376 4.995-8.515 10.2-12.446 15.562-.725.988-1.438 1.986-2.187 2.955-.498.646-.323.85.443.902 5.278.355 10.554.729 15.83 1.104 3.214.228 6.426.483 9.64.693.796.052 1.182.34 1.08 1.176-.072.59-.097 1.187-.13 1.782-.109 1.936-.105 1.91-1.977 1.774-8.965-.657-17.931-1.3-26.898-1.944-1.944-.14-3.888-.295-5.833-.386-.892-.041-1.25-.407-1.312-1.302-.591-8.651-1.212-17.3-1.827-25.95-.174-2.46-.331-4.92-.544-7.378-.081-.948.186-1.412 1.213-1.381.75.022 1.504-.102 2.255-.174.903-.085 1.252.297 1.314 1.223.452 6.747.948 13.49 1.435 20.235.16 2.222.333 4.442.51 6.663.02.259-.051.62.322.673.145.021.32-.179.219-.116" fill="#274667"/>
            <!-- INTERACCIÓN -->
            <rect stroke="#274667" stroke-width="3" fill="#FFF" x="91.5" y="1.5" width="193" height="75" rx="10"/>
            <!-- TEXTO BOTÓN -->
            <text font-size="26" letter-spacing=".867" fill="#274667">
                <tspan v-if="local == 'es-ES'" x="125.448" y="48">{{ $t('especificaciones.paso3.interior')}}</tspan>
                <tspan v-if="local == 'en-US'" x="145" y="48">{{ $t('especificaciones.paso3.interior')}}</tspan>
            </text>
        </g>
    </g>

</svg>
    <img src="@/assets/images/auto2.png" class="img-fluid">
</div>
</template>

<script lang="js">
export default {
  name: 'ubi',
  props: ['propUbicacion', 'propClase'],
  data() {
    return {
        variable: ''
    }
  },
  mounted() {
      console.log("TCL: created -> this.propUbicacion", this.propUbicacion)
      console.log("TCL: mounted -> propClase", this.propClase)
      if(this.propUbicacion == 'interior'){
          this.interior()
      }
      if(this.propUbicacion == 'exterior'){
          this.exterior()
      }
  },
  computed: {
      local () {
            //es-ES  * en-US
            return this.$store.state.app.local
        }
  },
  methods: {
    exterior() {
        /*let int = document.getElementById('int');  
        let ext = document.getElementById('ext'); 
        ext.classList.add('active')
        int.classList.remove('active');*/
        if(this.propClase == 'B'){
            let int = document.getElementById('int');
                int.classList.remove('active');

            // let ext = document.getElementById('ext'); 
            //     ext.classList.add('active')
        }else{
            if(this.propClase == 'C'){
                let int = document.getElementById('int');
                int.classList.remove('active');
            }

            if(this.propClase == 'A'){
                let int = document.getElementById('int');
                int.classList.remove('active');
                
                let ext = document.getElementById('ext'); 
                ext.classList.add('active')
            }

            if(this.propClase == 'B'){
                // let ext = document.getElementById('ext'); 
                // ext.classList.add('active')
            }
        }

        
        this.variable= 'exterior';
        this.$emit('ubi', this.variable)

        // int.classList.remove('active');
        // ext.classList.add('active');
    },
    interior() {
        /*let int = document.getElementById('int');  
        let ext = document.getElementById('ext');  
        ext.classList.remove('active')
        int.classList.add('active');*/
        if(this.propClase == 'B'){
            // let ext = document.getElementById('ext'); 
            //     ext.classList.remove('active')

            let int = document.getElementById('int');
                int.classList.add('active');
        }else{

        
            if(this.propClase == 'C'){
                let int = document.getElementById('int');
                int.classList.add('active');
            }

            if(this.propClase == 'A'){
                let ext = document.getElementById('ext'); 
                ext.classList.remove('active')

                let int = document.getElementById('int');
                int.classList.add('active');
            }

            if( this.propClase == 'B'){
                // let ext = document.getElementById('ext'); 
                // ext.classList.remove('active')
            }
        }

        this.variable= 'interior';
        this.$emit('ubi', this.variable)
    },
    
  }
}
</script>

<style scoped lang="scss">

</style>
