<script lang="js">
import { mapGetters, mapActions } from 'vuex';

import { Bar } from 'vue-chartjs'

export default {
  extends: Bar,
  data () {
    return {
      datacollection: null,
      options: {
        tooltips: {
          enabled: true
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              max: 100
            },
            gridLines: {
              display: true
            }
          }],
          xAxes: [{
            maxBarThickness: 40,
            ticks: {
              beginAtZero: true,
              max: 100
            },
            gridLines: {
              display: false
            }
          }]
        },
        legend: {
          display: false
        },
        elements: {
          point: {
            radius: 0
          }
        }
      }
    }
  },
  created() {
    this.getListaExpAdmin().then((resp)=>{
      console.log("TCL: created barhome -> getListaExpAdmin", resp)
    });
  },
  mounted () {
    this.datacollection = {
      labels: ['Documentos', 'Afianzadora'],
      datasets: [{
        label: '',
        data: [this.porcentajeExp, this.porcentajeAfianza],
        backgroundColor: [
          '#782570',
          '#fa7122',
        ],
        borderColor: [
          'rgba(255,99,132,0)',
          'rgba(54, 162, 235, 0)',

        ],
        borderWidth: 0
      }]
    };
    this.renderChart(this.datacollection, this.options);
  },
  computed: {
    ...mapGetters(['infoUser', 'listaExpAdminFiltrado']),
    totalExpGeneral(){
      if(this.listaExpAdminFiltrado.length !== 0){
        return this.listaExpAdminFiltrado.length;
      }
      return 0;
    },
    porcentajeExp(){
      let totalExpUser = this.infoUser.expedientes.filter(x => x.status === 'Aprobado');
      return (100*totalExpUser.length)/ this.totalExpGeneral;
    },
    porcentajeAfianza(){
      let afianzaConMonto = 0;
      for(let x in this.infoUser.afianzamientos){
        let item = this.infoUser.afianzamientos[x]
        if(item.monto !== '' && item.monto !== undefined && item.monto > 0){
          afianzaConMonto++;
        }
      }
      return (100*afianzaConMonto)/ this.infoUser.afianzamientos.length;
    }

  },
  methods: {
    ...mapActions(['getListaExpAdmin' ]),
  },
}
</script>

<style scoped lang="scss">

</style>
