<template lang="html">
        <div class="w-100 tyvek tree">
            <div class="nivel-1">
                {{item.nivel1}}
            </div>
            <img class="info-show" src="@/assets/images/info.svg" @click="info = !info">
                <div class="info-text" v-if="info">
                    {{item.info}}
                </div>
            <div class="grid-tree">
                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[0].value}" v-bind:class="item.nivel2[0].value" class="nombre" :value="item.nivel2[0].value" @click="nivel2!=item.nivel2[0].value ? nivel2=item.nivel2[0].value : nivel2; nivel3!=item.nivel2[0].nivel3[0].value ? nivel3 = undefined : nivel3; nivel4=== '1443r' || '1460c' ? nivel4 = nivel4 : nivel4 = undefined;">
                        {{item.nivel2[0].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2 === item.nivel2[0].value">
                        <div class="col-md-6" v-for="i in item.nivel2[0].nivel3">
                            <button class="nombre" :class="{active: nivel3 === i.value}" @click="nivel3 = i.value">
                                {{i.text}}
                            </button>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === item.nivel2[0].nivel3[0].value">
                        <div class="col-md-4" v-for="i in item.nivel2[0].nivel3[0].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <span class="info">
                                {{i.info}}
                            </span>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === item.nivel2[0].nivel3[1].value">
                        <div class="col-md-4" v-for="i in item.nivel2[0].nivel3[1].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <span class="info">
                                {{i.info}}
                            </span>
                        </div>
                    </div>
                    
                </div>
                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[1].value}" @click="nivel2!=item.nivel2[1].value ? nivel2=item.nivel2[1].value : nivel2; nivel3!=item.nivel2[1].nivel3[0].value ? nivel3 = undefined : nivel3;nivel4=== '1056d' || '1073d' || '1085d' ? nivel4 = nivel4 : nivel4 = undefined;" class="nombre">
                        {{item.nivel2[1].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2 === item.nivel2[1].value">
                        <div class="col-md-4" v-for="i in item.nivel2[1].nivel3">
                            <button class="nombre" :class="{active: nivel3 === i.value}" @click="nivel3 = i.value">
                                {{i.text}}
                            </button>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === '1056d'">
                        <div class="col-md-6" v-for="i in item.nivel2[1].nivel3[0].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <span class="info">
                                {{i.info}}
                            </span>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === '1073d'">
                        <div class="col-md-6" v-for="i in item.nivel2[1].nivel3[1].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <span class="info">
                                {{i.info}}
                            </span>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === '1085d'">
                        <div class="col-md-6" v-for="i in item.nivel2[1].nivel3[2].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <span class="info">
                                {{i.info}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="nivel-2">
                    <div class="row">
                        <div class="col-md-6">
                            <button  id="nivel2" :class="{active: nivel2 === item.nivel2[2].value}" @click="nivel2!=item.nivel2[2].value ? nivel2=item.nivel2[2].value : nivel2; nivel3!=item.nivel2[2].nivel3[0].value ? nivel3 = undefined : nivel3;nivel4=== '1056d' || '1073d' || '1085d' ? nivel4 = nivel4 : nivel4 = undefined;" class="nombre" >
                                {{item.nivel2[2].text}}
                            </button>
                            <div class="row" v-if="nivel2 === item.nivel2[2].value">
                                <div class="col-md-12">
                                    <button  id="nivel2" :class="{active: nivel3 === item.nivel2[2].nivel3[0].value}" @click="nivel3 = item.nivel2[2].nivel3[0].value" class="nombre" >
                                        {{item.nivel2[2].nivel3[0].text}}
                                    </button>
                                </div>
                                <div class="col-md-6" v-if="nivel3 === 'bicapa'" v-for="i in item.nivel2[2].nivel3[0].nivel4">
                                    <button  id="nivel2" class="nombre" @click="nivel4 = i.value" :class="{active: nivel4 === i.value}">
                                        {{i.text}}
                                    </button>
                                    <span class="info">
                                        {{i.info}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button  id="nivel2" :class="{active: nivel2 === item.nivel2[3].value}" @click="nivel2 != item.nivel2[3].value ? nivel2=item.nivel2[3].value : nivel2=nivel2; nivel3!=item.nivel2[3].nivel3[0].value ? nivel3 = undefined : nivel3 " class="nombre" >
                                {{item.nivel2[3].text}}
                            </button>
                            <div class="row" v-if="nivel2 === '2473l'">
                                <div class="col-md-12">
                                    <button  id="nivel2" :class="{active: nivel3 === item.nivel2[3].nivel3[0].value}" @click="nivel3 = item.nivel2[3].nivel3[0].value" class="nombre" >
                                        {{item.nivel2[3].nivel3[0].text}}
                                    </button>
                                </div>
                                <div v-if="nivel3==='tricapa'" class="col-md-6" v-for="i in item.nivel2[2].nivel3[0].nivel4">
                                    <button  id="nivel2" class="nombre" @click="nivel4 = i.value" :class="{active: nivel4 === i.value}">
                                        {{i.text}}
                                    </button>
                                    <span class="info">
                                        {{i.info}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
            
        </div>
</template>
<script lang="js">
export default {
    name: 'Tree',
    data(){
        return{
            expanded: false,
            info: false,
            colorM: undefined,
            isActive: false,
            nivel2: '',
            nivel3: '',
            nivel4: '',
            item: {
            nivel1: 'Tyvek ®',
            info: 'Lorem ipsum dolo sit amet',
            nivel2: [
                {
                    text: 'Flexible',
                    value:'flexible',
                    nivel3: [
                        {
                            text: '1443R',
                            value:'1443r',
                            nivel4: [
                                {
                                    text: 'stark',
                                    value: 'stark',
                                    info: 'PVC + Tyvek®'
                                },
                                {
                                    text: 'sticker',
                                    value: 'sticker',
                                    info: 'Tyvek® + Adhesivo'
                                },
                                {
                                    text: 'solo',
                                    value: 'solo',
                                    info: 'Tyvek®'
                                },
                            ]
                        },
                        {
                            text: '1460C',
                            value:'1460c',
                            nivel4: [
                                {
                                    text: 'stark',
                                    value: 'stark',
                                    info: 'PVC + Tyvek®'
                                },
                                {
                                    text: 'sticker',
                                    value: 'sticker',
                                    info: 'Tyvek® + Adhesivo'
                                },
                                {
                                    text: 'solo',
                                    value: 'solo',
                                    info: 'Tyvek®'
                                },
                            ]
                        }

                    ]
                },
                {
                    text: 'Rígido',
                    value: 'rigido',
                    nivel3: [
                        {
                            text:'1056D',
                            value:'1056d',
                            nivel4: [
                                {
                                    text: 'sticker',
                                    value: 'sticker',
                                    info: 'Tyvek® + Adhesivo'
                                },
                                {
                                    text: 'solo',
                                    value: 'solo',
                                    info: 'Tyvek®'
                                },
                            ]
                        },
                        {
                            text:'1073D',
                            value:'1073d',
                            nivel4: [
                                {
                                    text: 'sticker',
                                    value: 'sticker',
                                    info: 'Tyvek® + Adhesivo'
                                },
                                {
                                    text: 'solo',
                                    value: 'solo',
                                    info: 'Tyvek®'
                                },
                            ]
                        },
                        {
                            text:'1085D',
                            value:'1085d',
                            nivel4: [
                                {
                                    text: 'sticker',
                                    value: 'sticker',
                                    info: 'Tyvek® + Adhesivo'
                                },
                                {
                                    text: 'solo',
                                    value: 'solo',
                                    info: 'Tyvek®'
                                },
                            ]
                        },

                    ],
                },
                {
                    text: '2462C',
                    value: '2462c',
                    nivel3: [
                        {
                            text: 'Bi-capa',
                            value: 'bicapa',
                            nivel4: [
                                {
                                    text: 'stark',
                                    value: 'stark',
                                    info: 'PVC + Tyvek®'
                                },
                                {
                                    text: 'solo',
                                    value: 'solo',
                                    info: 'Tyvek®'
                                },
                            ]
                        },
                    ]
                },
                {
                    text: '2473L',
                    value: '2473l',
                    nivel3: [
                        {
                            text: 'Tri-capa',
                            value: 'tricapa',
                            nivel4: [
                                {
                                    text: 'stark',
                                    value: 'stark',
                                    info: 'PVC + Tyvek®'
                                },
                                {
                                    text: 'solo',
                                    value: 'solo',
                                    info: 'Tyvek®'
                                },
                            ]
                        },
                    ]
                }
            ]
        }
        }
    },
    methods: {
        
    },
    computed: {
        
    }
}
</script>
<style scoped lang="scss">
.node{
    text-align:left;
}
</style>