<template lang="html">
        <div class="w-100">
            <div class="nivel-1">
                {{item.nivel1}}
            </div>
            <!-- <img class="info-show" src="@/assets/images/info.svg" @click="info = !info">
                <div class="info-text" v-if="info">
                    {{item.info}}
                </div> -->
            <div class="grid-tree mt-3">
                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[0].value}" v-bind:class="item.nivel2[0].value" class="nombre" :value="item.nivel2[0].value" @click="nivel2!=item.nivel2[0].value ? nivel2=item.nivel2[0].value : nivel2; nivel3!=item.nivel2[0].nivel3[0].value ? nivel3 = undefined : nivel3;colorM = undefined">
                        {{item.nivel2[0].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2 === item.nivel2[0].value">
                        <div class="col-md-12">
                            <button class="nombre" :class="{active: nivel3 === item.nivel2[0].nivel3[0].value}" :value="item.nivel2[0].nivel3[0].value" v-model="nivel3" @click="nivel3 = item.nivel2[0].nivel3[0].value">
                                {{item.nivel2[0].nivel3[0].text}}
                            </button>
                            <div class="row color" v-if="nivel3 === item.nivel2[0].nivel3[0].value">
                                <b-form-radio-group
                                v-model="colorM"
                                name="color"
                                class="color-list"
                                buttons
                                >
                                <b-form-radio v-for="i in item.nivel2[0].nivel3[0].color"
                                :key="i.value"
                                :class="`${i.text}`"
                                :value="i.value"/>
                                </b-form-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[1].value}" @click="nivel2!=item.nivel2[1].value ? nivel2=item.nivel2[1].value : nivel2 = nivel2;nivel3===item.nivel2[1].nivel3[1].value ? nivel3 = nivel3 : nivel3; colorM = undefined" class="nombre">
                        {{item.nivel2[1].text}}
                    </button>
                    <div class="nivel-3 row d-flex align-items-center" v-if="nivel2 === item.nivel2[1].value">
                        <div class="col-md-6">
                            <button class="nombre" :class="{active: nivel3 === item.nivel2[1].nivel3[0].value}" @click="nivel3 = item.nivel2[1].nivel3[0].value">
                                {{item.nivel2[1].nivel3[0].text}}
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="nombre" :class="{active: nivel3 === item.nivel2[1].nivel3[1].value}" @click="nivel3 = item.nivel2[1].nivel3[1].value">
                                {{item.nivel2[1].nivel3[1].text}}
                            </button>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 color" v-if="nivel3 === item.nivel2[1].nivel3[0].value">
                                <b-form-radio-group
                                v-model="colorM"
                                name="color"
                                class="color-list"
                                buttons
                                >
                                <b-form-radio v-for="i in item.nivel2[0].nivel3[0].color"
                                :key="i.value"
                                :class="`${i.text}`"
                                :value="i.value"/>
                                </b-form-radio-group>
                            </div>
                        <div class="col-md-6 offset-md-6 color" v-if="nivel3 === item.nivel2[1].nivel3[1].value">
                            <b-form-radio-group
                            v-model="colorM"
                            name="color"
                            class="color-list"
                            buttons
                            >
                            <b-form-radio v-for="i in item.nivel2[1].nivel3[1].color"
                            :key="i.value"
                            :class="`${i.text}`"
                            :value="i.value"/>
                            </b-form-radio-group>
                        </div>
                    </div>
                </div>
                <div class="nivel-2">
                    <button  id="nivel2" :class="{active: nivel2 === item.nivel2[2].value}" class="nombre" @click="nivel2!=item.nivel2[2].value ? nivel2=item.nivel2[2].value : nivel2; nivel3!=item.nivel2[2].nivel3[0].value ? nivel3 = undefined : nivel3">
                        {{item.nivel2[2].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2===item.nivel2[2].value">
                        <div class="col-md-12">
                            <button class="nombre" :class="{active: nivel3 === item.nivel2[2].nivel3[0].value}" @click="nivel3 = item.nivel2[2].nivel3[0].value">
                                {{item.nivel2[2].nivel3[0].text}}
                            </button>
                            <div class="row color" v-if="nivel3===item.nivel2[2].nivel3[0].value">
                                <b-form-radio-group
                                v-model="colorM"
                                name="color"
                                class="color-list"
                                buttons
                                >
                                <b-form-radio v-for="i in item.nivel2[2].nivel3[0].color"
                                :key="i.value"
                                :class="`${i.text}`"
                                :value="i.value"/>
                                </b-form-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</template>
<script lang="js">
export default {
    name: 'topCoat',
    props: ['propcolorM', 'propnivel3', 'propnivel2', 'propnivel1'],
    data(){
        return{
            expanded: false,
            info: false,
            colorM: undefined,
            isActive: false,
            nivel2: '',
            nivel3: '',
            item: {
                nivel1: 'Top Coat',
                info: 'Lorem ipsum dolo sit amet',
                nivel2: [
                    {
                        text: '13 OZ',
                        value:'13oz',
                        nivel3: [
                            {
                                text: 'Cortilona',
                                value:'cortilona',
                                color: [
                                    {
                                        text: 'gris',
                                        value: 'gris'
                                    },
                                    {
                                        text: 'blanco',
                                        value: 'blanco'
                                    },
                                    {
                                        text: 'blanco',
                                        value: 'blancob'
                                    },
                                ]
                            }
                        ]
                    },
                    {
                        text: '19 OZ',
                        value: '19oz',
                        nivel3: [
                            {
                                text:'Carpel',
                                value:'carpel',
                                color: [
                                    {
                                        text: 'blanco',
                                        value:"blanco"
                                    },
                                    {
                                        text: 'negro',
                                        value: 'negro'
                                    }
                                ]
                            },
                            {
                                text:'Plastilina bicolor',
                                value:'plastilina-bicolor',
                                color: [
                                    {
                                        text: 'blanco',
                                        value:"blanco"
                                    },
                                    {
                                        text: 'negro',
                                        value: 'negro'
                                    }
                                ]
                            },

                        ]
                    },
                    {
                        text: '22 OZ',
                        value: '22oz',
                        nivel3: [
                            {
                                text: 'Tecnobit',
                                value: 'tecnobit',
                                color: [
                                    {
                                        text: 'blanco',
                                        value:"blanco"
                                    },
                                    {
                                        text: 'negro',
                                        value: 'negro'
                                    }
                                ],
                            },
                        ]
                    }
                ]
            },
        }
    },
    mounted() {
        this.colorM = this.propcolorM;
        this.nivel3 = this.propnivel3;
        this.nivel2 = this.propnivel2;
        this.nivel1 = this.propnivel1;
    },
    methods: {
       enviarDatos(){
            var datos = {
                colorM: this.colorM,
                acabado: '',
                nivel4: '',
                nivel3: this.nivel3,
                nivel2: this.nivel2,
                nivel1: this.item.nivel1,
            }
            console.log("TCL: enviarDatos -> datos", datos)
            this.$emit('cambioDunnage', datos)
        }
    },
    watch: {
        "colorM": function (val) {
            this.enviarDatos()
        },
        "nivel3": function (val) {
            this.enviarDatos()
        },
        "nivel2": function (val) {
            this.enviarDatos()
        },

    },
    computed: {
       
    }
}
</script>
<style scoped lang="scss">
.node{
    text-align:left;
}
</style>