<template lang="html">
        <div class="w-100">
            <div class="nivel-1">
                {{item.nivel1}}
            </div>
            <!-- <img class="info-show" src="@/assets/images/info.svg" @click="info = !info">
                <div class="info-text" v-if="info">
                    {{item.info}}
                </div> -->
            <div class="grid-tree mt-3">


                
                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[0].value}" v-bind:class="item.nivel2[0].value" class="nombre" :value="item.nivel2[0].value" @click="nivel2!=item.nivel2[0].value ? nivel2=item.nivel2[0].value : nivel2; nivel3!=item.nivel2[0].nivel3[0].value ? nivel3 = undefined : nivel3">
                        {{item.nivel2[0].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2 === item.nivel2[0].value">
                        <div class="col-md-12">
                            <button  class="nombre" :class="{active: nivel3 === 'stark11'}" :value="item.nivel2[0].nivel3[0].value" v-model="nivel3" @click="nivel3 = item.nivel2[0].nivel3[0].value">
                                {{item.nivel2[0].nivel3[0].text}}
                            </button>
                            <div class="row color" v-if="nivel3 === item.nivel2[0].nivel3[0].value">
                                <b-form-radio-group
                                v-model="colorM"
                                name="color"
                                class="color-list"
                                buttons
                                >
                                <b-form-radio v-for="i in item.nivel2[0].nivel3[0].color"
                                :key="i.value"
                                :class="`${i.text}`"
                                :value="i.value"/>
                                </b-form-radio-group>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[1].value}" @click="nivel2!=item.nivel2[1].value ? nivel2=item.nivel2[1].value : nivel2; nivel3!=item.nivel2[1].nivel3[0].value ? nivel3 = undefined : nivel3" class="nombre">
                        {{item.nivel2[1].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2 === item.nivel2[1].value">
                        <div class="col-md-12">
                            <button class="nombre" :class="{active: nivel3 === 'cortilona'}" @click="nivel3 = item.nivel2[1].nivel3[0].value" v-model="nivel3">
                                {{item.nivel2[1].nivel3[0].text}}
                            </button>
                            <div class="row color" v-if="nivel3">
                                <b-form-radio-group
                                v-model="colorM"
                                name="color"
                                class="color-list"
                                buttons
                                >
                                <b-form-radio v-for="i in item.nivel2[0].nivel3[0].color"
                                :key="i.value"
                                :class="`${i.text}`"
                                :value="i.value"/>
                                </b-form-radio-group>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="nivel-2">
                    <button  id="nivel2" :class="{active: nivel2 === item.nivel2[2].value}" class="nombre" @click="nivel2!=item.nivel2[2].value ? nivel2=item.nivel2[2].value : nivel2; nivel3===item.nivel2[2].nivel3[0].value ? nivel3 = nivel3 : nivel3;">
                        {{item.nivel2[2].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2===item.nivel2[2].value">
                        <div class="col-md-6">
                            <button class="nombre" :class="{active: nivel3 === item.nivel2[2].nivel3[0].value}" @click="nivel3 = item.nivel2[2].nivel3[0].value">
                                {{item.nivel2[2].nivel3[0].text}}
                            </button>
                            <div class="row color" v-if="nivel3===item.nivel2[2].nivel3[0].value">
                                <span>1</span>
                                <b-form-radio-group
                                v-model="colorM"
                                name="color"
                                class="color-list"
                                buttons
                                >
                                <b-form-radio v-for="i in item.nivel2[2].nivel3[0].color"
                                :key="i.value"
                                :class="`${i.text}`"
                                :value="i.value"/>
                                </b-form-radio-group>
                            </div>
                            <div class="acabado" v-if="nivel3===item.nivel2[2].nivel3[0].value">
                                <span>2</span>
                                <b-form-radio-group
                                v-model="acabado"
                                name="acabado"
                                class="acabado-list"
                                :options="item.nivel2[2].nivel3[0].acabado"
                                buttons
                                >
                                </b-form-radio-group>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="nombre" :class="{active: nivel3 === item.nivel2[2].nivel3[1].value}" @click="nivel3 = item.nivel2[2].nivel3[1].value" >
                                {{item.nivel2[2].nivel3[1].text}}
                            </button>
                            <div class="row color" v-if="nivel3 === item.nivel2[2].nivel3[1].value">
                                <b-form-radio-group
                                v-model="colorM"
                                name="color"
                                class="color-list"
                                buttons
                                >
                                <b-form-radio v-for="i in item.nivel2[2].nivel3[0].color"
                                :key="i.value"
                                :class="`${i.text}`"
                                :value="i.value"/>
                                </b-form-radio-group>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
</template>
<script lang="js">

export default {
    name: 'Basic',
    props: ['propcolorM', 'propacabado', 'propnivel3', 'propnivel2', 'propnivel1'],
    data(){
        return{
            expanded: false,
            info: false,
            colorM: undefined,
            isActive: false,
            acabado: '',
            nivel2: '',
            nivel3: '',
            item: {
                nivel1: 'Basic',
                info: 'Lorem ipsum dolo sit amet',
                nivel2: [
                    {
                        text: '11 OZ',
                        value:'11oz',
                        nivel3: [
                            {
                                text: 'Stark 11',
                                value:'stark11',
                                color: [
                                    {
                                        text: 'azul',
                                        value: 'azul'
                                    },
                                    {
                                        text: 'negro',
                                        value: 'negro'
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        text: '13 OZ',
                        value: '13oz',
                        nivel3: [
                            {
                                text:'Cortilona',
                                value:'cortilona',
                                color: [
                                    {
                                        text: 'azul',
                                        value:"azul"
                                    },
                                    {
                                        text: 'negro',
                                        value: 'negro'
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        text: '18 OZ',
                        value: '18oz',
                        nivel3: [
                            {
                                text: 'Plastilona',
                                value: 'plastilona',
                                color: [
                                    {
                                        text: 'azul',
                                        value:"azul"
                                    },
                                    {
                                        text: 'negro',
                                        value: 'negro'
                                    }
                                ],
                                acabado: [
                                    {
                                        text: 'Mate',
                                        value: 'mate'
                                    },
                                    {
                                        text: 'Bright',
                                        value: 'bright'
                                    }
                                ]
                            },
                            {
                                text:'RIPSTOP',
                                value:'ripstop',
                                color: [
                                    {
                                        text: 'azul',
                                        value:"azul"
                                    },
                                    {
                                        text: 'negro',
                                        value: 'negro'
                                    }
                                ]
                            }
                        ]
                    }
                ]
            },
        }
    },
    mounted() {
        this.colorM = this.propcolorM;
        this.acabado = this.propacabado;
        this.nivel3 = this.propnivel3;
        this.nivel2 = this.propnivel2;
        this.nivel1 = this.propnivel1;
    },
    methods: {
       enviarDatos(){
            var datos = {
                colorM: this.colorM,
                acabado: this.acabado,
                nivel4: '',
                nivel3: this.nivel3,
                nivel2: this.nivel2,
                nivel1: this.item.nivel1,
            }
            console.log("TCL: enviarDatos -> datos", datos)
            this.$emit('cambioDunnage', datos)
        }
    },
    watch: {
        "colorM": function (val) {
            this.enviarDatos()
        },
        "acabado": function (val) {
            this.enviarDatos()
        },
        "nivel3": function (val) {
            this.enviarDatos()
        },
        "nivel2": function (val) {
            this.enviarDatos()
        },

    },
    computed: {
        
    }
}
</script>
<style scoped lang="scss">

</style>