<template lang="html">
        <div class="w-100 tyvek tree">
            <div class="nivel-1">
                {{item.nivel1}}
            </div>
            <!-- <img class="info-show" src="@/assets/images/info.svg" @click="info = !info">
                <div class="info-text" v-if="info">
                    {{item.info}}
                </div> -->
            <div class="grid-tree mt-3">
                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[0].value}" v-bind:class="item.nivel2[0].value" class="nombre" v-model="nivel3" :value="item.nivel2[0].value" @click="nivel2!=item.nivel2[0].value ? nivel2=item.nivel2[0].value : nivel2; nivel3!=item.nivel2[0].nivel3[0].value ? nivel3 = undefined : nivel3; nivel4=== '1443r' || '1460c' ? nivel4 = nivel4 : nivel4 = undefined;">
                        {{item.nivel2[0].text}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2 === item.nivel2[0].value">
                        <div class="col-md-6" v-for="i in item.nivel2[0].nivel3">
                            <button class="nombre" :class="{active: nivel3 === i.value}" @click="nivel3 = i.value">
                                {{i.text}}
                            </button>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === item.nivel2[0].nivel3[0].value">
                        <div class="col-md-4" v-for="i in item.nivel2[0].nivel3[0].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <img class="info-show" src="@/assets/images/info.svg" @click="e => e.target.nextElementSibling.classList.toggle('d-none')">
                            <div class="info-text d-none">
                                {{i.info}}
                            </div>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === item.nivel2[0].nivel3[1].value">
                        <div class="col-md-4" v-for="i in item.nivel2[0].nivel3[1].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <img class="info-show" src="@/assets/images/info.svg" @click="e => e.target.nextElementSibling.classList.toggle('d-none')">
                            <div class="info-text d-none">
                                {{i.info}}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="nivel-2">
                    <button id="nivel2" :class="{active: nivel2 === item.nivel2[1].value}" @click="nivel2!=item.nivel2[1].value ? nivel2=item.nivel2[1].value : nivel2; nivel3!=item.nivel2[1].nivel3[0].value ? nivel3 = undefined : nivel3;nivel4=== '1056d' || '1073d' || '1085d' ? nivel4 = nivel4 : nivel4 = undefined;" class="nombre">
                        {{$t('dunnage.rigido')}}
                    </button>
                    <div class="nivel-3 row" v-if="nivel2 === item.nivel2[1].value">
                        <div class="col-md-4" v-for="i in item.nivel2[1].nivel3">
                            <button class="nombre" :class="{active: nivel3 === i.value}" @click="nivel3 = i.value">
                                {{i.text}}
                            </button>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === '1056d'">
                        <div class="col-md-6" v-for="i in item.nivel2[1].nivel3[0].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <img class="info-show" src="@/assets/images/info.svg" @click="e => e.target.nextElementSibling.classList.toggle('d-none')">
                            <div class="info-text d-none">
                                {{i.info}}
                            </div>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === '1073d'">
                        <div class="col-md-6" v-for="i in item.nivel2[1].nivel3[1].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <img class="info-show" src="@/assets/images/info.svg" @click="e => e.target.nextElementSibling.classList.toggle('d-none')">
                            <div class="info-text d-none">
                                {{i.info}}
                            </div>
                        </div>
                    </div>
                    <div class="nivel-4 row" v-if="nivel3 === '1085d'">
                        <div class="col-md-6" v-for="i in item.nivel2[1].nivel3[2].nivel4">
                            <button class="nombre" :class="{active: nivel4 === i.value}" @click="nivel4 = i.value">
                                {{i.text}}
                            </button>
                            <img class="info-show" src="@/assets/images/info.svg" @click="e => e.target.nextElementSibling.classList.toggle('d-none')">
                            <div class="info-text d-none">
                                {{i.info}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nivel-2">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <button  id="nivel2" :class="{active: nivel2 === item.nivel2[2].value}" @click="nivel2!=item.nivel2[2].value ? nivel2=item.nivel2[2].value : nivel2; nivel3!=item.nivel2[2].nivel3[0].value ? nivel3 = undefined : nivel3;nivel4=== '1056d' || '1073d' || '1085d' ? nivel4 = nivel4 : nivel4 = undefined;" class="nombre" >
                                {{item.nivel2[2].text}}
                            </button>
                            <div class="row" v-if="nivel2 === item.nivel2[2].value">
                                <div class="col-md-12">
                                    <button  id="nivel2" :class="{active: nivel3 === item.nivel2[2].nivel3[0].value}" @click="nivel3 = item.nivel2[2].nivel3[0].value" class="nombre" >
                                        {{item.nivel2[2].nivel3[0].text}}
                                    </button>
                                </div>
                                <div class="col-md-6" v-if="nivel3 === 'bicapa'" v-for="i in item.nivel2[2].nivel3[0].nivel4">
                                    <button  id="nivel2" class="nombre" @click="nivel4 = i.value" :class="{active: nivel4 === i.value}">
                                        {{i.text}}
                                    </button>
                                    <img class="info-show" src="@/assets/images/info.svg" @click="e => e.target.nextElementSibling.classList.toggle('d-none')">
                                    <div class="info-text d-none">
                                        {{i.info}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pr-0">
                            <button  id="nivel2" :class="{active: nivel2 === item.nivel2[3].value}" @click="nivel2 != item.nivel2[3].value ? nivel2=item.nivel2[3].value : nivel2=nivel2; nivel3!=item.nivel2[3].nivel3[0].value ? nivel3 = undefined : nivel3 " class="nombre" >
                                {{item.nivel2[3].text}}
                            </button>
                            <div class="row" v-if="nivel2 === '2473l'">
                                <div class="col-md-12">
                                    <button  id="nivel2" :class="{active: nivel3 === item.nivel2[3].nivel3[0].value}" @click="nivel3 = item.nivel2[3].nivel3[0].value" class="nombre" >
                                        <!-- {{item.nivel2[3].nivel3[0].text}} -->
                                        <span v-if="item.nivel2[3].nivel3[0].text == 'Bi-capa'">{{$t('dunnage.bicapa')}}</span>
                                        <span v-if="item.nivel2[3].nivel3[0].text == 'Tri-capa'">{{$t('dunnage.tricapa')}}</span>

                                    </button>
                                </div>
                                <div v-if="nivel3==='tricapa'" class="col-md-6" v-for="i in item.nivel2[2].nivel3[0].nivel4">
                                    <button  id="nivel2" class="nombre" @click="nivel4 = i.value" :class="{active: nivel4 === i.value}">
                                        {{i.text}}
                                    </button>
                                    <img class="info-show" src="@/assets/images/info.svg" @click="e => e.target.nextElementSibling.classList.toggle('d-none')">
                                    <div class="info-text d-none">
                                        {{i.info}}
                                    </div>
                                    <!-- <span class="info">
                                    </span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
            
        </div>
</template>
<script lang="js">
export default {
    name: 'Tree',
    props: ['propcolorM', 'propnivel4', 'propnivel3', 'propnivel2', 'propnivel1'],
    data(){
        return{
            expanded: false,
            info: false,
            colorM: null,
            isActive: false,
            nivel2: '',
            nivel3: '',
            nivel4: '',
            infoShow: false,
            item: {
                nivel1: 'Tyvek ®',
                info: 'Lorem ipsum dolo sit amet',
                nivel2: [
                    {
                        text: 'Flexible',
                        value:'flexible',
                        nivel3: [
                            {
                                text: '1443R',
                                value:'1443r',
                                nivel4: [
                                    {
                                        text: 'stark',
                                        value: 'stark',
                                        info: 'PVC + Tyvek®'
                                    },
                                    {
                                        text: 'sticker',
                                        value: 'sticker',
                                        info: 'Tyvek® + Adhesivo'
                                    },
                                    {
                                        text: 'solo',
                                        value: 'solo',
                                        info: 'Tyvek®'
                                    },
                                ]
                            },
                            {
                                text: '1460C',
                                value:'1460c',
                                nivel4: [
                                    {
                                        text: 'stark',
                                        value: 'stark',
                                        info: 'PVC + Tyvek®'
                                    },
                                    {
                                        text: 'sticker',
                                        value: 'sticker',
                                        info: 'Tyvek® + Adhesivo'
                                    },
                                    {
                                        text: 'solo',
                                        value: 'solo',
                                        info: 'Tyvek®'
                                    },
                                ]
                            }

                        ]
                    },
                    {
                        text: this.$t('dunnage.rigido'),
                        value: 'rigido',
                        nivel3: [
                            {
                                text:'1056D',
                                value:'1056d',
                                nivel4: [
                                    {
                                        text: 'sticker',
                                        value: 'sticker',
                                        info: 'Tyvek® + Adhesivo'
                                    },
                                    {
                                        text: 'solo',
                                        value: 'solo',
                                        info: 'Tyvek®'
                                    },
                                ]
                            },
                            {
                                text:'1073D',
                                value:'1073d',
                                nivel4: [
                                    {
                                        text: 'sticker',
                                        value: 'sticker',
                                        info: 'Tyvek® + Adhesivo'
                                    },
                                    {
                                        text: 'solo',
                                        value: 'solo',
                                        info: 'Tyvek®'
                                    },
                                ]
                            },
                            {
                                text:'1085D',
                                value:'1085d',
                                nivel4: [
                                    {
                                        text: 'sticker',
                                        value: 'sticker',
                                        info: 'Tyvek® + Adhesivo'
                                    },
                                    {
                                        text: 'solo',
                                        value: 'solo',
                                        info: 'Tyvek®'
                                    },
                                ]
                            },

                        ],
                    },
                    {
                        text: '2462C',
                        value: '2462c',
                        nivel3: [
                            {
                                text: 'Bi-capa',
                                value: 'bicapa',
                                nivel4: [
                                    {
                                        text: 'stark',
                                        value: 'stark',
                                        info: 'PVC + Tyvek®'
                                    },
                                    {
                                        text: 'solo',
                                        value: 'solo',
                                        info: 'Tyvek®'
                                    },
                                ]
                            },
                        ]
                    },
                    {
                        text: '2473L',
                        value: '2473l',
                        nivel3: [
                            {
                                text: 'Tri-capa',
                                value: 'tricapa',
                                nivel4: [
                                    {
                                        text: 'stark',
                                        value: 'stark',
                                        info: 'PVC + Tyvek®'
                                    },
                                    {
                                        text: 'solo',
                                        value: 'solo',
                                        info: 'Tyvek®'
                                    },
                                ]
                            },
                        ]
                    }
                ]
            }
        }
    },
    mounted() {
        this.colorM = this.propcolorM;
        this.nivel4 = this.propnivel4;
        this.nivel3 = this.propnivel3;
        this.nivel2 = this.propnivel2;
        this.nivel1 = this.propnivel1;
    },
    methods: {
        enviarDatos(){
            var datos = {
                acabado: '',
                colorM: '',
                nivel4: this.nivel4,
                nivel3: this.nivel3,
                nivel2: this.nivel2,
                nivel1: this.item.nivel1,
            }
            console.log("TCL: enviarDatos -> datos", datos)
            this.$emit('cambioDunnage', datos)
        },
        nodeClicked(){
            this.expanded = !this.expanded
            if(!this.hasChildren){
                this.$emit('onClick', this.item)
            }
        },
        nivelDos(val){
            this.nivel2 = val;
            $(this).addClass('test')
            console.log(val)
        }
    },
    watch: {
        "colorM": function (val) {
            this.enviarDatos()
        },
        "nivel4": function (val) {
            this.enviarDatos()
        },
        "nivel3": function (val) {
            this.enviarDatos()
        },
        "nivel2": function (val) {
            this.enviarDatos()
        },
    },
    computed: {
        hasChildren(){
            return this.item.children
        }
    }
}
</script>
<style scoped lang="scss">
.node{
    text-align:left;
}
</style>