/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('assets/scss/estilos/fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'LatoWebBlack';
    src: url('assets/scss/estilos/fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('assets/scss/estilos/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'LatoWebBold';
    src: url('assets/scss/estilos/fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('assets/scss/estilos/fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: 'LatoWebHairline';
    src: url('assets/scss/estilos/fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('assets/scss/estilos/fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('assets/scss/estilos/fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWeb';
    src: url('assets/scss/estilos/fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('assets/scss/estilos/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoWebLight';
    src: url('assets/scss/estilos/fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('assets/scss/estilos/fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'LatoWebMedium';
    src: url('assets/scss/estilos/fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('assets/scss/estilos/fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('assets/scss/estilos/fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('assets/scss/estilos/fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('assets/scss/estilos/fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: 'LatoWebThin';
    src: url('assets/scss/estilos/fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('assets/scss/estilos/fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/scss/estilos/fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('assets/scss/estilos/fonts/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'icons';
    src:  url('assets/scss/estilos/fonts/icons.eot?sm9ay0');
    src:  url('assets/scss/estilos/fonts/icons.eot?sm9ay0#iefix') format('embedded-opentype'),
      url('assets/scss/estilos/fonts/icons.ttf?sm9ay0') format('truetype'),
      url('assets/scss/estilos/fonts/icons.woff?sm9ay0') format('woff'),
      url('assets/scss/estilos/fonts/icons.svg?sm9ay0#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icn-"], [class*=" icn-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icn-prototipos:before {
    content: "\e900";
    color: #fff;
  }
  .icn-nuevo-prototipo .path1:before {
    content: "\e901";
    color: rgb(255, 255, 255);
  }
  .icn-nuevo-prototipo .path2:before {
    content: "\e902";
    margin-left: -1.10546875em;
    color: rgb(50, 65, 80);
  }
  .icn-nuevo-prototipo .path3:before {
    content: "\e903";
    margin-left: -1.10546875em;
    color: none;
  }
  .icn-nuevo-prototipo .path4:before {
    content: "\e904";
    margin-left: -1.10546875em;
    color: rgb(255, 255, 255);
  }
  .icn-mi-cuenta:before {
    content: "\e905";
    color: #fff;
  }
  .icn-home:before {
    content: "\e906";
    color: #fff;
  }
  .icn-salir:before {
    content: "\e907";
    color: #fff;
  }
  