@import 'fonts';

// FUENTES
$black: 'LatoWebBlack';
$bold: 'LatoWebBold';
$hairline: 'LatoWebHairline';
$heavy: 'LatoWebHeavy';
$regular: 'LatoWeb';
$light: 'LatoWebLight';
$medium:'LatoWebMedium';
$semibold: 'LatoWebSemibold';
$thin: 'LatoWebThin';

// COLORES
$azul: #274667;
$negro: #2b3743;
$gris: #455464;
$rojo: #ad2d3d;
$gris-claro: #9b9b9b;

// media:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xl-2: 1200px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (max-width: $breakpoint-sm){ @content; }
  }
  @else if $media == md {
    @media (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  }
  @else if $media == xl2 {
    @media (min-width: $breakpoint-xl-2) { @content; }
  }
}
@mixin estatus{
    i{
        width:10px;
        height:10px;
        border-radius:10px;
        margin-right:10px;
        display: inline-block;
        &.pendiente{
            background: #d0021b
        }
        &.enCotizacion{
            background: #f5a623;
        }
        &.enProduccion{
            background:#7ed321;
        }
        &.entregado{
            background: #4a90e2
        }
    }
}

body{
    background-image: url(./assets/images/bg.jpg);
    background-color:#f7f7f7;
    background-size:cover;
    font-family:$regular;
    width:100%;
    height:100%;
}
b,strong{
    font-family: $semibold;
}
// FORMULARIO 
.form-control:focus{
    border-color: $azul;
}
.form-control{
    font-family: $medium;
}
.formulario{
    min-width:310px;
    max-width:310px;
    margin: 0 auto;
    h4{
        color: $azul;
        font-size: 21px;
        text-align: center;
        font-family: $semibold;
        text-transform: uppercase;
        margin-bottom:26px;
    }
    label{
        &.error{
            // display:none;
        }
    }
    input{
        margin-bottom:12px;
        border:0;
        border-bottom: 0.5px solid rgba($gris, 0.3);
        color: $gris;
        background-color: transparent;
        padding: 16px 10px 16px 60px;
        font-family: $regular;
        font-size:14px;
        display:block;
        height:unset;
        &.usuario{
            background-image: url('./assets/images/icn-correo.svg');
            background-repeat: no-repeat;
            background-position: 15px center;
        }
        &.password{
            background-image: url('./assets/images/icn-password.svg');
            background-repeat: no-repeat;
            background-position: 15px center;
        }
        &.nombre{
            background-image: url('./assets/images/icn-nombre.svg');
            background-repeat: no-repeat;
            background-position: 15px center;
        }
        &.empresa{
            background-image: url('./assets/images/icn-empresa.svg');
            background-repeat: no-repeat;
            background-position: 15px center;
        }
        &.funcion{
            background-image: url('./assets/images/icn-funcion.svg');
            background-repeat: no-repeat;
            background-position: 15px center;
        }
    }
    .btn{
        margin-top:35px;
        max-width:233px;
        margin:23px auto 25px;
        &.btn-secundario{
            margin-bottom:0;
            margin-top:0;
        }
    }
    .form-group{
        margin-bottom:0;
    }
}
.container-scroller{
    overflow:unset;
}
label.btn.btn-group .btn.btn-secondary{
    border-color: transparent;
    background-color: transparent;
}
label.btn.active{
    
    > input{
        background:$rojo!important;
        color:#fff;
    }
    
}
// BTN REGRESAR
.recuperar{
    a{
        font-size: 12px;
        color: $gris-claro;
    }
    margin-bottom:25px;
}
// LOGIN
#auth{
    padding: 30px;
    .header{
        margin-bottom:18px;
    }
    h1{
        font-family: $medium;
        font-size: 60px;
        text-transform: uppercase;
        color: $azul;
        text-align:center;
        display: flex;
        align-items: flex-start;
        @include media(md) {
            font-size:5vw;
        }
        @include media(sm) {
            font-size:30px;
        }
        small{
            margin-top:12px;
            margin-right:10px;
        }
    }
    .full-page-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 147px);
    }
    &.login{
        
        .auto-form-wrapper{
            margin-top: 10vh;
            max-width: 1160px;
            width: 100%;
            // margin: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
        }
        
    }
    .auto-form-wrapper{
        // margin: auto;
    }
    
    .foto{
        // flex-grow: 1;
        box-sizing: border-box;
        padding-left: 10vw;
        @include media(md) {
            margin-top:35px;
            padding-left: 0vw;
        }
    }
}
.regresar{
    font-size: 12px;
    color: #9b9b9b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img{
        width: 5px;
        margin-right:10px;
    }
}

// BOTONES

.btn{
    border-radius: 8px;
    font-size: 16px;
    font-family: $bold;
    text-align: center;
    text-transform: uppercase;
    padding:10px 0;
    width:100%;
    &.btn-o{
        &.btn-red{
            border: solid 2px $rojo;
            color:$rojo;
        }

    }      
    &.btn-secundario{
        color:$azul;
        font-family: $regular;
        padding:8px 15px;
        border: solid 1px $azul;
        font-size:12px;
    }     
}

// SIDEBAR
.app-sidebar{
    position: fixed;
    z-index: 9;
    .colab{
        font-family: $regular;
        color:#fff;
        opacity: 0.8;
        margin-top: auto;
    }
}
.sidebar{
    span{
        font-family: $semibold;
        letter-spacing: 1.5px;
    }
    i{
        margin-right:16px;
    }
    > .nav:not(.sub-menu) > .nav-item > .nav-link{
        &.active{
            background: rgba(white, 0.4);
        }
    }
    .nav-item{
        &.nuevo{
            cursor:pointer;
            img{
                width: 21px;
                margin-right:11px;
            }
        }
    }
    .logo{
        text-align:center;
        font-size: 27px;
        color:#fff;
        font-family:$medium;
        width:100%;
        padding:35px 25px;
        text-transform: uppercase;
    }
    background:#344352;
    > .nav {
        overflow: scroll;
        height: 100vh;
        &::-webkit-scrollbar{
            display:none;
        }
        scrollbar-width: none;
    }
    .sub-menu{
        .nav-link{
            font-family: $regular;
            font-size:13px;
        }
    }
}
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link:before, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link:before {
    width: 1px;
    background: #707b85;
}
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link:after{
    width:14px;
    height:14px;
    content:'';
    position: absolute;
    left:28px;
    border-radius: 14px;
    background:#707b85;
}
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link.active:after{
    background:#d8d8d8;
}
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link{
    padding-bottom:20px;
}
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link:hover:before{
    background: #707b85;
}

// FOOTER
.footer{
    background:transparent;
    border-top:0;
}

// MAIN
.main-panel {
    min-height: 100vh;
    margin-left:270px;
    @include media(md){
        margin-left: 0px; 
    }
    
    background-image: url(./assets/images/bg.jpg);
    background-position: top center;
    background-color:#f7f7f7;
    background-size:cover;
}
.content-wrapper{
    background: transparent;
    min-height: calc(100% - 150px);
}

// HOME
.home{
    h2{
        text-align: center;
        color: $rojo;
        font-family: $medium;
        font-size: 30px;
    }
    h1{
       color: $negro;
       font-size: 50px;
       font-family: $light;
       text-align:center;
    }
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:100%;
    .card{
        margin-top:2vh;
        border-radius:8px;
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        // border: solid 3px #f7f7f7;
        background-color: #f7f7f7;
        text-align:center;
        .card-body{
            display:flex;
            align-items: center;
            justify-content: center;
            padding-top:10px;
        }
        img{
            width:50px;
            height:50px;
            min-width: 50px;
            margin-top: 20px;
        }
        .card-footer{
            border-top:0;
            color:#9b9b9b;
            text-align:center;
            font-size:16px;
        }
    }
}
// CONTENIDO GENERAL
.contenido{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:100%;
    .form{
        input{
            border-bottom:2px solid;
            padding:15px;
            color:$gris;
            width:100%;
            &::placeholder{
                color:$gris;
            }
        }
        select.custom-select {
            background-color: transparent;
            background-image: url(./assets/images/select.png);
            background-size: 10px;
            font-size:13px;
            border: 0;
            height:auto;
            padding:15px;
            border-bottom: 2px solid;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0;
            color: $gris;
        }
    }
    h2{
        text-align: center;
        color: $rojo;
        font-family: $medium;
        font-size: 30px;
        @include media(md){
            font-size: 25px;
        }
    }
    span.subtitulo{
        color:#9b9b9b;
        font-size:16px;
        text-align: center;
    }
    .form{
        max-width:300px;
        margin:0 auto;
    }
    .registro{
        width:100%;
        max-width: 200px;
        margin: 0 auto;
    }
    h1{
        color: $negro;
        font-size: 36px;
        font-family: $semibold;
        text-align:center;
        text-transform:uppercase;
        i{
            &:before{
                color: $negro;
            }
        }
        @include media(md){
            font-size: 33px;
        }
    }
    .card{
        margin-top:2vh;
        border-radius:8px;
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        // border: solid 3px #f7f7f7;
        background-color: #fff;
        text-align:center;
        .card-body{
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .card-footer{
            border-top:0;
            letter-spacing: 2px;
            color:#274667;
            text-align:center;
            font-size:22px;
        }
        img{
            width:100%;
            height:100px;
            object-fit: contain;
        }
    }
}
label.btn.btn-secondary{
    cursor: pointer;
    text-transform: unset;
    margin:0;
    padding:0;
    &:focus, &.focus{
        box-shadow: unset;
    }
    > input{
        opacity: 0;
        height: 0;
        display: block;
        overflow: hidden;
    }
}
// MIS PROTOTIPOS
.mis-prototipos{

    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
        grid-gap: 40px;
        display:grid;
        width:100%;
        max-width:1000px;
        margin:0 auto;
        @include media(sm){
            grid-template-columns: 1fr;
        }
    }
    .stretch-card{
        cursor: pointer;
        position: relative;
    }
    .card-body{
        min-height:160px;
    }
    .nuevo{
        i{
            font-size:50px;
            &:before{
                color: $gris-claro;
            }
        }
        .card-footer{
            letter-spacing:0;
            border-top:0;
            color:#9b9b9b;
            text-align:center;
            font-size:16px;
        }
    }
}
// TIPO DE CONTENEDOR
.tipo-contenedor{
    .otros-inputs{
        align-items: flex-start;
        justify-content: flex-start;
        small{
            color: $gris;
            font-weight: 300;
            margin-bottom: 5px;
            display:block;
        }
        input{
            color:$azul;
            border:1px solid $azul;
            border-radius:50px;
            // border-bottom: 1px solid $azul;
            padding:5px 15px;
            text-align: center;
            margin-bottom:5px;
            font-size:13px;
        }
    }
    .otros {
        flex-grow: 10;
        flex-basis: 150px;
        justify-content: center;
    }
    .my-auto{
        width: 100%;
        max-width: 800px;
        margin:0 auto;
    }
    .grid{
        grid-gap: 20px;
    }
    label.btn.btn-secondary{
        padding: 0;
        margin: 0;
        border: 0;
        background:transparent!important;
        > input{
            opacity: 0;
            height: 0;
            display: block;
            overflow: hidden;
        }
        .card{
            margin-top:0;
            border:2px solid transparent;
            height:100%;
        }
        &.active{
            .card{                
                border:2px solid $azul;
            }
        }
    }
}
// ESPECIFICACIONES
.paso2{
    .col-md-4{
        // height: 167px;
        label.btn.btn-secondary{
            font-size: 36px;
            color:$azul;
            background: white;
            height: 167px;
            width: 100%;
            text-align: center;
            height: 167px;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
            > input{
                opacity:0;
                width:0;
                overflow: hidden;
            }
            &.active{
                background: $rojo;
                color:#fff;
            }
        }
        .info{
            text-align: center;
            margin-top: 20px;
            margin-bottom:20px;
            img{
                cursor: pointer;
            }
            // &:hover{
            //     .info-texto{
            //         display: block;
            //         animation: aparecer 0.3s forwards 0.1s;
            //     }
            // }
            @keyframes aparecer{
                0%{
                    transform: translateY(25px);
                    opacity: 0;
                }
                100%{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            .info-texto{
                transform: translateY(25px);
                display:none;
                opacity:0;
                position: relative;
                svg{
                    position: absolute;
                    top:-20px;
                    left: 0;
                    right: 0;
                    margin:0 auto;
                    polygon{
                        fill: #f7f7f7;
                        stroke: #ececec;
                        stroke-dashoffset: 89px;
                        stroke-dasharray: 38px;
                    }
                }
                li{
                    list-style-type: decimal ;
                }
                border-radius:10px;
                margin-top:20px;
                padding:15px 25px;
                text-align:left;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
                background-color: #f7f7f7;
                &.active{
                    display: block;
                    animation: aparecer 0.3s forwards 0.1s;
                }
                
            }
            i{
                color:$gris-claro;
            }
            
        }
    }
}
.paso3{
    padding-top: 80px;
    position: relative;
    #ubi{
        width:100%;
        position: absolute;
        top:0;
        max-width: 1160px;
        right: 0;
        left:0;
        margin: 0 auto;
        #ext, #int{
            cursor:pointer;
            *{
                transition: all 0.3s;
            }
            &:hover, &.active{
                path{
                    fill: $rojo;
                }
                rect{
                    fill: $rojo;
                    stroke: white;
                }
                text{
                    fill: white;
                }
            }
            
        }
    }
}
.colab{
    color:$gris-claro;
    text-align: center;
}
.paso4{
    
    h3.tipo{
        text-align:center;
        font-size: 22.4px;
        width:100%;
        color: $azul;
        text-decoration: underline;
        display:block;
        margin-top:35px;
    }
    max-width: 1000px;
    margin:0 auto;
    position: relative;
    .interior{
        > div{
            flex-wrap:wrap;
        }
    }
    .nombres{
        .nombre p{
            // text-transform: uppercase;
            font-size: 13px;
        }
        label.btn.btn-secondary{
            &:focus, &.focus{
                box-shadow: unset;
            }
            height: auto;
            cursor:pointer;
            padding: 0 5px;
            margin-bottom: 0;
            background: transparent;
            border-color: transparent;
            text-transform: unset;
            &.active{
                // background:$rojo;
                h3,p{
                    color:#ad2d3d;
                }
                
            }
        }
        &:first-child{
            .nombre:first-child {
                margin-top: -14px;
            }
        }
        input{
            width:0;
            height:0;
            overflow: hidden;
            opacity: 0;
        }
        h3{
            font-family: $heavy;
            color: $azul;
            font-size:20px;
            margin-bottom:2px;
            opacity: 0;
        }
        p{
            font-size:13px;
            color:#000;
            font-family: $medium;
        }
        &.right{
            order:2
        }
    }
    .exterior #btn-radios-pza{
        display:block;
    
    }
    .exterior{
        
        .nombres{
            p{
                font-size: 11px;
            }
            display:block;
            z-index: 1;
            > div{
                display:flex;
                flex-direction: row;
            }
            &:first-child{
                @include media(xl2){
                    .bloque-1{
                        max-width:25%;
                        float:left;
                        .uno{
                            margin-bottom: -50px;
                            margin-top: 47px;
                            margin-left: 0px;
                            max-width: 150px;
                            z-index: 1;
                        }
                        .dos{
                            margin-bottom: -120px;
                            margin-top: 130px;
                            margin-left: -60px;
                            z-index: 1;
                            max-width: 120px;
                        }
                    }
                    .bloque-2{
                        max-width:33.33%;
                        float:left;
                        .tres{
                            margin-top: 14px;
                            margin-bottom: -20px;
                            margin-left: -8px;
                            max-width: 180px;
                            z-index: 1;
                        }
                        .cuatro{
                            margin-bottom: -120px;
                            z-index: 1;
                            margin-top: 80px;
                            max-width: 152px;
                            margin-left: -35px;
                        }
                        .cinco{
                            margin-top: 45px;
                            margin-bottom: -36px;
                            margin-right: 48px;
                            z-index: 1;
                            max-width: 187px;
                        }
                    }
                    .bloque-3{
                        max-width: 39%;
                        float:right;
                        .seis{
                            margin-top: 69px;
                            margin-bottom: -70px;
                            z-index: 1;
                            margin-left: -43px;
                        }
                        .siete{
                            margin-top: 123px;
                            margin-bottom: -130px;
                            z-index: 1;
                            margin-left: -2px;
                        }
                        .ocho{
                            margin-top: 153px;
                            margin-bottom: -170px;
                            z-index: 1;
                            margin-right: 34px;
                        }
                    }
                }
            }
            &.claseC{
                &.nombres.right {
                    .bloque-1 {
                        @include media(xl2){
                            .cuatro{
                                max-width: 120px;
                                margin-left: 350px;
                                z-index: 1;
                                margin-top: -80px;
                            }
                        }
                    }
                    .bloque-2{
                        @include media(xl2){
                            .cinco{
                                max-width: 120px;
                                margin-right: 192px;
                                margin-top: -68px;
                                z-index: 1;
                            }
                        }
                    }
                }
                
                &:first-child{
                    @include media(xl2){
                        .bloque-1{
                            float:left;
                        }
                        .bloque-2{
                            .dos{
                                margin-bottom: -55px;
                                margin-left: 99px;
                                max-width: 185px;
                                margin-top: 16px;
                                z-index: 1;
                            }
                        }
                        .bloque-3{
                            float:left;
                            .tres{
                                margin-bottom: -123px;
                                margin-left: 242px;
                                max-width: 125px;
                                margin-top: 95px;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
            &.right{
                @include media(xl2){
                    .bloque-1{
                        float:left;
                        max-width:50%;
                        .uno{
                            z-index: 1;
                            margin-top: -65px;
                            
                        }
                        .dos{
                            z-index: 1;
                            margin-top: -86px;

                            margin-left: 34px;
                            max-width: 200px;
                            margin-right: -86px;
                        }
                        .tres{
                            z-index: 1;
                            margin-top: -86px;
                            margin-left: 82px;
                            margin-right: -12px;
                        }
                    }
                    .bloque-2{
                        max-width: 33%;
                        float:right;
                        .cuatro{
                            margin-top: -84px;
                            /* margin-left: 165px; */
                            z-index: 1;
                            max-width: 213px;
                        }
                        .cinco{
                            z-index: 1;
                            margin-left: -61px;
                        }
                        .seis{
                            z-index: 1;
                            margin-top: -66px;
    
                        }
                    }
                    
                }
            }
        }
        #ext_detail{
            width: 100%;
    position: absolute;
    bottom: 0px;
    left: 15px;
        }
    }
    .foto{
        position:relative;
        z-index: 0;

    }
    #int_detail{
        width:100%;
        // height:100%;
        position: absolute;
        text, use{
            transition: all 0.3s;
            // cursor: pointer;
        }
        use:hover{
            // fill: $rojo
        }
    }
}
.paso5{
    label.btn.btn-secondary{
        cursor: pointer;
        background:transparent!important;
        border:0;
        border-color:transparent;
        text-transform: unset;
        color:#CECECE;
        &:focus, &.focus{
            box-shadow: unset;
        }
        &.active{
            color:$azul;
            i{
                color: #CECECE;
            }
            img{
                opacity: 1;
            }
        }
    }
    i{
        margin-left: 15px;
    }
    > input{
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    img{
        opacity: 0.4;
        margin-bottom:20px;
    }
    .info{
        img{
            cursor: pointer;
        }
        .info-text{
            max-width: 150px;
            display:none;
            font-family: $regular;
            color: $gris-claro;
            font-size:13px;
            margin-top:15px;
            margin-right: auto;
            margin-left: auto;
            &.active{
                display: block;
            }
        }
    }

}
.paso7{
    .toggle-switch, .switch-bootstrap{
        margin-top:35px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:18px;
        .active{
            color: $azul;
        }
        .switch{
            margin: 0 15px;
        }
    }
}
// MM DE PIEZA
.piezaImg{
    position:relative;
    &.rectangulo{
        margin-bottom:35px;
        .inputNum{
            position: absolute;
            &.altura{
                left: -56px;
                bottom: 27%;
                &:before{
                    content: 'Alto';
                    position: absolute;
                    letter-spacing: 3px;
                    left: -65px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.eng{
                    &:before{
                        content: 'Height';
                        left: -70px;
                    }
                }
            }
            &.ancho{
                bottom: -15px;
                left: 23%;
                &:before{
                    content:'Ancho';
                    position: absolute;
                    letter-spacing: 3px;
                    top: -30px;
                    text-align: center;
                    width: 100%;
                    left: 0;
                }
                &.eng{
                    &:before{
                        content: 'Width';
                    }
                }
            }
            &.largo{
                right: 0;
                top: 9%;
                &:before{
                    content:'Largo';
                    position: absolute;
                    letter-spacing: 3px;
                    left: -75px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.eng{
                    &:before{
                        content: 'Length';
                    }
                }
            }
        }
    }
    
}
// INPUT
.inputNum{
    display:inline-block;
    div{
        border:1px solid $azul;
        background:#fff;
        border-radius: 50px;
        width: 130px;
        height:48px;
        display:flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        input{
            flex-grow:1;
            font-size: 22px;
            color: $azul;
            text-align: center;
            background:transparent;
            border:0;
            width: 30%;
            margin-top:-2px;
            // padding-left: 15px;
        }
        span{
            // cursor:pointer;
            color: $gris-claro;
            font-size: 13px;
        }
        #numAct{
            cursor: pointer;
            padding-left: 10px;
        }
    }
    button{
        background:transparent;
        border:0;
        border-color:transparent;
        padding:0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &[disabled= "disabled"]{
            opacity: 0.3;
        }
        &.prev{
            left: -8px;
        }
        &.next{
            right:-8px;
        }
    }
}
.peso{
    div{
        width: 250px;
        height:95px;
        input{
            font-size: 40px;
        }
    }
    button.next{
        right: -20px;
        img{
            width:12px;
        }
    }
    button.prev{
        left: -20px;
        img{
            width:12px;
        }
    }
    position: relative;
}

// SWITCH
#switch{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 20px;
	height: 10px;
	border-radius: 6px;
  background-color: #d8d8d8;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch:after {
	content: '';
	position: absolute;
    top: -2px;
    left: -5px;
	width: 15px;
	height: 15px;
	border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: $azul;
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + label {
	// background: #bada55;
}

#switch:checked + label:after {
	left: calc(100% + 5px);
	transform: translateX(-100%);
}

.switch:active:after {
	width: 130px;
}
.radio-images{
    margin-bottom: 40px;
    margin-top:15px;
    label.btn{
        cursor:pointer;
        width:100%;
        background:transparent;
        // height:350px;
        padding: 15px;
        border-radius: 13px;
        box-shadow: transparent;
        position: relative;
        border:0;
        border-color:transparent!important;
        &.active{
            background:#fff!important;
            border:2px solid $azul;
            border-color:$azul!important;
            &:after{
                content:'';
                width:15px;
                height:15px;
                border-radius: 15px;
                background:$azul;
                display: block;
                margin:30px auto 0;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
    > input{
        opacity:0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    img{
        // object-fit: cover;
        width: 100%;
        // height:100%;
        // border-radius: 5px;
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        // overflow: hidden;
    }
    span{
        position: absolute;
        top:50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        z-index: 9;
        left:0;
        // text-shadow: 0 1px 3px rgba(0, 0, 0, 0.72);
        letter-spacing: 2px;
        // color:#fff;
    }
}

// NUMERO DE PIEZAS
.numero-piezas{
    .inputNum{
        transition: all 0.3s;
        *{
            transition: all 0.3s;
        }
        &.inactive{
            filter: grayscale(100%);
            opacity: 0.5;
            button{
                display: none;
            }
            div{
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
                border-color:transparent;
            }
        }
    }
    .toggle-switch,.switch-bootstrap{
        .custom-switch .custom-control-label::after,.custom-switch .custom-control-label::before{
            left:-1.75em;
        }
        span{
            opacity: 0.5;
            &.active{
                opacity: 1;
            }
        }
        .switch{
            margin: 5px auto 0;
            &:after{
                background-color: $gris-claro;
            }
        }
        #switch:checked + label:after{
            background-color: $azul;
        }
    }
}
.switch-bootstrap{
.custom-switch .custom-control-input:checked ~ .custom-control-label::after,.custom-switch .custom-control-label::after{
    width: 20px;
    height: 20px;
    top:1px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #274667;
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.custom-switch {
    padding:0;
    padding-left: 2.75rem;
    padding-top: 14px;
    margin: 0 20px;
}
.custom-control-input:checked ~ .custom-control-label::before,.custom-control-label::before {
    color: #fff;
    border-color: transparent;
    background-color: #d8d8d8;
    height: 12px;
    top: 5px;
    width: 40px;
}
.custom-switch .custom-control-label::after{
    left:-2.75rem
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after{
    transform: translateX(30px);
}
.custom-control-input:focus ~ .custom-control-label::before{
    box-shadow: unset;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
    border-color:transparent
}
}
// TIPO DE USO
.tipo-uso{
    .my-auto{
        width: 100%;
        max-width: 800px;
        margin:0 auto;
    }
    .grid{
        grid-gap:20px;
        > label{
            grid-column: 1 / 3
        }
    }
    label.btn.btn-secondary{
        padding: 0;
        margin: 0;
        border: 0;
        background:transparent!important;
        font-size: 15px;
        input{
            opacity: 0;
            height: 0;
            display: block;
            overflow: hidden;
        }
        .card{
            margin-top:0;
            border:2px solid transparent;
            height:100%;
            .card-footer{
                font-size: 16px;
            }
        }
        #no-estoy-seguro{
            color:#9B9B9B;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            height: 90px;
            img{
                width:15px;
                margin-right:15px;
                height:auto;
            }
        }
        &.active{
            .card{                
                border:2px solid $azul;
            }
            #no-estoy-seguro{
                color: #000;
            }
        }
    }
}
.resumen{
.rectangulo, .cuadrado, .triangulo,.triangulo-2, .trapezoide {
    max-width: 400px;
    // height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    
    > div{
        display: flex;
        // flex-grow:1;
        flex-wrap: nowrap;
        background:rgba(#274667, 0.1);
        border:1px solid rgba(#274667, 0.6);
        border-top:0;
        &:first-child{
            border-top:1px solid rgba(39, 70, 103, 0.6);
        }
    }
    &.widthR{
        max-width:150px;
    }
    &.tooBig{
        max-width:400px;
    }
    &.tooSmall{
        max-width: 200px;
    }
    &.alturaR{
        max-width:250px;
        height:200px;
        > div{
            display:block;
            background: transparent;
            border:0;
            &:first-child{
                img, .imagen-fix{
                // border-left:1px solid rgba(#274667, 0.6);
                border-top: 1px solid rgba(#274667, 0.6);
                }
                
            }
            img,.imagen-fix{
                height: 100%;
                background: rgba(#274667, 0.1);
                border-right:1px solid rgba(#274667, 0.6);
                border-bottom:1px solid rgba(#274667, 0.6);
                border-top: 1px solid transparent;
                // border-bottom:1px solid rgba(#274667, 0.6);
                &:first-child{
                    border-left: 1px solid rgba(#274667, 0.6);
                }
            }
        }
    }
    img,.imagen-fix {
        -webkit-flex: 1;
        min-width: 1px;
        border-right: 1px solid rgba(#274667, 0.6);
        &:last-child{
            border-right:0;
        }
    }
    .imagen-fix{
        img{
            width: 100%;
        }
    }
}
.triangulo{
    img{
        border-right:0;
    }
}
}
// DUNNAGE
.dunnage{
    .info-text{
        color: #9B9B9B;
        font-size: 14px;
    }
    .paso1{
        flex-wrap: wrap;
        justify-content: center;
        .boton{
            flex-basis: 30%;
            min-width: 31%;
            .info{
                font-size:14px;
                color:#9B9B9B;
                padding-left:25px;
                display:block;
                position:relative;
                margin-bottom:15px;
                margin-top:5px;
                &:before{
                    display:block;
                    position:absolute;
                    left:1px;
                    top:5px;
                    content:'';
                    width:15px;
                    height:15px;
                    background:url('./assets/images/info.svg');
                    background-size:15px;
                }
            }
        }
        @include media(sm){
            display:block;
            flex-direction: column;
            .boton{
                min-width: 100%;
            }
        }
    }
    .card{
        margin-top:0;
        flex-direction:row;
        align-items: center;
        text-align: center;
        height:100px;
        justify-content: center;
        padding:15px;
        font-size:20px;
        color:$azul;
        font-family:$regular;
        letter-spacing:2px;
        &.none{
            color:$gris-claro;
            font-size:14px;
            letter-spacing:0;
        }
    }
    .card{
        margin-top:0;
        border:2px solid transparent;
    }
    label.btn.btn-secondary{
        &.active{
            .card{                
                border:2px solid $azul;
            }
        }
    }
    .paso1{

    }
}
[class^="nivel-"], [class*=" nivel-"] {
    .nombre{
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        // border: solid 3px #f7f7f7;
        background-color: #f7f7f7;
        text-align:center;
        color:$azul;
        font-size:20px;
        letter-spacing: 2px;
        padding:34px 0;
        margin-bottom:25px;
        width: 100%;
        transition: 0.3s;
        &.active{
            background:#fff;
            border:2px solid $azul;
        }
        @include media(sm){
            font-size:12px;
            padding: 15px 10px;
            letter-spacing: 1px;
            margin-bottom:10px;
        }
    }
}
.columnaB{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    > button{
        min-width:100%;
        align-self: flex-start;
    }
    .columna-2{
        flex-basis:40%;
        flex-grow:1;
        flex-shrink: 0;
        &:first-child{
            margin-right:10px;
        }
        &:nth-child(3){
            margin-left:10px;
        }
        
    }
}

.grid-tree{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    align-items: flex-start;
    @include media(sm){
        grid-gap: 10px;
    }
    button{
        text-transform: unset;
        font-family: $regular;
    }
}
.nivel-1{
    border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        border:2px solid $azul;
        // border: solid 3px #f7f7f7;
        background-color: #fff;
        text-align:center;
        color:$azul;
        letter-spacing: 2px;
        padding:36px 0;
        font-size:20px;
}
@media (min-width:992px){
    .sidebar-small{
        #apps-dropdown .nav-link {
            text-indent: -999px;
            max-width: 57px;
            overflow: hidden;
        }
        .main-panel{
            margin-left:70px;
            width:calc(100% - 70px);
        }
        .sidebar{
            width: 60px;
            > .nav .nav-item .nav-link .menu-title{
                display:none;
            }
            .nav-link{
                color:transparent!important;
            }
            .logo{
                padding:35px 15px;
                
            }
        }
        .sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link,.sidebar > .nav .nav-item .nav-link{
            padding-left: 22px;
        }
        .sidebar > .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile):not(.hover-open) > .nav-link:not([aria-expanded="true"]){
            padding-left:22px;
        }
        .sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link:after{
            left:23px;
        }
        .sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link:before, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link:before{
            left:30px;
        }
        .icn-salir{
            margin-left: 6px;
        }
    }
}

.tree{
    .info{
        font-size:14px;
        color:#9B9B9B;
        padding-left:15px;
        display:block;
        position:relative;
        margin-bottom:15px;
        margin-top:5px;
        &:before{
            display:block;
            position:absolute;
            left:1px;
            top:5px;
            content:'';
            width:10px;
            height:10px;
            background:url('./assets/images/info.svg');
            background-size:10px;
        }
    }
}
.nivel-2{
    &.columna {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        .nombre{
            min-width: 100%;
        }
        .nivel-3{
            .nombre{
                min-width: 100%;
            }
            flex-grow:1;
            &:nth-child(2){
                margin-right:0.5rem;
            }
            &:nth-child(3){
                margin-left: 0.5rem;
            }
        }
    }
}
.nivel-4.columna-3,.nivel-4.columna-2 {
    width: 100%;
    max-width: 30%;
    display: inline-block;
    letter-spacing: 0px;
    margin-right: 7px;
    font-size: 12px;
    vertical-align: text-top;
    &:last-child,&:nth-child(4){
        margin-right:0;
    }
    .nombre{
        letter-spacing: 0;
        margin-bottom: 5px;
    }
    
}
.nivel-4.columna-2{
    max-width: 44%;
    margin-right:5px;
    &:nth-child(3){
        margin-right:0;
    }
}
.info-show{
    margin:15px auto;
    cursor:pointer;
    width: 15px;
    display: block;
}
.info-text{
width: 100%;
text-align: center;
margin-bottom: 15px;;
}
.color{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    >span{
        margin-right:15px;
    }
}
.color-list, .acabado-list{
    display: block;
    padding: 0;
    margin: 0;
    &.btn-group > .btn:not(:last-child):not(.dropdown-toggle), &.btn-group > .btn-group:not(:last-child) > .btn {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px; 
    }
    label.btn.btn-secondary{
        text-indent: -99999px;
        width: 30px;
        height: 30px;
        background: $gris;
        border-radius: 30px;
        margin: 0 5px;
        &.azul{
            background:#4A90E2;
        }
        &.blanco{
            background:#fff;
            border:2px solid $negro;
        }
        &.negro{
            background: $negro;
        }
        &.active{
            border:2px solid $rojo;
        }
    }
}
.acabado{
    margin-top:15px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    >span{
        margin-right:15px;
    }
}
.acabado-list{
    label.btn.btn-secondary{
        text-indent: unset;
        background:transparent;
        border:1px solid #4A90E2;
        position: relative;
        &.active{
            border:1px solid #fff;
            background:rgba($gris-claro, 0.2)
        }
        span{
            position: absolute;
            font-size: 11px;
            bottom:-18px;
            color:$gris-claro;
            letter-spacing: 2px;
            left:0;
            right:0;
            margin:0 auto;
            @include media(sm){
                display: none;
            }
        }

    }
}
// RESUMEN
.resumen{
    .row{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: #f8f8f8;
        padding:45px 30px 30px;
        margin-bottom:35px;
    }
    table{
        font-size:16px;
        color:$azul;
        font-family: $bold;
        table-layout: fixed;
        .nombre{
            text-align:right;
            padding-right:15px;
            color:#4A4A4A;
            font-family: $regular;
        }
        text-transform:capitalize;
    }
    .editar-proto{
        color: $gris-claro;
        letter-spacing: 2px;
        font-size:12px;
        margin-top:20px;
        display:flex;
        justify-content: flex-end;
        img{
            margin-right:15px;
        }
    }
    .botones{
        .btn-rojo{
            border:2px solid $rojo;
            font-family: $bold;
            color: $rojo;
            text-transform: uppercase;
            font-size:16px;
        }
    }
}
.btn-rojo{
    border:2px solid $rojo !important;
    font-family: $bold!important;
    color: $rojo!important;
    text-transform: uppercase;
    font-size:16px;
    background: transparent!important;
}
.modal-footer{
    .btn-sm {
        background: $azul;
        color: #fff;
        font-size: 12px;
    }
}
.status{
    display:flex;
    align-items: center;
    i{
        font-size: 11px;
    }
    span{
        flex-grow: 1;
        margin-left: 10px;
        font-size: 13px;
    }
    
}
.completo{
    background:#3fca3f;
    color:#fff;
    width:15px;
    height:15px;
    text-align: center;
    line-height: 0.6em;
    border-radius:30px;
    color:#fff;
    margin-left: -3px;
    + span{
        // margin-left: 6px;
    }
}
.incompleto{
    background: #ff7d4b;
    width:15px;
    height:15px;
    text-align: center;
    border-radius:30px;
    color:#fff;
    line-height: 0.6em;
}
.status-proto{
    position: absolute;
    right:-10px;
    top:0;
    z-index: 8;
    width:30px;
    line-height: 1.9em;
    height:30px;
}
.app-lang{    
    text-align: right;
    padding-right:26px;
    margin-top:15px;
    @media (min-width: 992px){
        position: absolute;
        margin-top:0;
    }
    right: 0;
    top: 15px;
    ul{
        li{
            list-style-type: none;
            display: inline-block;
            &:first-child{
                margin-right:8px;
            }  
        }
    }
    a{
        font-size:20px;
        font-family: $medium;
        color:#274667;
        opacity: 0.5;
        &.active{
            color:#274667;
            opacity: 1;
            text-decoration: underline;
        }
    }
}
p.red {
    color: #ff6e37;
}
.header-print {
    border-bottom: 5px solid #274667;
    text-align: center;
    width: calc(100% + 108px);
    margin-left: -54px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.imprimirContent {
    background:#fff;
    height:100%;
    text-align:center;
}
.imprimirFooter{
    background:#fff;
}
.imp-img{
    display: none;
}
body{
    &.imprimir{
        .app-lang,.app-sidebar{
            display:none;
        }
        .main-panel{
            margin-left: 0;
            width: 100%;
        }
        .content-wrapper{
            // background:#fff;
            padding:0;
            .resumen{
                .row{
                    background: #fff;
                    box-shadow: unset;
                    border: 1px solid #D8D8D8;
                    border-radius: 10px;
                }
            }
        }
        .app-footer{
            background: #fff;
            .imp-img{
                display:block;
                img{
                    width: 100px;
                }
            }
        }
    }
}
#admin{
    .btn.btn-primary{
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        border-radius:4px;
        background-color: #4a90e2;
        border-color: #4a90e2;
    }
    &.solicitudes{
        .btn.btn-primary{
            width:200px;
            font-size:12px;
            color:#fff;
        }
    }
    .custom-control-input:checked ~ .custom-control-label::before{
        border-color: #7ed321;
        background-color: #7ed321;
    }
    .custom-switch .custom-control-label::before{
        background-color: #ad2d3d;
        border-color:transparent;
    }
    .custom-switch .custom-control-label::after{
        background:#fff;
    }
    .custom-control-input:focus ~ .custom-control-label::before{
        box-shadow: 0 0 0 0 transparent;
    }
    h1{
        font-size: 36px;
        font-family: $medium;
        color:$azul;
        text-transform: uppercase;
    }
    .search{
        border-radius: 4px;
        border: solid 1px #e3dede;
    }
}
.tabla{
    margin-top:30px;
    .fa-eye{
        color:#4a90e2;
        font-size:30px
    }
    button{
        background:transparent!important;
        padding:0;
        border:0;
        width:auto;
        margin:0;
    }
    .table{
        color:$azul;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
        th{
            padding: 25px 15px;
            font-family: $semibold;
            color:#fff;
            text-transform: uppercase;
            background-color: $azul;
        }
        td{
            font-family: $medium;
            border-color:transparent;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @include estatus;
    }
}
.estatus{
    @include estatus;
}
#modal-1{
    font-family: $medium;
    h1{
        text-align: center;
        padding:15px 0;
        color:$azul;
        text-transform: uppercase;
        font-family: $semibold;
    }
    .modal-dialog{
        max-width: 900px;
    }
    .modal-body{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: #f8f8f8;
        border:0;
    }
    .table th, .table td{
        border-top:0;
        color:unset;
    }
    table{
        table-layout: fixed;
        @include media(md){
            // tr {
            //     display: flex;
            //     width: 100%;
            // }
            // td{
            //     flex-grow: 1;
            // }
        }
        
    }
    .row{
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
        background-color: #f8f8f8;
        padding:30px;
        margin-bottom:0px;
    }
    .info{
        color:$azul;
        width: 80%;
        margin: 35px auto 0;
        &.row{
            padding:0;
        }
        legend{
            @media (min-width:992px){
                text-align: right;
            }
        }
    }
    hr{
        border-color:$azul;
        max-width: 90%;
        margin: 35px auto;
    }
    .form-group{
        legend{
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                display: inline-block;
                position: relative;
                border-radius: 10px;
                margin-left: 10px;
                }
        }

    }
    .pendiente {
        legend{
            &:after{
                background: red;
            }
        }
    }
    .entregado {
        legend{
            &:after{
                background: #4a90e2;
            }
        }
    }
    .enCotizacion{
        legend{
            &:after{
                background: #f5a623;
            }
        }
    }
    .enProduccion{
        legend{
            &:after{
                background:#7ed321;
            }
        }
    }
}
    #modal-2{
        hr{
            border-color:$azul;
            max-width: 90%;
            margin: 35px auto;
        }
        h1{
            font-family: $semibold;
            text-transform: uppercase;
            color:$azul;
            text-align:center;
            margin:35px 0;
        }
        .modal-dialog{
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            background-color: #f8f8f8;
        }
        .modal-body{
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
            background-color: #f8f8f8;
        }
        input{
            font-family: $medium;
        }
        .custom-control-input:checked ~ .custom-control-label::before{
            border-color: #7ed321;
            background-color: #7ed321;
        }
        .custom-control-input:focus ~ .custom-control-label::before{
            box-shadow: 0 0 0 0 transparent;
        }
        .modal-footer{
            background-color: #f8f8f8;
            border-top:0;
            button{
                width: auto;
                padding: 10px 30px;
                margin-right: 15px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .sidebar{
        @media (min-width: 992px){
            > .nav{
                height: calc(100vh - 150px);
                padding-bottom: 40px;
            }
            .menu-toggle{
                display: none;
            }
            flex-flow: wrap row;
            .menu{
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                margin-top: 4vh;
            }
            .logo{
                    width: 100%;
                    max-width: 100%;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 0 auto;
                    img{
                        max-width:unset;
                        width:75%;
                    }
            }
        }
        @media (max-width: 500px){
            flex-direction:column;
        }
    }
    .app-sidebar{
        background: #344352;
    }
    @media (max-width:991px){
        
        .acabado{
            flex-direction:column;
            > div {
                margin-bottom: 50px;
            }
        }
        .piezaImg {
            max-width: 320px;
            margin-top:35px;
            img{
                width:100%;
            }
            &.rectangulo{
                .inputNum{
                    &.ancho{
                        bottom: -9px;
                        left:28%;
                    }
                    &.altura{
                        left: -0px;
                        &:before{
                            left:unset;
                            right:-65px;
                        }
                    }
                }
            }
            .inputNum{
                
                div{
                    width: 60px;
                    height: 30px;
                    input{
                        font-size: 15px;
                    }
                    span{
                        font-size: 9px;
                        display:none;
                    }
                }
            }
        }
        
        .paso4 .nombres:first-child .nombre:first-child{
            margin-top:0;
        }
        .paso4 .exterior #btn-radios-pza{
            display:flex;
            .nombre {
                flex-grow: 1;
                /* padding: 0 15px; */
                /* min-width: 50%; */
                flex-basis: 50%;
                flex: 1 0 33%;
            }
        }
        .exterior .nombres > div{
            flex-wrap: wrap;
        }
        img#ext_detail{
            display:none;
        }
        .paso4{
            .btn-group{
                flex-direction: column;
                
            }
            
            .nombres{
                .nombre {
                    flex-grow: 1;
                }
                display: flex;
                align-items: center;
                flex: 1 0 auto;
                flex-wrap: wrap;
                &.right{
                    order:1;
                }
            }
            .foto{
                order:2;
                grid-column: 1 / 3;
            }
            img#int_detail{
                display:none;
            }
        }
        .paso3 {
            padding-top: 40px;
        }
        .content-wrapper{
            padding-top:0;
        }
        
        i.mdi.mdi-menu {
            color: white;
            font-size: 25px;
            margin-right: 0;
        }
        .nav-item.logo{
            text-align:left;
            br{
                display:none;
            }
            img{
                width:80px;
            }
            padding:0;
        }
        .sidebar-offcanvas {
            position: fixed;
            max-height: unset;
            top: 0;
            bottom: 0;
            overflow: auto;
            right: 0;
            -webkit-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }
        // GENERAL
        .menu-toggle{
            display:block;
            cursor:pointer;
            // padding: 0 15px;
            align-self: center;
            cursor: pointer;
           
            &.active{
                i{
                    &.mdi-menu:before {
                        content: "\F156";
                    }
                }
            }
        }
        .sidebar{
            > ul.nav {
                position: fixed;
                top: 65px;
                background: darken(#344352, 10%);
                width: 270px;
                right: 0;
                max-height: 100vh;
                min-height: 100vh;
                padding-bottom: 100px;
                transform: translateX(100%);
                transition: all 0.3s ease-in-out;
                &.active{
                    transform: translateX(0);
                }
            }
            padding:0 15px;
            width:100%;
            height:65px;
            overflow: visible;
            position:fixed;
            display: flex;
            align-items: center;
            min-height:auto;
            border-right:0;
            
            .menu{
                position:fixed;
                right:-100%;
                padding:15px 30px;
                background: #f7f7f7;
                min-height: calc(100vh - 65px);
                overflow:auto;
                top:65px;
                height:100%;
                padding-bottom:90px;
                border-right:5px solid $azul;
                transition:all 0.5s ease-in-out;
                &.active{
                    right:0;
                }
                li{
                    font-size: 12px;
                    a{
                        padding-top:15px;
                    }
                }
            }
        }
        .main-panel{
            width:100%;
            margin-left:0;
            margin-top:65px;
        }
    }
    @include media(sm){
        .dunnage{
            .card{
                height:70px;
                font-size:16px;
                letter-spacing: 1px;
            }
            .tyvek{
                .grid-tree{
                    grid-template-columns: 1fr 1fr 2fr;
                }
            }
            .color-list label.btn.btn-secondary, .acabado-list label.btn.btn-secondary{
                width: 20px;
                height: 20px;
                margin: 0 4px;
            }
            .nivel-1{
                padding: 15px 0;
                font-size: 17px;
            }
            .acabado{
                flex-direction: row;
                align-items: flex-start;
            }
        }
        .almacenamiento, .tipo-uso{
            .grid{
                display:block;
                > div{
                    margin-bottom: 35px;
                }
            }
        }
        .paso2{
            .btn-group{
                flex-direction: column;
            }
        }
    }
    @media (max-width: 600px){
        .sidebar{
            flex-direction: row;
            .logo{
                font-size: 18px;
            }
        }
        
    }
    @media (max-width:480px){
        // GENERAL
        .sidebar{
            
        }
        
    }