<template lang='html'>
    <section class='contenido mis-prototipos tipo-contenedor resumen' :class="{imprimir: imprimir == true}">
        <div class="header-print" v-if="imprimir == true">
            <h1>
                DESCANSA BRAZOS
            </h1>
            <span>{{prototipo.especificaciones.nombre_proyecto}}</span>
        </div>
        <!-- TITULOS DE LA SECCIÓN -->
        <div :class="{imprimirContent: imprimir == true}">
        <h1 v-if="imprimir == false && prototipo.especificaciones.nombre_proyecto == null || prototipo.especificaciones.nombre_proyecto == ''" class="text-center">
            <i class="icn icn-prototipos"></i>
            {{ $t('especificaciones.nuevo_prototipo') }}
        </h1>
        <h1 v-else class="text-center">
            <i v-if="imprimir == false" class="icn icn-prototipos"></i>
            <span v-if="imprimir == false">{{ prototipo.especificaciones.nombre_proyecto }}</span>
        </h1>
        
        <h2>{{ $t('resumen.resumen') }}</h2>
        <span class="subtitulo mb-auto w-100 text-center d-block">{{ $t('resumen.deacuerdo_a') }}</span>
        <div class="my-auto">
            <div class="estatus text-center mt-3" v-if="imprimir == false">
                <div v-if="prototipo.estatus == 'Pendiente'"><i class="pendiente"></i> {{ $t('resumen.estados.pendiente') }}</div>
                <div v-if="prototipo.estatus == 'En Cotización'"><i class="enCotizacion"></i> {{ $t('resumen.estados.cotizacion') }}</div>
                <div v-if="prototipo.estatus == 'En Producción'"><i class="enProduccion"></i> {{ $t('resumen.estados.produccion') }}</div>
                <div v-if="prototipo.estatus == 'Entregado'"><i class="entregado"></i> {{ $t('resumen.estados.entregado') }}</div>
            </div>
            <!-- <button @click="testearImg()">Test Imagen</button>
            <img :src="imagenTest"> -->


            <div class="resumen mt-4">
                <div class="row d-md-flex align-items-center">
                    <div class="text-center mb-2 col-md-12" v-if="imprimir == false">
                        <p v-if="avisoMedidas" class="red">{{$t('resumen.aviso')}}</p>
                        <p v-if="!avisoMedidas && avisoContenedores" class="red"> {{ $t('resumen.de_acuerdo1')}} {{ contenedoresRequeridos }} {{ $t('resumen.de_acuerdo2')}}</p>
                    </div>

                    <div class="col-md-6">
                        <table class="w-100">
                            <tr>
                                <td class="nombre">{{ $t('resumen.clase') }}</td>
                                <td class="desc"> {{ prototipo.especificaciones.tipoClase }} </td>
                            </tr>
                            <tr>
                                <!-- <td class="desc"> {{ prototipo.especificaciones.forma_pieza }} </td> -->
                                <td class="nombre">{{ $t('resumen.forma') }}</td>
                                <td class="desc"> {{ forma }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.dimenciones') }}</td>
                                <td class="desc">
                                    {{ prototipo.especificaciones.altura_pieza }}x{{ prototipo.especificaciones.largo_pieza }}x{{ prototipo.especificaciones.ancho_pieza }}
                                </td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.peso') }}</td>
                                <td class="desc"> {{ prototipo.especificaciones.peso_num }} g</td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.acabado') }}</td>
                                <td class="desc"> {{ prototipo.especificaciones.acabado }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.contenedor') }}</td>
                                <td class="desc"> {{ tipo_contenedor }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.cantidad_piezas') }}</td>
                                <td class="desc" v-if="!prototipo.num_piezas.na"> 
                                    {{ prototipo.num_piezas.num_piezas }} {{ $t('resumen.pzaspcontenedor') }}
                                </td>
                                <td class="desc" v-else> 
                                    N/A
                                </td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.tipo_uso') }}</td>
                                <td class="desc"> {{ tipo_uso }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.almacenamiento') }}</td>
                                <td class="desc">{{ almacenamiento }}</td>
                            </tr>
                            <tr>
                                <td class="nombre">{{ $t('resumen.material') }} {{ $t('resumen.tipo') }}</td>
                                <td class="desc"> {{ prototipo.dunnage.dunnageR }} {{ prototipo.dunnage.nivel2 }}</td>
                            </tr>
                            <!-- <tr>
                                <td class="nombre"></td>
                                <td class="desc"></td>
                            </tr> -->
                            <tr>
                                <td class="nombre">{{ $t('resumen.cantidad_piezas_2') }}</td>
                                <td class="desc"> {{ this.prototipo.especificaciones.pzasTotales }}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="figuras" class="col-md-6 text-center mt-lg-0 mt-4" v-if="prototipo.especificaciones.completado " ref="printMe">

                        <div v-bind:class="[{alturaR: numPiezas > numFilas, widthR: numFilas >= 10 && numPiezas >= 5, tooBig: numFilas >= 30, tooSmall: numFilas <= 5 && numPiezas <= 2}]" class="rectangulo mb-3" v-if="prototipo.especificaciones.forma_pieza == 'Rectangular' && !avisoMedidas">
                            <div 
                                v-for="(f, index) in numPiezas"
                                :key="index" :style="[ numPiezas > numFilas ? {height: (100 / numPiezas) +'%'} : {} ]">
                                <img  
                                    v-for="(p, index) in numFilas"
                                    :key="index"
                                    src="@/assets/images/rect.svg">
                            </div>
                            
                        </div>

                        
                        <div v-bind:class="[{alturaR: numPiezas < numFilas, widthR: numPiezas >= 10 && numFilas >= 7, tooBig: numPiezas >= 30, tooSmall: numPiezas <= 5 && numFilas <= 2}]" class="trapezoide mb-3" v-if="prototipo.especificaciones.forma_pieza == 'Trapezoide' && !avisoMedidas">
                            <div 
                                v-for="(f, index) in numFilas"
                                :key="index" :style="[ numPiezas < numFilas ? {height: (100 / numPiezas) +'%'} : {} ]">
                                <div v-for="(p, index) in numPiezas"
                                    :key="index" class="imagen-fix">
                                    <img src="@/assets/images/trape.png">
                                </div>
                                
                            </div>
                        </div>

                        
                        <div v-bind:class="[{alturaR: numPiezas > numFilas}]" class="cuadrado mb-3" v-if="prototipo.especificaciones.forma_pieza == 'Cuadrada' && !avisoMedidas">
                            <div 
                                v-for="(f, index) in numPiezas"
                                :key="index" :style="[ numPiezas > numFilas ? {height: (100 / numPiezas) +'%'} : {} ]">
                                <img  
                                    v-for="(p, index) in numFilas"
                                    :key="index"
                                    src="@/assets/images/cuad.svg">
                            </div>
                        </div>

                        
                        <div v-bind:class="[{alturaR: numPiezas > numFilas, widthR: numFilas >= 10 && numPiezas >= 5, tooBig: numFilas >= 30, tooSmall: numFilas <= 5 && numPiezas <= 2}]" class="triangulo mb-3" v-if="esEquilatero && prototipo.especificaciones.forma_pieza == 'Triangular' && !avisoMedidas">
                            <div 
                                v-for="(f, index) in numPiezas"
                                :key="index" :style="[ numPiezas > numFilas ? {height: (100 / numPiezas) +'%'} : {} ]">
                                <div v-for="(p, index) in numFilas"
                                    :key="index" class="imagen-fix">
                                    <img src="@/assets/images/tri.png">
                                </div>
                            </div>
                        </div>

                        <div v-bind:class="[{alturaR: numPiezas > numFilas, widthR: numFilas >= 10 && numPiezas >= 5, tooBig: numFilas >= 30, tooSmall: numFilas <= 9 && numPiezas <= 2}]" class="triangulo-2 mb-3" v-if="!esEquilatero && prototipo.especificaciones.forma_pieza == 'Triangular' && !avisoMedidas">
                            <div 
                                v-for="(f, index) in numPiezas"
                                :key="index" :style="[ numPiezas > numFilas ? {height: (100 / numPiezas) +'%'} : {} ]">
                                <div v-for="(p, index) in numFilas"
                                    :key="index" class="imagen-fix"> 
                                    <img src="@/assets/images/tri-2.png">
                                </div>
                            </div>
                        </div> 
                    
                        



                        <!-- <img src="@/assets/images/img_resumen.svg" class="img-fluid mb-4"> -->
                        <!-- <img src="@/assets/images/img2_resumen.png" class="img-fluid"> -->
                        <!-- <img src="@/assets/images/img_resumen.svg" class="img-fluid mb-4"> -->
                    <div class="row d-md-flex align-items-center" style="place-content: center;  box-shadow: 0 0 black;">
                        <!-- <img v-if="prototipo.tipo_contenedor.tipo_contenedor == 'otros'" src="@/assets/images/img2_resumen.png" class="img-fluid">
                        <img v-if="prototipo.tipo_contenedor.tipo_contenedor == 'Rack'" src="@/assets/images/rack.jpg" class="img-fluid">
                        <img v-if="prototipo.tipo_contenedor.tipo_contenedor == 'Bulk'" src="@/assets/images/bulk.jpg" class="img-fluid">
                        <img v-if="prototipo.tipo_contenedor.tipo_contenedor == 'tote'" src="@/assets/images/tote.jpg" class="img-fluid"> -->

                        <img v-if="prototipo.dunnage.dunnageR == 'Top Coat' || prototipo.dunnage.dunnageR == 'Basic'" src="@/assets/images/Basic_o_Top_Coat.jpg" style="width: 204px;height: 240px;" class="img-fluid">
                        <img v-if="prototipo.dunnage.dunnageR == 'Tyvek' && (prototipo.dunnage.nivel2 == '2462c' || prototipo.dunnage.nivel2 == '2473l')" src="@/assets/images/Tyvek_2462_2473.jpg" style="width: 204px;height: 240px;" class="img-fluid">
                        <img v-if="prototipo.dunnage.dunnageR == 'Tyvek' && prototipo.dunnage.nivel2 == 'rigido'" src="@/assets/images/Tyvek_Rigido.jpg" style="width: 204px;height: 240px;" class="img-fluid">
                        <img v-if="prototipo.dunnage.dunnageR == 'Tyvek' && prototipo.dunnage.nivel2 == 'flexible'" src="@/assets/images/Tyvek_Flexible.jpg" style="width: 204px;height: 240px;" class="img-fluid">
                    </div>     
                    </div>

                    <!-- <div class="col-md-6 text-center mt-lg-0 mt-4">
                        <img v-if="prototipo.especificaciones.acabado == 'Pintura (color)'" src="@/assets/images/pintura.png">
                        <img v-if="prototipo.especificaciones.acabado == 'Graining'" src="@/assets/images/graining.png">
                        <img v-if="prototipo.especificaciones.acabado == 'Recubrimiento'" src="@/assets/images/recubrimiento.png">
                    </div> -->

                    <div v-if="imprimir == false" class="col-md-12 text-right editar-proto" style="cursor: pointer;" @click="$router.push('especificaciones')">
                        <img src="@/assets/images/edit.svg"> {{ $t('resumen.editar') }}
                    </div>
                </div>
                <div class="botones d-lg-flex mb-3" v-if="imprimir == false">
                    <button @click="onSolicitud('solicitar_disenio')" :disabled="prototipo.solicitar_btn.disenio || prototipo.solicitar_btn.prototipo" class="btn btn-o btn-rojo btn-secundario mr-0 mr-lg-2 mb-3 mb-lg-0">{{ $t('resumen.solicitar_1') }}</button>
                    <button @click="onSolicitud('solicitar_prototipo')" :disabled="prototipo.solicitar_btn.prototipo" class="btn btn-o btn-rojo btn-secundario ml-0 ml-lg-2">{{ $t('resumen.solicitar_2') }}</button>
                </div>
                <!-- <div class="text-right">
                    <img src="@/assets/images/info.svg">
                </div> -->
            </div>
        </div>
        </div>
        <!-- <div class="colab mt-2" v-if="paso > 3">
            {{ $t('en_colaboracion') }}<strong> "Marina Coating"</strong>
        </div-->



        <b-modal v-model="modalSolicitarPdf" id="modal-2" hide-header size="lg">
            <button class="close" @click="$bvModal.hide('modal-2')">x</button>
            <h1>{{$t('resumen.formulario_solicitar_pdf')}}</h1>
            <hr/>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <b-form-group horizontal :label=" $t('resumen.formulario_num_telefonico') " label-cols-md="4">
                        <b-form-input v-model="pdf.telefono" :placeholder=" $t('resumen.formulario_num_telefonico') "></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal :label="$t('resumen.formulario_entidad_federativa')" label-cols-md="4">
                        <b-form-select @change="limpiarMunicipio('C')" v-model="pdf.entidad" :options="estadosCombo" name="entidadF" class="form-control custom-select">
                            <template v-slot:first>
                                <option :value="null" disabled>{{$t('resumen.formulario_entidad_federativa')}}</option>
                            </template>
                            </b-form-select>
                    </b-form-group>
                    <b-form-group horizontal :label=" $t('resumen.formulario_alcaldia_municipio') " label-cols-md="4">
                        <b-form-select v-model="pdf.municipio" :options="municipiosCombo" name="municipioF" class="form-control custom-select">
                            <template v-slot:first>
                                <option :value="null" disabled>{{$t('resumen.formulario_alcaldia_municipio')}}</option>
                            </template>
                        </b-form-select>
                    </b-form-group>
                  
                    <b-form-group horizontal :label=" $t('resumen.formulario_colonia') " label-cols-md="4">
                        <b-form-input v-model="pdf.colonia" :placeholder=" $t('resumen.formulario_colonia') "></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal :label=" $t('resumen.formulario_calle') " label-cols-md="4">
                        <b-form-input v-model="pdf.calle" :placeholder=" $t('resumen.formulario_calle') "></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal :label=" $t('resumen.formulario_cp') " label-cols-md="4">
                        <b-form-input v-model="pdf.cp" :placeholder=" $t('resumen.formulario_cp') "></b-form-input>
                    </b-form-group>
                </div>
            </div>
            <template v-slot:modal-footer>
                <div class="w-100 d-flex justify-content-end">
                    <b-button
                        variant="secondary"
                        size="sm"
                        class="float-right btn btn-o btn-rojo btn-secundario"
                        @click="$bvModal.hide('modal-2')"
                    >
                        Cancelar
                    </b-button>
                    <b-button
                        @click="solicitarPdf()"
                        variant=""
                        size="sm"
                        class="float-right "
                        :disabled="pdf.telefono == '' || pdf.entidad== null || pdf.municipio == null || pdf.colonia== '' || pdf.calle== '' || pdf.cp== ''"
                    >
                        Solicitar PDF
                    </b-button>
                </div>
            </template>
        </b-modal>
    </section>
</template>

<script lang="js">
import { estados } from "@/constantes/estados.js";
import { municipios } from "@/constantes/municipios.js";
import { mapGetters, mapActions } from 'vuex';
import html2canvas from 'html2canvas';
export default {
  name: 'Resumen',
  components: {
    
  },
  data() {
    return {
        imagenTest: '',
        imprimir: false,
        paso: 1,
        tituloSecundario:'Resumen del prototipo',
        subtitulo: 'De acuerdo a lo que  elegiste, tu prototipo es este:',
        
        numFilas: 3,
        numPiezas: 10,
        esEquilatero: false,

        forma: '',
        tipo_contenedor: '',
        tipo_uso: '',
        almacenamiento: '',

        modalSolicitarPdf: false,

        avisoMedidas: false,
        avisoContenedores: false,
        contenedoresRequeridos: 0,

        pdf:{
            telefono: '',
            entidad: null,
            municipio: null,
            colonia: '',
            calle: '',
            cp: '',
        }
    }
  },
    created() {
        if(this.imprimir === true){
            document.body.classList.add('imprimir');
        }
        if( this.prototipo.user_id == null){
            this.$router.push({ name: "FormLogin" });
        }
        
        this.getListaResponsables().then((resp2)=>{
            this.modalCargando(false);
        });


        /**
        **
        *(mm) base altura y ancho
        Tote 544 x 330 x 249
        racks 1016  x 1219.2
        Bulk 1219 x 1143 x 864
        *
        * */
        var areaContenedor = 0;
        var alturaContenedor = 0;
        var baseContenedor = 0; //largo
        var anchoContenedor = 0;
        if(this.prototipo.tipo_contenedor.tipo_contenedor == 'tote'){
            areaContenedor = 249 * 330;
            alturaContenedor = 249;
            baseContenedor = 544;
            anchoContenedor = 330;
        }if(this.prototipo.tipo_contenedor.tipo_contenedor == 'Rack'){
            areaContenedor = 1016 * 1219.2;
            alturaContenedor = 1016;
            baseContenedor = 1219.2;
            anchoContenedor = 1219.2
        }if(this.prototipo.tipo_contenedor.tipo_contenedor == 'Bulk'){
            areaContenedor = 1219 * 1143;
            alturaContenedor = 1219;
            baseContenedor = 1143;
            anchoContenedor = 864;
        }if(this.prototipo.tipo_contenedor.tipo_contenedor == 'otros'){
            console.log("TCL: created -> otros")
            //this.prototipo.tipo_contenedor.otro.altura
            //this.prototipo.tipo_contenedor.otro.ancho
            //this.prototipo.tipo_contenedor.otro.largo
            areaContenedor = this.prototipo.tipo_contenedor.otro.altura * this.prototipo.tipo_contenedor.otro.ancho;
            alturaContenedor = this.prototipo.tipo_contenedor.otro.altura;
            baseContenedor = this.prototipo.tipo_contenedor.otro.largo;
            anchoContenedor = this.prototipo.tipo_contenedor.otro.ancho;
        }
        console.log("TCL: created -> areaContenedor", areaContenedor)

       //{{ prototipo.especificaciones.altura_pieza }}x{{ prototipo.especificaciones.largo_pieza }}x{{ prototipo.especificaciones.ancho_pieza }}
        switch(this.prototipo.especificaciones.forma_pieza) {
            case 'Trapezoide':
                // Area ((BASE MENOS + BASE MAYOR) / 2) * ALTURA

                var cuadritosAltura = alturaContenedor / this.prototipo.especificaciones.altura_pieza; //1.22
                console.log("TCL: Trapezoide -> cuadritosAltura", cuadritosAltura)
                var cuadritosBase = baseContenedor / this.prototipo.especificaciones.largo_pieza; //1.14
                console.log("TCL: Trapezoide -> cuadritosBase", cuadritosBase)
                var cuadritosAncho =  anchoContenedor / this.prototipo.especificaciones.ancho_pieza; //0.8
                console.log("TCL: Trapezoide -> cuadritosAncho", cuadritosAncho)
                //falso 112 14*8
                this.numPiezas = ((cuadritosAncho + cuadritosBase) / 2) * cuadritosAltura; //114
                this.numPiezas =  this.isFloat(this.numPiezas ) ? parseInt((this.numPiezas )+1) : parseInt(this.numPiezas);
                console.log("TCL: Trapezoide -> this.numPiezas 1", this.numPiezas)
                

                //---- validaciones
                if(parseInt(this.numPiezas) == 0){
                    this.avisoMedidas = true;
                }
                if(this.prototipo.num_piezas.num_piezas > this.numPiezas ){
                    this.contenedoresRequeridos =  this.isFloat(this.prototipo.num_piezas.num_piezas/this.numPiezas) ? parseInt((this.prototipo.num_piezas.num_piezas/this.numPiezas)+1) : parseInt(this.prototipo.num_piezas.num_piezas/this.numPiezas);
                    this.avisoContenedores = true;
                }

                this.numPiezas = this.numPiezas / 2;
                console.log("TCL: Trapezoide -> this.numPiezas 2", this.numPiezas)

                var numFilas = cuadritosAltura;
                /*this.numFilas = parseInt(this.numPiezas/numFilas);
                this.numPiezas = parseInt(this.numPiezas / this.numFilas);*/

                var numFilasResult = parseInt(this.numPiezas/numFilas);
                var numPiezasResult  = parseInt(this.numPiezas / numFilasResult);

                if(numFilasResult > numPiezasResult){
                    this.numFilas = numFilasResult
                    this.numPiezas = numPiezasResult
                }else{
                    this.numFilas = numPiezasResult
                    this.numPiezas = numFilasResult
                }

                
                break;
            case 'Rectangular':
                // Area base*altura
                //numero de altura = alto contenedor / alto pieza
               //-- var cuadritosAltura = alturaContenedor / this.prototipo.especificaciones.altura_pieza; //12
                var cuadritosAltura = anchoContenedor / this.prototipo.especificaciones.ancho_pieza; //12
                //numero de base = largo contenedor / largo pieza
                var cuadritosBase = baseContenedor / this.prototipo.especificaciones.largo_pieza;  //11

                this.numPiezas = cuadritosBase* cuadritosAltura;
                this.numPiezas =  this.isFloat(this.numPiezas ) ? parseInt((this.numPiezas )+1) : parseInt(this.numPiezas);
                //---- validaciones
                if(parseInt(this.numPiezas) == 0){
                    this.avisoMedidas = true;
                }
                if(this.prototipo.num_piezas.num_piezas > this.numPiezas ){
                    this.contenedoresRequeridos =  this.isFloat(this.prototipo.num_piezas.num_piezas/this.numPiezas) ? parseInt((this.prototipo.num_piezas.num_piezas/this.numPiezas)+1) : parseInt(this.prototipo.num_piezas.num_piezas/this.numPiezas);
                    this.avisoContenedores = true;
                }

                var numFilas = cuadritosAltura;
                var numFilasResult = parseInt(this.numPiezas/numFilas);
                var numPiezasResult  = parseInt(this.numPiezas / numFilasResult);

                if(numFilasResult > numPiezasResult){
                    this.numFilas = numFilasResult
                    this.numPiezas = numPiezasResult
                }else{
                    this.numFilas = numPiezasResult
                    this.numPiezas = numFilasResult
                }

                break;
            case 'Cuadrada':
                // Area LADO*LADO
                //numero de altura = alto contenedor / alto pieza
                //var cuadritosAltura = alturaContenedor / this.prototipo.especificaciones.altura_pieza;
                var cuadritosAltura = anchoContenedor / this.prototipo.especificaciones.ancho_pieza; //12
                //numero de base = largo contenedor / largo pieza
                var cuadritosBase = baseContenedor / this.prototipo.especificaciones.largo_pieza;

                this.numPiezas = cuadritosBase* cuadritosAltura;
                this.numPiezas =  this.isFloat(this.numPiezas ) ? parseInt((this.numPiezas )+1) : parseInt(this.numPiezas);
                console.log("TCL: Cuadrada -> this.numPiezas", this.numPiezas)
                
                //validaciones
                if(parseInt(this.numPiezas) == 0){
                    this.avisoMedidas = true;
                }
                if(this.prototipo.num_piezas.num_piezas > this.numPiezas ){
                    this.contenedoresRequeridos =  this.isFloat(this.prototipo.num_piezas.num_piezas/this.numPiezas) ? parseInt((this.prototipo.num_piezas.num_piezas/this.numPiezas)+1) : parseInt(this.prototipo.num_piezas.num_piezas/this.numPiezas);
                    this.avisoContenedores = true;
                }

                var numFilas = cuadritosAltura;
                /*this.numFilas = parseInt(this.numPiezas/numFilas);
                this.numPiezas = parseInt(this.numPiezas / this.numFilas);*/

                var numFilasResult = parseInt(this.numPiezas/numFilas);
                var numPiezasResult  = parseInt(this.numPiezas / numFilasResult);

                if(numFilasResult > numPiezasResult){
                    this.numFilas = numFilasResult
                    this.numPiezas = numPiezasResult
                }else{
                    this.numFilas = numPiezasResult
                    this.numPiezas = numFilasResult
                }
                break;
        }


        if(this.prototipo.especificaciones.forma_pieza == 'Triangular'){
            // Area (BASE*ALTURA) / 2
            var a = this.prototipo.especificaciones.largo_pieza;
            var b = this.prototipo.especificaciones.altura_pieza;
            var c = this.prototipo.especificaciones.ancho_pieza;
            if(a==b && b==c) {
                this.esEquilatero = true
            }
            var cuadritosAltura = alturaContenedor / this.prototipo.especificaciones.altura_pieza; //1
            console.log("TCL: Triangular -> cuadritosAltura", cuadritosAltura)
            var cuadritosBase = baseContenedor / this.prototipo.especificaciones.largo_pieza; //11
            console.log("TCL: Triangular -> cuadritosBase", cuadritosBase)
            var cuadritosAncho =  anchoContenedor / this.prototipo.especificaciones.ancho_pieza; //1
            console.log("TCL: Triangular -> cuadritosAncho", cuadritosAncho)

            this.numPiezas = (cuadritosBase*cuadritosAltura) /2; //5.5

            this.numPiezas =  this.isFloat(this.numPiezas ) ? parseInt((this.numPiezas )+1) : parseInt(this.numPiezas);


            console.log("TCL: Triangular -> this.numPiezas", this.numPiezas)
            //---- validaciones
                if(parseInt(this.numPiezas) == 0){
                    this.avisoMedidas = true;
                }
                if(this.prototipo.num_piezas.num_piezas > this.numPiezas ){
                    this.contenedoresRequeridos =  this.isFloat(this.prototipo.num_piezas.num_piezas/this.numPiezas) ? parseInt((this.prototipo.num_piezas.num_piezas/this.numPiezas)+1) : parseInt(this.prototipo.num_piezas.num_piezas/this.numPiezas);
                    this.avisoContenedores = true;
                }
           
            //this.numPiezas = (this.numPiezas / 2) + 1; //34
            //this.numPiezas = 11 / 2;

            var numFilas = cuadritosAltura;
            this.numFilas = (cuadritosAltura/2); //LISTO CORRECTO
            this.numFilas =  this.isFloat(this.numFilas ) ? parseInt((this.numFilas )+1) : parseInt(this.numFilas );
            console.log("TCL: Triangular -> this.numFilas ", this.numFilas) //13
            
            if( this.numPiezas !== 1){
                this.numPiezas = this.numPiezas / cuadritosAltura;
                this.numPiezas =  this.isFloat(this.numPiezas ) ? parseInt((this.numPiezas  )+1) : parseInt(this.numPiezas  );
            }
            

            console.log("TCL: Triangular -> this.numPiezas", this.numPiezas)
        }

    },
    mounted() {
        this.menu()

        this.checarTraducciones();
    },
    computed: {
      ...mapGetters(['prototipo', 'infoUser', 'listaResponsables']),
        local () {
            //es-ES  * en-US
            return this.$store.state.app.local
        },
        estadosCombo() {
            return estados.map(estado => {
                return { value: estado.id, text: estado.name };
            });
        },
        municipiosCombo() {
            //this.registro.municipioC = null
            if (this.pdf.entidad === undefined) {
                return [];
            }
            var idEstado = this.pdf.entidad;
            let mun = municipios.filter(m => {
                return m.state_id === idEstado;
            });

            let ordenarAlfabeticamente = mun.sort((a, b) => a.name.localeCompare(b.name))


            return ordenarAlfabeticamente.map(mun => {
                return { value: mun.id, text: mun.name };
            });
        },
    },
    watch: {
        'local': function (){
            this.checarTraducciones();
        }
    },
    methods: {
        ...mapActions(['updatePrototipo', 'getListaResponsables', 'actualizarRegistro', 
        'modalCargando' ]),
        menu(){
          if(window.width > 992){
            var list = document.getElementsByClassName("logo")[0];
            list.innerHTML = "TYVEK® DUNNAGE TOOL";
            document.body.classList.remove('sidebar-small');   
            }
        },

        checarTraducciones(){
            //
            if(this.local == 'en-US'){

                if(this.prototipo.especificaciones.forma_pieza == 'Trapezoide'){
                    this.forma = 'Trapezoid'
                }
                if(this.prototipo.especificaciones.forma_pieza == 'Rectangular'){
                    this.forma = 'Rectangle'
                }
                if(this.prototipo.especificaciones.forma_pieza == 'Cuadrada'){
                    this.forma = 'Square'
                }
                if(this.prototipo.especificaciones.forma_pieza == 'Triangular'){
                    this.forma = 'Triangular'
                }

                if(this.prototipo.tipo_contenedor.tipo_contenedor == 'otros'){
                    this.tipo_contenedor = 'Others';
                }else{
                    this.tipo_contenedor = this.prototipo.tipo_contenedor.tipo_contenedor;
                }

                if(this.prototipo.tipo_uso.tipo_uso == 'Externo'){
                    this.tipo_uso = 'External (mobile)'
                }if(this.prototipo.tipo_uso.tipo_uso == 'Interno'){
                    this.tipo_uso = 'Internal (WIP)'
                }if(this.prototipo.tipo_uso.tipo_uso == 'No estoy seguro'){
                    this.tipo_uso = 'I am not sure'
                }

                if(this.prototipo.almacenamiento.almacenamiento =='Interior'){
                    this.almacenamiento = 'Interior';
                }if(this.prototipo.almacenamiento.almacenamiento =='Exterior'){
                    this.almacenamiento = 'Outside';
                }if(this.prototipo.almacenamiento.almacenamiento =='No estoy seguro'){
                    this.almacenamiento = 'I am not sure';
                }



            }else{
                this.forma = this.prototipo.especificaciones.forma_pieza;
                this.tipo_contenedor = this.prototipo.tipo_contenedor.tipo_contenedor;
                this.tipo_uso = this.prototipo.tipo_uso.tipo_uso;
                this.almacenamiento = this.prototipo.almacenamiento.almacenamiento;
            }
        },

        calcularNumFilas(numPiezas){

            if(numPiezas >= 0 && numPiezas <= 5  ){
                return 1;
            }
            if(numPiezas >= 5 && numPiezas <= 10){
                return 1;
            }
            if(numPiezas >= 10 && numPiezas <= 20){
                return 2;
            }
            if(numPiezas >= 20 && numPiezas <= 30){
                return 3;
            }
            
            if(numPiezas > 40 ){
                return 6;
            }

            return 12;

        },

        isFloat(n){
            return Number(n) === n && n % 1 !== 0;
        },

        limpiarMunicipio(param){
            console.log("TCL: limpiarMunicipio -> limpiarMunicipio")
            if(param == 'F') this.pdf.municipio = null
            else this.pdf.municipio = null
        },

        buscarResponsable(idResponsable, tipo){
            let listaRes = this.listaResponsables;
            let responsable = listaRes.filter(p => p.token === idResponsable);
            if (responsable.length == 0) return 'No se encontro';
            if (tipo == 'nombre'){
                return responsable[0].nombre_completo
            }
            return responsable[0].correo
            
        },
        onSolicitud(item){
            this.modalCargando(true);
            var esNuevo = true;
            if(this.prototipo.solicitar_prototipo || this.prototipo.solicitar_disenio){
                esNuevo = false;
            }
            this.prototipo.solicitar = true
            this.prototipo.solicitar_prototipo = true
            this.prototipo.solicitar_disenio = false

            this.prototipo.solicitar_btn.prototipo = true
            this.prototipo.solicitar_btn.disenio = false

            if(item == 'solicitar_disenio'){
                this.prototipo.solicitar_prototipo = false
                this.prototipo.solicitar_disenio = true

                this.prototipo.solicitar_btn.prototipo = false
                this.prototipo.solicitar_btn.disenio = true
            }

            this.prototipo.estatus = 'Pendiente';
            this.updatePrototipo(this.prototipo).then((resp)=>{
                console.log("TCL: changeEstatus -> resp", resp)
                this.modalCargando(false);

                //CORREO UPDATE TICKET
                var dataNotif = {
                    tipo_notificacion: 'envio_solicitud',
                    es_nueva: esNuevo,
                    tipo_solicitud: item, //solicitar_disenio o solicitar_prototipo
                    nombre_responsable: this.buscarResponsable(this.prototipo.responsable, 'nombre'),
                    correo_responsable: this.buscarResponsable(this.prototipo.responsable, 'correo'),
                    nombre_cliente: this.infoUser.nombre_completo
                }
                console.log("TCL: onSolicitud -> dataNotif", dataNotif)
                this.sendNotifCorreo(dataNotif);

                this.modalSolicitarPdf = true; //abre modal para solicitar el PDF por correo

                /*this.$swal.fire(
                    '¡Solicitud enviada!',
                    '',
                    'success'
                );*/


            }).catch((error)=>{
                this.modalCargando(false);
                console.log(error)
            })
        },
        testearImg(){
            let vc = this
            let currentObj = this;
            html2canvas(vc.$refs.printMe, {
                //width: 300,
                //height: 350
                scrollY: (window.pageYOffset * -1),
                scale:0.5
            }).then(canvas => {
                var data = canvas.toDataURL();
                this.imagenTest = data;
            });
        },
        solicitarPdf(){
            this.modalCargando(true);
            let vc = this
            let currentObj = this;
            html2canvas(vc.$refs.printMe, {
                //width: 300,
                //height: 350
                scrollY: (window.pageYOffset * -1),
                scale:0.8
            }).then(canvas => {
                var data = canvas.toDataURL();
                //console.log("solicitarPdf -> data", data)
                

                var prototipoString = JSON.stringify(this.prototipo);
                let dataToSave = {
                    nombre: this.infoUser.nombre_completo,
                    correo: this.infoUser.correo,
                    prototipo: prototipoString,
                    idioma: this.local,
                    imagen64: data,
                    aviso_medidas:this.avisoMedidas,
                    aviso_contenedores:this.avisoContenedores,
                    contenedores_requeridos:this.contenedoresRequeridos
                }
                console.log("solicitarPdf -> dataToSave", dataToSave)
                var formDa = new FormData();
                for(var key in dataToSave){
                    formDa.append(key, dataToSave[key]);
                }

                //-..--..--..-.-.--.-..--..-.-.--.--..--.-
                this.axios.post('https://serverhm.com/desarrollo/dupont/ws/crear_pdf2.php', 
                    formDa
                )
                .then(function (resp) {
                    currentObj.modalCargando(false);
                    currentObj.modalSolicitarPdf = false;
                    console.log("TCL: AXIOS -> resp", resp)
                    currentObj.guardarInfoComplementaria();
                    
                    currentObj.$swal.fire(
                        '¡PDF enviado a tu correo!',
                        '',
                        'success'
                    );
                })
                .catch(function (error) {
                    currentObj.modalCargando(false);
                    currentObj.modalSolicitarPdf = false;
                    console.log(error.response);
                });
                //-..--..--..-.-.--.-..--..-.-.--.--..--.-
                        
            }).catch((error) => {
                console.log("Erorr descargando la captura del prototipo", error)
            });

            


            /*this.axios.get(`https://serverhm.com/desarrollo/dupont/ws/crear_pdf.php?
                nombre=${this.infoUser.nombre_completo}&
                correo=${this.infoUser.correo}&
                prototipo=${prototipoString}
            `)
            .then(resp => {
                this.modalCargando(false);
                this.modalSolicitarPdf = false;
                console.log("TCL: AXIOS -> resp", resp)
                this.guardarInfoComplementaria();
                
                this.$swal.fire(
                    '¡PDF enviado a tu correo!',
                    '',
                    'success'
                );
            })
            .catch(e => {
                this.modalCargando(false);
                this.modalSolicitarPdf = false;
                console.log(e);
            })*/


            

        },
        guardarInfoComplementaria(){
            let data = {
                info: {
                    token: this.infoUser.token,
                    info_complementaria: {
                        telefono: this.pdf.telefono,
                        entidad: this.pdf.entidad,
                        municipio: this.pdf.municipio,
                        colonia: this.pdf.colonia,
                        calle: this.pdf.calle,
                        cp: this.pdf.cp
                    }
                }
            }
            this.actualizarRegistro(data).then(res => {
                console.log("TCL: guardarInfoComplementaria -> res", res)
            });

            this.limpiarFormPdf();
        },
        limpiarFormPdf(){
            this.pdf.telefono = ''
            this.pdf.entidad = ''
            this.pdf.municipio = ''
            this.pdf.colonia = ''
            this.pdf.calle = ''
            this.pdf.cp = ''
        },
        sendNotifCorreo(params){
            this.axios.get(`https://serverhm.com/desarrollo/dupont/ws/solicitudes.php?
                tipo_notificacion=${params.tipo_notificacion}&
                es_nueva=${params.es_nueva}&
                tipo_solicitud=${params.tipo_solicitud}&
                nombre_responsable=${params.nombre_responsable}&
                correo_responsable=${params.correo_responsable}&
                nombre_cliente=${params.nombre_cliente}
                `)
            .then(resp => {
                console.log("TCL: AXIOS -> resp", resp)
            })
            .catch(e => {
                console.log(e);
            })
        }
    }
}
</script>

<style scoped lang="scss">
</style>