<template>
    <section id="admin" class="solicitudes">
        <div class="header row mt-5">
            <div class="col-lg-5 col-md-6">
                <h1>Solicitudes</h1>
            </div>
            <div class="col-md-7 pl-md-3 d-md-flex align-items-center">
                <b-form-input  v-model="filter" placeholder="Buscar" class="search flex-grow-1"></b-form-input>

                <b-button
                    class="btn btn-cargar btn-primary my-2 mr-0 mr-md-3 ml-md-2 flex-shrink-1"
                    @click="filtroEstatus = !filtroEstatus"
                >Ver {{filtroEstatus ? 'Activos': 'Inactivos'}}</b-button>


            </div>
        </div>
        <div class="tabla row">
            <div class="col-md-12">
                <b-table responsive 
                :items="tbSolicitados" 
                :fields="fields"
                :filter="filter"
                emptyFilteredText="No hay registros que coincidan con su busqueda"
                @filtered="onFiltered"
                >

                    <template slot="responsable" slot-scope="row">
                        {{ row.item.responsable_temp }}
                    </template>

                    <template slot="Acciones" slot-scope="row">
                        
                        <b-button @click="onVerSolicitud(row.item)"><span class="fa fa-eye"></span></b-button>
                        <b-button v-if="row.item.cliente_temp.info_complementaria" @click="onVerInfoUsuario(row.item)"><span class="fa fa-info"></span></b-button>
                        <b-button v-if="!filtroEstatus" @click="onDelete(row.item, 'baja')"><span class="fa fa-trash"></span></b-button>
                        <b-button v-else @click="onDelete(row.item, 'alta')"><span class="fa fa-check-square-o"></span></b-button>
                    </template>
                    <template slot="estatus" slot-scope="row">
                        
                            <i v-bind:class="{'pendiente': row.item.estatus === 'Pendiente', 'enProceso': row.item.estatus === 'En Proceso', 'enCotizacion': row.item.estatus === 'En Cotización', 'enProduccion': row.item.estatus === 'En Producción', 'entregado': row.item.estatus === 'Entregado'}"></i> {{row.item.estatus}}
                        
                    </template>
                </b-table>
            </div>
        </div>



        <b-modal v-model="modalResumen" id="modal-1" hide-footer hide-header size="lg">
            <button class="close" @click="$bvModal.hide('modal-1')">x</button>

            <h1>Solicitud de {{ nombre_completo }} </h1>
            <div class="row info d-md-flex align-items-center">
                <div class="col-md-4">
                    <div><big>{{ nombre_empresa }} </big></div>
                    <div><big>9/12/2019</big></div>
                </div>
                <div class="col-md-8">
                    <b-form-group horizontal label="Responsable">
                       <b-form-select @change="selectResponsable" v-model="responsable" value-field="token" text-field="nombre_completo" :options="tbResponsables">
                           <template v-slot:first>
                                <option :value="null" disabled>Sin responsable</option>
                            </template>
                        </b-form-select>
                   </b-form-group>
                   <b-form-group v-bind:class="{'pendiente': estatus === 'Pendiente', 'enProceso': estatus === 'En Proceso', 'enCotizacion': estatus === 'En Cotización', 'enProduccion': estatus === 'En Producción', 'entregado': estatus === 'Entregado'}" horizontal label="Estatus">
                       <b-form-select v-model="estatus" @change="changeEstatus()">
                           <option value="null" selected disabled>Elegir estatus</option>
                           <option value="Pendiente" selected class="pendiente">Pendiente</option>
                           <option value="En Cotización" selected class="enCotizacion">En Cotización</option>
                           <option value="En Producción" selected class="enProduccion">En Producción</option>
                           <option value="Entregado" selected class="entregado">Entregado</option>
                       </b-form-select>
                   </b-form-group>
                </div>
            </div>
            <hr>
            <div class="resumen">
                <div class="row">
                    <div class="col-lg-5 offset-lg-2">
                        <table class="w-100 table table-fixed">
                            <tr>
                                <td class="nombre">Clase</td>
                                <td class="desc"> {{ tipoClase }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Forma</td>
                                <td class="desc"> {{ forma_pieza }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Dimensiones</td>
                                <td class="desc">
                                    {{ altura_pieza }}x{{ largo_pieza }}x{{ ancho_pieza }}
                                </td>
                            </tr>
                            <tr>
                                <td class="nombre">Peso</td>
                                <td class="desc"> {{ peso_num }} kg </td>
                            </tr>
                            <tr>
                                <td class="nombre">Acabado</td>
                                <td class="desc"> {{ acabado }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Contenedor</td>
                                <td class="desc"> {{ tipo_contenedor }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Cantidad de piezas</td>
                                <td class="desc"> {{ num_piezas }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Tipo de uso</td>
                                <td class="desc"> {{ tipo_uso }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Almacenamiento</td>
                                <td class="desc"> {{ almacenamiento }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Material</td>
                                <td class="desc"> {{ dunnageR }} </td>
                            </tr>
                            <tr>
                                <td class="nombre">Tipo</td>
                                <td class="desc"> {{ nivel2 }} </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-3 text-center mt-lg-0 mt-md-4">
                        <img src="@/assets/images/img_resumen.svg" class="img-fluid mb-4 mr-md-4 mr-0">
                        <img src="@/assets/images/img2_resumen.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </b-modal>

        <b-modal v-model="modalInfoComplementaria" id="modal-2" hide-header size="lg">
            <button class="close" @click="$bvModal.hide('modal-2')">x</button>
            <h1>Información cliente</h1>
            <hr/>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <b-form-group horizontal label="Número teléfonico" label-cols-md="4">
                        <b-form-input disabled v-model="pdf.telefono" placeholder="Número teléfonico"></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Entidad Federativa" label-cols-md="4">
                        <b-form-select disabled @change="limpiarMunicipio('C')" v-model="pdf.entidad" :options="estadosCombo" name="entidadF" class="form-control custom-select"/>
                    </b-form-group>
                    <b-form-group horizontal label="Alcaldía / Municipio" label-cols-md="4">
                        <b-form-select :key="keyMunicipios" disabled v-model="pdf.municipio" :options="municipiosCombo" name="municipioF" class="form-control custom-select">
                            <template v-slot:first>
                                <option :value="null" disabled>Alcaldía / Municipio</option>
                            </template>
                        </b-form-select>
                    </b-form-group>
                  
                    <b-form-group horizontal label="Colonia" label-cols-md="4">
                        <b-form-input disabled v-model="pdf.colonia" placeholder="Colonia"></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Calle" label-cols-md="4">
                        <b-form-input disabled v-model="pdf.calle" placeholder="Calle"></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="CP" label-cols-md="4">
                        <b-form-input disabled v-model="pdf.cp" placeholder="CP"></b-form-input>
                    </b-form-group>
                </div>
            </div>
            <template v-slot:modal-footer>
                <div class="w-100 d-flex justify-content-end">
                   
                </div>
            </template>
        </b-modal>
        
    </section>
</template>

<script lang="js">
import { mapGetters, mapActions } from 'vuex';
import moment from 'moment'
import { estados } from "@/constantes/estados.js";
import { municipios } from "@/constantes/municipios.js";

export default {
    name: 'Solicitudes',
    components: {
        
    },
    data() {
        return {
            filtroEstatus: false,
            filter: null,
            totalRows: 0,
            currentPage: 1,

            modalResumen: false,
            responsable: null,
            fields: ['nombre_completo', 'nombre_empresa', 'fecha', 'responsable', 'solicitud', 'estatus', 'Acciones'],
            options: [
            { value: 'A', text: 'Option A (from options prop)' },
            { value: 'B', text: 'Option B (from options prop)' }
            ],
            
            protoSelected: {},

            //resumen 1
            nombre_completo: '',
            nombre_empresa: '',
            fecha: '',
            estatus:null,
            
            //resumen 2
            tipoClase: '',
            forma_pieza: '',
            altura_pieza: '',
            largo_pieza: '',
            ancho_pieza: '',
            peso_num: '',
            acabado: '',
            tipo_contenedor: '',
            num_piezas: '',
            tipo_uso: '',
            almacenamiento: '',
            dunnageR: '',
            nivel2: '',
            

            modalInfoComplementaria: false,
            keyMunicipios: 1,
            pdf:{
                telefono: '',
                entidad: null,
                municipio: null,
                colonia: '',
                calle: '',
                cp: '',
            }
        }
    },
    created() {
        this.modalCargando(true);

        if(this.infoUser.correo == 'admin@admin.com'){
            this.getListaProtosSolicitados(this.infoUser.token).then((resp)=>{
                this.getListaResponsables().then((resp2)=>{
                    this.getListaClientes().then((resp3)=>{
                        this.modalCargando(false);
                    });
                });

                
            });
        }else{
            this.getLisProtoNoAdmin(this.infoUser.token).then((resp)=>{
                this.getListaResponsables().then((resp2)=>{
                    this.getListaClientes().then((resp3)=>{
                        this.modalCargando(false);
                    });
                });
            });
        }
        


    },
    mounted() {
        this.menu()
    },
    computed: {
        ...mapGetters(['infoUser', 'listaProtoSolicitados', 'listaResponsables', 'listaClientes']),
        tbSolicitados(){
            console.log("TCL: tbContratos")
            let solicitudes = [];
            for(let item of this.listaProtoSolicitados){

                item.fecha = this.getFechaHumano (item.fecha_edicion)
                item.solicitud = this.buscarTipoSolicitud(item)
                item.responsable_temp = this.buscarResponsable(item.responsable)

                item.cliente_temp = this.buscarClientes(item.user_id, 'todo');
                //if(item.cliente_temp.info_complementaria)
                //solicitudes.push(item)

                if(!this.filtroEstatus){
                    if(item.activo){
                        solicitudes.push(item) //enlistar los proveedores activos
                    }
                }else{
                    if(!item.activo){
                        solicitudes.push(item) //enlistar los proveedores inactivos
                    }
                }

            }
            this.totalRows = solicitudes.length
            return solicitudes
        },
        tbResponsables(){
            let responsables = [];
            for(let item of this.listaResponsables){
                //item.nombreProv_temp = 'Cargando...';
                if(item.correo !== 'admin@admin.com'){
                    responsables.push(item)
                }
                
            }
            return responsables
        },
        estadosCombo() {
            return estados.map(estado => {
                return { value: estado.id, text: estado.name };
            });
        },
        municipiosCombo() {
            //this.registro.municipioC = null
            if (this.pdf.entidad === undefined) {
                return [];
            }
            var idEstado = this.pdf.entidad;
            let mun = municipios.filter(m => {
                return m.state_id === idEstado;
            });

            let ordenarAlfabeticamente = mun.sort((a, b) => a.name.localeCompare(b.name))


            return ordenarAlfabeticamente.map(mun => {
                return { value: mun.id, text: mun.name };
            });
        },
    },
    methods: {
        ...mapActions(['getListaProtosSolicitados', 'getLisProtoNoAdmin', 'updatePrototipo', 'getListaResponsables', 'getListaClientes',
        'modalCargando' ]),
        menu(){
            if(window.width > 992){
            var list = document.getElementsByClassName("logo")[0];
            list.innerHTML = "TYVEK® DUNNAGE TOOL";
            document.body.classList.remove('sidebar-small');   
            }
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        buscarTipoSolicitud(item){
            if(item.solicitar_disenio){
                return 'Solo diseño'
            }
            return 'Cotización';
        },
        buscarResponsable(idResponsable){
            let listaRes = this.listaResponsables;
            let responsable = listaRes.filter(p => p.token === idResponsable);
            if (responsable.length == 0) return 'No se encontro';
            return responsable[0].nombre_completo
        },
        buscarClientes(idcliente, tipo){
            let listaClie = this.listaClientes;
            let cliente = listaClie.filter(p => p.token === idcliente);
            if (cliente.length == 0) return 'No se encontro';
            if (tipo == 'nombre'){
                return cliente[0].nombre_completo
            }
            if(tipo == 'todo'){
                return cliente[0]
            }
            return cliente[0].correo
        },
        getFechaHumano(timestamp){
            var fecha = moment.unix(timestamp.seconds)
            //return fecha.locale('es').format('dddd D MMMM YYYY [a las] HH:mm A');
            return fecha.locale('es').format('DD[/]MM[/]YYYY');
        },
        onVerInfoUsuario(item){
            //item.user_id
            var infoCliente = this.buscarClientes(item.user_id, 'todo');
            console.log("TCL: onVerInfoUsuario -> infoCliente", infoCliente)
            
            this.modalInfoComplementaria = true;

            this.pdf.telefono = infoCliente.info_complementaria.telefono
            this.pdf.entidad = infoCliente.info_complementaria.entidad
            this.pdf.municipio = infoCliente.info_complementaria.municipio
            this.pdf.colonia = infoCliente.info_complementaria.colonia
            this.pdf.calle = infoCliente.info_complementaria.calle
            this.pdf.cp = infoCliente.info_complementaria.cp

            this.keyMunicipios+= 1
        },
        onVerSolicitud(item){
            this.protoSelected = item;
            console.log("TCL: onVerSolicitud -> this.protoSelected", this.protoSelected)

            this.nombre_completo = item.nombre_completo
            this.nombre_empresa = item.nombre_empresa
            this.estatus = item.estatus
            this.responsable = item.responsable

            this.tipoClase = item.especificaciones.tipoClase;
            this.forma_pieza = item.especificaciones.forma_pieza;
            this.altura_pieza = item.especificaciones.altura_pieza;
            this.largo_pieza = item.especificaciones.largo_pieza;
            this.ancho_pieza = item.especificaciones.ancho_pieza;
            this.peso_num = item.especificaciones.peso_num;
            this.acabado = item.especificaciones.acabado;
            this.tipo_contenedor = item.tipo_contenedor.tipo_contenedor;
            this.num_piezas = item.num_piezas.num_piezas;
            this.tipo_uso = item.tipo_uso.tipo_uso;
            this.almacenamiento = item.almacenamiento.almacenamiento;
            this.dunnageR = item.dunnage.dunnageR;
            this.nivel2 = item.dunnage.nivel2;

            this.modalResumen = true;
        },
        changeEstatus(){
            console.log("TCL: changeEstatus -> this.estatus", this.estatus)
            this.modalCargando(true);
            this.protoSelected.estatus = this.estatus

            var data = {
                estatus: this.estatus,
                id: this.protoSelected.id
            }

            this.updatePrototipo(data).then((resp)=>{
                console.log("TCL: changeEstatus -> resp", resp)
                this.modalCargando(false);
                this.mensajeExito();

                //CORREO UPDATE TICKET
                var dataNotif = {
                    tipo_notificacion: 'cambio_estatus',
                    estatus: this.estatus,
                    nombre_cliente: this.buscarClientes(this.protoSelected.user_id, 'nombre'),
                    correo_cliente: this.buscarClientes(this.protoSelected.user_id, 'correo'),
                }
                console.log("TCL: onSolicitud -> dataNotif", dataNotif)
                this.sendNotifCorreo(dataNotif);


            }).catch((error)=>{
                this.modalCargando(false);
                console.log(error)
            })
        },

        selectResponsable(value){
            console.log("TCL: selectResponsable -> value", value)
            this.modalCargando(true);
            this.protoSelected.responsable = value

            var data = {
                responsable: value,
                id: this.protoSelected.id
            }
            this.updatePrototipo(data).then((resp)=>{
                console.log("TCL: changeEstatus -> resp", resp)
                this.modalCargando(false);
                this.mensajeExito();
            }).catch((error)=>{
                this.modalCargando(false);
                console.log(error)
            })
        },
        mensajeExito(){
            this.$swal.fire(
                '¡Datos guardados!',
                '',
                'success'
            );
        },
        onDelete(item, tipo){
            console.log('eliminar', item)
            let esActivo = tipo == 'alta' ? true : false;

            let textSwal = tipo == 'alta' ? 'activara' : 'eliminara';
            this.$swal({
                title: '¿Está seguro?',
                text: 'Se '+textSwal+' la solicitud',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'No',
                showCloseButton: true,
                showLoaderOnConfirm: false,
            }).then((result) => {
                if(result.value) {
                    this.modalCargando(true);
                    var data = {
                        activo: esActivo,
                        fecha_archivado: new Date(),
                        id: item.token
                    }
                    
                    console.log("TCL: editarUsuario -> data", data)
                    this.updatePrototipo(data).then((resp)=>{
                        this.modalCargando(false);
                    }).catch((error)=>{
                        this.modalCargando(false);
                        console.log(error)
                    })
                }
            })
        }, //fin delete

        sendNotifCorreo(params){
            this.axios.get(`https://serverhm.com/desarrollo/dupont/ws/solicitudes.php?
                tipo_notificacion=${params.tipo_notificacion}&
                estatus=${params.estatus}&
                nombre_cliente=${params.nombre_cliente}&
                correo_cliente=${params.correo_cliente}&
                `)
            .then(resp => {
                console.log("TCL: AXIOS -> resp", resp)
            })
            .catch(e => {
                console.log(e);
            })
        }

        
    } //Fin methods
}
</script>

<style scoped lang="scss">
.tabla .fa-trash, .fa-info, .fa-check-square-o {
    color: #4a90e2;
    font-size: 30px;
}
</style>