<template lang="html">

  <section class="app-footer">
    <footer class="footer">
      <div class="container-fluid clearfix d-md-flex align-items-center">
        <!-- <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span> -->
        <span class="imp-img float-none float-sm-left mt-1 mt-sm-0 text-center"><img src="@/assets/images/marinacoating-logo.png"></span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center ml-md-auto"><img src="@/assets/images/logo-oficial.svg"></span>
      </div>
    </footer>
  </section>

</template>

<script lang="js">
export default {
  name: 'app-footer'
}
</script>

<style scoped lang="scss">
.app-footer {

}
</style>
