<template lang="html">
  <section class="app-sidebar">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="nav-item logo">
          <img src="@/assets/images/logo-white.svg"> <br>
          Dunnage Tool
        </div>
      <ul class="nav">
        
        <li v-if="infoUser.es_registrado" class="nav-item">
          <router-link to="/home" class="nav-link">
            <i class="icn icn-home"></i>
            <span class="menu-title">{{ $t('sidebar.inicio') }}</span>
          </router-link>
        </li>
        <!-- <li class="nav-item">
          <router-link to="/" class="nav-link">
            <i class="icn icn-mi-cuenta"></i>
            <span class="menu-title">Mi Cuenta</span>
          </router-link>
        </li> -->
        <li v-if="!infoUser.es_registrado && infoUser.correo == 'admin@admin.com'" class="nav-item">
          <router-link to="/responsables" class="nav-link">
            <i class="icn icn-mi-cuenta"></i>
            <span class="menu-title">Responsables</span>
          </router-link>
        </li>
        <li v-if="infoUser.es_registrado" class="nav-item">
          <router-link to="/mis-prototipos" class="nav-link">
            <i class="icn icn-prototipos"></i>
            <span class="menu-title"> {{ $t('sidebar.mis_prototipos') }} </span>
          </router-link>
        </li>
        <li v-if="!infoUser.es_registrado" class="nav-item">
          <router-link to="/solicitudes" class="nav-link">
            <i class="icn icn-prototipos"></i>
            <span class="menu-title">Solicitudes</span>
          </router-link>
        </li>
        <li v-if="infoUser.es_registrado" class="nav-item nuevo">
          <a class="nav-link" v-b-toggle="'apps-dropdown'">
            <img class="icn icn-nuevo-prototipo" src="@/assets/images/nuevo.svg"/>
            <span class="menu-title">{{ titulo == '' ? $t('sidebar.nuevo_prototipo') : titulo }}</span>
            <i class="menu-arrow"></i>
          </a>
          <b-collapse id="apps-dropdown">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <router-link class="nav-link" to="/especificaciones">{{ $t('sidebar.especificaciones') }}</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/tipo-de-contenedor">{{ $t('sidebar.tipo_contenedor') }}</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/numero-de-piezas/">{{ $t('sidebar.num_piezas') }}</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/tipo-de-uso/">{{ $t('sidebar.tipo_uso') }}</router-link>
              </li>
               <li class="nav-item">
                <router-link class="nav-link" to="/almacenamiento/">{{ $t('sidebar.almacenamiento') }}</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/dunnage/">{{ $t('sidebar.dunnage') }}</router-link>
              </li>
            </ul>
          </b-collapse>
        </li>
        <li class="nav-item">
          <b-link class="nav-link" @click="onLogout">
            <i class="icn icn-salir"></i>  
            <span class="menu-title">{{ $t('sidebar.salir') }}</span>
          </b-link>
      </li>
      <li class="align-self-flex-end colab">{{ $t('en_colaboracion') }}<strong><br>"Marina Coating"</strong></li>
        
      </ul>
      <div class="menu-toggle"><i class="mdi mdi-menu"></i></div>
    </nav>
  </section>
</template>

<script lang="js">
var baseUrl = window.location.origin;
import { mapState, mapGetters, mapActions } from 'vuex';
import JQuery from 'jquery'
// eslint-disable-next-line
let $ = JQuery
export default {
  name: 'app-sidebar',
  data() {
    return {
      titulo: ''
    }
  },
  mounted () {
    
    $('.menu-toggle').on('click', function(){
      $(this).toggleClass('active');
      $('.sidebar > .nav').toggleClass('active');
    })
    $('.sidebar-icon-only .sidebar .nav .nav-item').on('mouseenter', function () {
      var $this = $(this)
      $this.addClass('hover-open')
      $this.find('.nav-link').addClass('hover-open')
    })
    $('.sidebar-icon-only .sidebar .nav .nav-item').on('mouseleave', function () {
      var $this = $(this)
      $this.removeClass('hover-open')
      $this.find('.nav-link').removeClass('hover-open')
    })

    
  },
  created() {

    //obtener los roles
    if(this.infoUser.rol){
      this.cargarRolFront(this.infoUser.rol).then((resp)=>{
        //this.modalCargando(false);
      });
    }
    
    
  },
  watch: {
    'infoUser': function(val){
      console.log("TCL: infoUser watch", this.infoUser)
      
    },
    'prototipo': function(val){
  
        if(this.prototipo.especificaciones.numero_prototipo == null){
          this.titulo = this.$t('sidebar.nuevo_prototipo');
        }else{
          this.titulo =  this.$t('sidebar.select_prototipo') +' '+ this.prototipo.especificaciones.numero_prototipo;
        }
      
    },
    'local': function(val){
      if(this.prototipo.especificaciones.numero_prototipo == null){
        this.titulo = this.$t('sidebar.nuevo_prototipo');
      }else{
        //console.log('28348234823842389423842')
        this.titulo =  this.$t('sidebar.select_prototipo') +' '+ this.prototipo.especificaciones.numero_prototipo;
      }
    }
   
  },
  computed: {
    ...mapGetters(['infoUser', 'rolHeader', 'prototipo']),
    local () {
      if(this.prototipo.especificaciones.numero_prototipo == null){
        this.titulo = this.$t('sidebar.nuevo_prototipo');
      }else{
        //console.log('28348234823842389423842')
        this.titulo =  this.$t('sidebar.select_prototipo') +' '+ this.prototipo.especificaciones.numero_prototipo;
      }
     // console.log("TCL: local -> this.$store.state.app.local", this.$store.state.app.local)

      return this.$store.state.app.local
    },
  },
  methods: {
    ...mapActions(['handleLogOut', 'modalCargando', 'cargarRolFront']),
    onLogout(){
      this.modalCargando(true);
      this.handleLogOut().then(res => {
        //this.modalCargando(false);
        //this.$router.push({name: 'FormLogin'})
        setTimeout(function(){
          var nombreServidor = document.location.hostname;
          if(nombreServidor == 'localhost'){
            window.location.href = baseUrl;
          }else{
            window.location.href = 'https://serverhm.com/desarrollo/dupont';
          }
        }, 2000);
        
      });
    },
    
  }
}
</script>

<style scoped lang="scss">

</style>
