<template lang="html">

  <section class="app-lang">
    <ul>
        <li><a @click="selectLang('es-ES')" href="javascript:void(0);" :class="[lang=='es-ES' ? 'active' : '']">Esp</a></li>
        <li><a @click="selectLang('en-US')" href="javascript:void(0);" :class="[lang=='en-US' ? 'active' : '']">Eng</a></li>
    </ul>
  </section>
  

</template>

<script lang="js">
export default {
  name: 'app-lang',
  props: {
    lang: String
  },
  data () {
    return {
      langList: {
        'en-US': 'Lang',
        'es-ES': 'Idioma'
      },
      localList: {
        'en-US': 'English',
        'es-ES': 'Español'
      }
    }
  },
  watch: {
    lang (lang) {
      this.$i18n.locale = lang
    }
  },
  computed: {
    title () {
      return this.langList[this.lang]
    }
  },
  methods: {
    selectLang (name) {
      console.log("TCL: selectLang -> name", name)
      this.$emit('on-lang-change', name)
    }
  }
}
</script>

<style scoped lang="scss">

</style>
