<template lang="html">
  <section class="profile">
    <div class="row profile-page">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="profile-header text-white">
              <div class="d-flex justify-content-around">
                <div class="profile-info d-flex align-items-center">
                  <img class="rounded-circle img-lg" src="../../../assets/images/faces/profile/profile.jpg" alt="profile image">
                  <div class="wrapper pl-4">
                    <p class="profile-user-name text-white">Richard V.Welsh (UI/UX Designer)</p>
                    <div class="wrapper d-flex align-items-center">
                      <p class="profile-user-designation text-white">User Experience Specialist</p>
                      <star-rating class="ml-3" v-bind:increment="0.5" v-bind:rating="2.5" v-bind:max-rating="5" v-bind:star-size="15" v-bind:show-rating="false" v-bind:read-only="true"></star-rating>
                    </div>
                  </div>
                </div>
                <div class="details">
                  <div class="detail-col text-white">
                    <p class="text-white">Projects</p>
                    <p class="text-white">130</p>
                  </div>
                  <div class="detail-col">
                    <p class="text-white">Projects</p>
                    <p class="text-white">130</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="profile-body">
              <div class="row">
                <div class="col-md-9">
                  <b-tabs class="tab-switch">
                    <b-tab title="Profile" active>
                      <div class="tab-body">
                        <table class="table table-borderless w-100 mt-4">
                          <tr>
                            <td><strong>Full Name :</strong> Johnathan Deo</td>
                            <td><strong>Website :</strong> staradmin.com</td>
                          </tr>
                          <tr>
                            <td><strong>Location :</strong> USA</td>
                            <td><strong>Email :</strong> Richard@staradmin.com</td>
                          </tr>
                          <tr>
                            <td><strong>Languages :</strong> English, German, Spanish.</td>
                            <td><strong>Phone :</strong> +73646 4563</td>
                          </tr>
                        </table>
                        <div class="row mt-5 pb-4 border-bottom">
                          <div class="col-6">
                            <div class="d-flex align-items-start pb-3 border-bottom">
                              <img src="../../../assets/images/samples/profile_page/logo/01.png" alt="brand logo">
                              <div class="wrapper pl-4">
                                <p class="font-weight-bold mb-0">Photoshop</p>
                                <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                              </div>
                            </div>
                            <div class="d-flex align-items-start py-3 border-bottom">
                              <img src="../../../assets/images/samples/profile_page/logo/02.png" alt="brand logo">
                              <div class="wrapper pl-4">
                                <p class="font-weight-bold mb-0">Photoshop</p>
                                <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                              </div>
                            </div>
                            <div class="d-flex align-items-start py-3">
                              <img src="../../../assets/images/samples/profile_page/logo/03.png" alt="brand logo">
                              <div class="wrapper pl-4">
                                <p class="font-weight-bold mb-0">Photoshop</p>
                                <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="row">
                              <div class="col-12">
                                <img class="img-fluid rounded" src="../../../assets/images/samples/profile_page/banner_01.jpg" alt="banner image"> </div>
                              <div class="col-12 mt-3">
                                <img class="img-fluid rounded" src="../../../assets/images/samples/profile_page/banner_02.jpg" alt="banner image"> </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 mt-5">
                            <h5 class="mb-5">Stages</h5>
                            <div class="stage-wrapper pl-4">
                              <div class="stages border-left pl-5 pb-4">
                                <div class="btn btn-icons btn-rounded stage-badge btn-inverse-success">
                                  <i class="mdi mdi-texture"></i>
                                </div>
                                <div class="d-flex align-items-center mb-2 justify-content-between">
                                  <h5 class="mb-0">Task Added</h5>
                                  <small class="text-muted">28 mins ago</small>
                                </div>
                                <p>Admin is a full featured, multipurpose, premium bootstrap admin template built with Bootstrap 4 Framework</p>
                              </div>
                              <div class="stages border-left pl-5 pb-4">
                                <div class="btn btn-icons btn-rounded stage-badge btn-inverse-danger">
                                  <i class="mdi mdi-download"></i>
                                </div>
                                <div class="d-flex align-items-center mb-2 justify-content-between">
                                  <h5 class="mb-0">Download Completed</h5>
                                  <small class="text-muted">45 mins ago</small>
                                </div>
                                <p>one of the best admin panel templates. With this bootstrap admin template, you can quick start your project.</p>
                                <div class="file-icon-wrapper">
                                  <div class="btn btn-outline-danger file-icon">
                                    <i class="mdi mdi-file-pdf"></i>
                                  </div>
                                  <div class="btn btn-outline-primary file-icon">
                                    <i class="mdi mdi-file-word"></i>
                                  </div>
                                </div>
                              </div>
                              <div class="stages pl-5 pb-4">
                                <div class="btn btn-icons btn-rounded stage-badge btn-inverse-primary">
                                  <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                                </div>
                                <div class="d-flex align-items-center mb-2 justify-content-between">
                                  <h5 class="mb-0">New Task Completed</h5>
                                  <small class="text-muted">55 mins ago</small>
                                </div>
                                <p>Admin dashboard works seamlessly on all major web browsers and devices.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </b-tab>
                    <b-tab title="Overview">
                      <div class="tab-body">
                        <div class="horizontal-timeline">
                          <section class="time-frame">
                            <h4 class="section-time-frame">Today</h4>
                            <div class="event">
                              <p class="event-text">We’re big on real names around here, so people know who’s who</p>
                              <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                              <div class="event-info">New Dashboard Design - 9:24 PM</div>
                            </div>
                            <div class="event">
                              <p class="event-text">Admin is a full featured, multipurpose, premium bootstrap admin template built with Bootstrap 4 Framework</p>
                              <div class="tumbnail-views">
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/01.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/02.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/03.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/04.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/05.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/06.jpg" alt="thumbnail"> </div>
                              </div>
                              <div class="event-info">New Dashboard Design - 9:24 PM</div>
                            </div>
                            <div class="event">
                              <p class="event-text">It is a fully responsive bootstrap admin template / bootstrap admin dashboard</p>
                              <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                              <div class="event-info">New Dashboard Design - 9:24 PM</div>
                            </div>
                          </section>
                          <section class="time-frame">
                            <h4 class="section-time-frame">Yesterday</h4>
                            <div class="event">
                              <p class="event-text">Night fill together itself. Midst. Beginning. Behold living god had.</p>
                              <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                              <div class="event-info">New Dashboard Design - 11:24 PM</div>
                            </div>
                            <div class="event">
                              <p class="event-text">Why waste time starting from scratch; try out our admin dashboard template</p>
                              <div class="event-info">New Dashboard Design - 11:30 PM</div>
                            </div>
                          </section>
                          <section class="time-frame">
                            <h4 class="section-time-frame">30 March</h4>
                            <div class="event">
                              <p class="event-text">Gerald Vaughn changed the status to QA on MA-86 - Retargeting Ads</p>
                              <div class="tumbnail-views">
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/07.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/08.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/09.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/10.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/11.jpg" alt="thumbnail"> </div>
                                <div class="thumbnail">
                                  <img src="../../../assets/images/samples/profile_page/thumbnail/12.jpg" alt="thumbnail"> </div>
                              </div>
                              <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                              <div class="event-info">New Dashboard Design - 11:45 PM</div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </b-tab>
                  </b-tabs>
                </div>
                <div class="col-md-3">
                  <h5 class="my-4">Who to follow</h5>
                  <div class="new-accounts">
                    <ul class="chats">
                      <li class="chat-persons">
                        <a href="#">
                          <span class="pro-pic">
                            <img src="../../../assets/images/faces/face2.jpg" alt="profile image">
                          </span>
                          <div class="user">
                            <p class="u-name">Marina Michel</p>
                            <p class="u-designation">Business Development</p>
                          </div>
                        </a>
                      </li>
                      <li class="chat-persons">
                        <a href="#">
                          <span class="pro-pic">
                            <img src="../../../assets/images/faces/face3.jpg" alt="profile image">
                          </span>
                          <div class="user">
                            <p class="u-name">Stella Johnson</p>
                            <p class="u-designation">SEO Expert</p>
                          </div>
                        </a>
                      </li>
                      <li class="chat-persons">
                        <a href="#">
                          <span class="pro-pic">
                            <img src="../../../assets/images/faces/face4.jpg" alt="profile image">
                          </span>
                          <div class="user">
                            <p class="u-name">Peter Joo</p>
                            <p class="u-designation">UI/UX designer</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <h5 class="my-4">Pending</h5>
                  <div class="new-accounts">
                    <ul class="chats">
                      <li class="chat-persons">
                        <a href="#">
                          <span class="pro-pic">
                            <img src="../../../assets/images/faces/face5.jpg" alt="profile image">
                          </span>
                          <div class="user">
                            <p class="u-name">Marina Michel</p>
                            <p class="u-designation">Business Development</p>
                            <span class="d-flex align-items-center mt-2">
                              <span class="btn btn-xs btn-rounded btn-outline-light mr-2">Buyer</span>
                              <span class="btn btn-xs btn-rounded btn-outline-primary">Lead</span>
                            </span>
                          </div>
                        </a>
                      </li>
                      <li class="chat-persons">
                        <a href="#">
                          <span class="pro-pic">
                            <img src="../../../assets/images/faces/face6.jpg" alt="profile image">
                          </span>
                          <div class="user">
                            <p class="u-name">Stella Johnson</p>
                            <p class="u-designation">SEO Expert</p>
                            <span class="d-flex align-items-center mt-2">
                              <span class="btn btn-xs btn-rounded btn-outline-light mr-2">Buyer</span>
                              <span class="btn btn-xs btn-rounded btn-outline-primary">Lead</span>
                            </span>
                          </div>
                        </a>
                      </li>
                      <li class="chat-persons">
                        <a href="#">
                          <span class="pro-pic">
                            <img src="../../../assets/images/faces/face7.jpg" alt="profile image">
                          </span>
                          <div class="user">
                            <p class="u-name">Peter Joo</p>
                            <p class="u-designation">UI/UX designer</p>
                              <span class="d-flex align-items-center mt-2">
                              <span class="btn btn-xs btn-rounded btn-outline-light mr-2">Buyer</span>
                              <span class="btn btn-xs btn-rounded btn-outline-primary">Lead</span>
                            </span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="js">
import StarRating from 'vue-star-rating'
export default {
  name: 'profile',
  components: {
    StarRating
  }
}
</script>

<style scoped lang="scss">
  .profile {}
</style>
