<template>
    <section id="admin" class="responsables">
        <div class="header row d-md-flex align-items-center mt-5">
            <div class="col-xl-4">
                <h1>RESPONSABLES</h1>
            </div>
            <div class="col-md-6 col-xl-4 pl-md-3 mb-4 mb-md-0 offset-xl-1">
                <b-form-input v-model="filter" placeholder="Buscar" class="search"></b-form-input>
            </div>
            <div class="col-md-3 offset-md-2 offset-xl-0">
                <b-button v-b-modal.modal-2 variant="primary" class="text-uppercase w-md-100 w-lg-auto">Nuevo Responsable</b-button>
            </div>
        </div>
        <div class="tabla row">
            <div class="col-md-12">
                <b-table responsive 
                :items="tbResponsables" 
                :fields="fields"
                :filter="filter"
                emptyFilteredText="No hay registros que coincidan con su busqueda"
                @filtered="onFiltered"
                
                >
                    <template slot="activo" slot-scope="row">
                        <b-form-checkbox @change="onEstatus(row.item)" v-model="row.item.activo" name="check-button" switch>
                        </b-form-checkbox>
                    
                    </template>
                    
                </b-table>
            </div>
        </div>
        <b-modal v-model="modNuevoResponsable" id="modal-2" hide-header size="lg">
            <button class="close" @click="$bvModal.hide('modal-2')">x</button>
            <h1>Nuevo responsable</h1>
            <hr/>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <b-form-group horizontal label="Nombre" label-cols-md="4">
                        <b-form-input v-model="registro.nombre_completo" placeholder="Nombre"></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Puesto" label-cols-md="4">
                        <b-form-input v-model="registro.funcion" placeholder="Puesto"></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Correo Electrónico" label-cols-md="4">
                        <b-form-input v-model="registro.correo" placeholder="Correo Electrónico"></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Contraseña" label-cols-md="4">
                        <b-form-input v-model="registro.contrasenia" placeholder="Contraseña"></b-form-input>
                    </b-form-group>
                    <b-form-group horizontal label="Activado" label-cols-md="4">
                        <b-form-checkbox v-model="registro.activo" name="check-button" switch></b-form-checkbox>
                    </b-form-group>
                </div>
            </div>
            <template v-slot:modal-footer>
                <div class="w-100 d-flex justify-content-end">
                    <b-button
                        variant="secundario"
                        size="sm"
                        class="float-right btn-rojo btn-o"
                        @click="$bvModal.hide('modal-2')"
                    >
                        Cancelar
                    </b-button>
                    <b-button
                        @click="onRegistrar()"
                        variant=""
                        size="sm"
                        class="float-right"
                        :disabled="registro.nombre_completo == '' || registro.correo == ''  || registro.contrasenia == ''"
                    >
                        Guardar
                    </b-button>
                </div>
            </template>
        </b-modal>
        
    </section>
</template>

<script lang="js">

import { required, minLength, sameAs, between } from 'vuelidate/lib/validators'
import { REGISTRO_BASE_OBJ } from '@/constantes/registros.js'
import { REGISTRO_REQUERIDOS_OBJ } from '@/constantes/registros_requeridos.js'
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
    name: 'Responsables',
    components: {
        
    },
    data() {
        return {
            filtroEstatus: false,
            filter: null,
            totalRows: 0,
            currentPage: 1,
            registro: JSON.parse(JSON.stringify(REGISTRO_BASE_OBJ)),

            modNuevoResponsable: false,
            checked: true,
            estatus:null,
            responsable: null,
            fields: [
                {
                    key: 'nombre_completo',
                    label:'Nombre'
                },
                {
                    key:'funcion',
                    label: 'Puesto'
                }, 
                {
                    key:'correo',
                    label: 'Correo Electrónico'
                }, 
                {
                    key: 'contrasenia',
                    label: 'Contraseña',
                    thClass: 'text-center',
                    tdClass: 'text-center'
                },
                {
                    key: 'activo',
                    label: 'Activado',
                    tdClass: 'text-center',
                    thClass: 'text-center'
                } ],
            options: [
            { value: 'A', text: 'Option A (from options prop)' },
            { value: 'B', text: 'Option B (from options prop)' }
            ],
            
        }
    },
    created() {
        this.modalCargando(true);
        this.getListaResponsables().then((resp)=>{
            this.modalCargando(false);
            console.log("TCL: getListaResponsables -> resp", resp)
        });
    },
    mounted() {
        this.menu()
    },
    computed: {
        ...mapGetters(['infoUser', 'listaResponsables']),
        tbResponsables(){
            let responsables = [];
            for(let item of this.listaResponsables){
                //item.nombreProv_temp = 'Cargando...';
                if(item.correo !== 'admin@admin.com'){
                    responsables.push(item)
                }
                
            }
            return responsables
        }
    },
    methods: {
        ...mapActions(['addRegistro', 'modalCargando', 'buscarEmail',
        'getListaResponsables', 'actualizarRegistro']),
        menu(){
          if(window.width > 992){
            var list = document.getElementsByClassName("logo")[0];
            list.innerHTML = "TYVEK® DUNNAGE TOOL";
            document.body.classList.remove('sidebar-small');   
            }
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },

        onRegistrar(){
            this.modalCargando(true);
            this.buscarEmail(this.registro.correo).then(res => {
                console.log("TCL: buscarEmail -> res", res)
                this.modalCargando(false);
                if(res){ //existe el rfc
                console.log('TCL: El Correo ya existe')
                this.$swal.fire(
                    'Aviso',
                    'El correo ya existe, intenta con otro',
                    'warning'
                )
                return false;
                }else{
                    this.registrarDB();
                }
            });
        },

        registrarDB(){
            this.modalCargando(true);
            var data = {
            info: this.registro,
            }
            data.info.validado = true;
            data.info.fecha_creado = new Date();
            data.info.es_registrado = false;

            data.info.es_responsable = true;

            this.addRegistro(data).then(res => {
            if(res.id){
                this.modalCargando(false);
                this.$swal.fire(
                '¡Completado!',
                '',
                'success'
                ).then (()=> {
                    this.modNuevoResponsable = false;
                    this.registro = JSON.parse(JSON.stringify(REGISTRO_BASE_OBJ));
                //this.$router.push({ name: "FormLogin" });
                })
            }
            });
        },

        onEstatus(item){
            //console.log("TCL: onEstatus -> item", item.activo)
            
            this.modalCargando(true);
            var data = {
                info: item,
            }

            data.info.activo = !data.info.activo;

            this.actualizarRegistro(data).then(res => {
           
                this.modalCargando(false);
                this.$swal.fire(
                '¡Completado!',
                '',
                'success'
                ).then (()=> {
                    this.modNuevoResponsable = false;
                    this.registro = JSON.parse(JSON.stringify(REGISTRO_BASE_OBJ));
                //this.$router.push({ name: "FormLogin" });
                })
            
            });

        }
    }
}
</script>

<style scoped lang="scss">
.custom-control-input:checked ~ .custom-control-label::before{
    border-color: #7ed321;
    background-color: #7ed321;
}
input{
    border: solid 1px #ececec;
  background-color: #ffffff;
}
</style>