<template lang="html">

<ul class="botones d-flex" v-if="rolHeader.modulos">
    <li v-if="rolHeader.modulos.proveedores.informacion.consultar" ><router-link :to="{name:'Proveedor', params: { id: proveedor }}">Proveedor</router-link></li>
    <li v-if="rolHeader.modulos.proveedores.informacion.docs"><router-link :to="{name:'Documentos', params: { id: proveedor }}">Documentos</router-link></li>
    <li v-if="rolHeader.modulos.proveedores.informacion.contratos"><router-link :to="{name:'Cocumentos', params: { id: proveedor }}">Contratos</router-link></li>
    <li v-if="rolHeader.modulos.proveedores.informacion.afianza"><router-link :to="{name:'Lineas', params: { id: proveedor }}">Líneas de afianzamiento</router-link></li>
</ul>
</template>


<script lang="js">
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'breads',
  data(){
    return{
        //

    }
  }, /**fin data */
  methods: {
    //

  },
  computed: {
    ...mapGetters(['proveedor', 'rolHeader']),
  },
  
}
</script>