<script lang="js">
import {
  Bar
} from 'vue-chartjs'

export default {
  extends: Bar,
  data () {
    return {
      datacollection: {
        labels: ['1', '3', '6', '9', '12', '15'],
        datasets: [{
          data: [100, 130, 180, 170, 130, 170],
          backgroundColor: '#8862e0'
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: true,
        layout: {
          padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        scales: {
          yAxes: [{
            display: false
          }],
          xAxes: [{
            display: false,
            barPercentage: 0.8
          }]
        },
        legend: {
          display: false
        }
      }
    }
  },
  mounted () {
    this.renderChart(this.datacollection, this.options)
  }
}
</script>

<style scoped lang="scss">
  .dashboard-trending-bars {

  }
</style>
