<script lang="js">
import {
  Bar
} from 'vue-chartjs'

export default {
  extends: Bar,
  data () {
    return {
      datacollection: {
        labels: ['1', '3', '6', '9', '12', '15', '18', '21', '24', '27'],
        datasets: [{
          label: 'SNOOZED',
          data: [330, 380, 230, 400, 309, 430, 340, 310, 280, 300],
          backgroundColor: '#8862e0'
        },
        {
          label: 'COMPLETED',
          data: [375, 440, 284, 450, 386, 480, 400, 365, 365, 435],
          backgroundColor: '#49bbce'
        },
        {
          label: 'OVERDUE',
          data: [425, 480, 324, 490, 426, 520, 440, 405, 425, 475],
          backgroundColor: '#e7487e'
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: true,
        layout: {
          padding: {
            left: 0,
            right: 0,
            top: 20,
            bottom: 0
          }
        },
        scales: {
          yAxes: [{
            display: false,
            gridLines: {
              display: false
            }
          }],
          xAxes: [{
            stacked: true,
            ticks: {
              beginAtZero: true,
              fontColor: '#bdbcbe'
            },
            gridLines: {
              color: 'rgba(0, 0, 0, 0)',
              display: false
            },
            barPercentage: 0.2
          }]
        },
        legend: {
          display: false
        },
        elements: {
          point: {
            radius: 0
          }
        }
      }
    }
  },
  mounted () {
    this.renderChart(this.datacollection, this.options)
  }
}
</script>

<style scoped lang="scss">
  .dashboard-bar-chart {}
</style>
