<template lang='html'>
    <section class='contenido mis-prototipos'>
        <h1 class="mb-auto" >
            <i class="icn icn-prototipos"></i>
            {{ $t('mis_prototipos.mis_prototipos') }}</h1>
            <div class="status mt-4"><div class="completo"><i class="fa fa-check"></i></div> <span>Terminado</span></div>
            <div class="status mb-4"><div class="incompleto"><i class="fa fa-exclamation"></i></div> <span>Incompleto</span></div>
        <div class="grid mb-auto">

          <div class="stretch-card" @click="verResumen(proto)" 
            v-for="proto in listaProtos"
            v-bind:data="proto"
            v-bind:key="proto.id" >
            <div v-if="proto.completado" class="completo status-proto"><i class="fa fa-check"></i></div>
            <div v-else class="incompleto status-proto"><i class="fa fa-exclamation"></i></div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                    <img v-if="proto.tipo_contenedor.tipo_contenedor == 'otros' || proto.tipo_contenedor.tipo_contenedor == null" src="@/assets/images/caja.jpg">
                    <img v-if="proto.tipo_contenedor.tipo_contenedor == 'Rack'" src="@/assets/images/rack.jpg">
                    <img v-if="proto.tipo_contenedor.tipo_contenedor == 'Bulk'" src="@/assets/images/bulk.jpg">
                    <img v-if="proto.tipo_contenedor.tipo_contenedor == 'tote'" src="@/assets/images/tote.jpg">
                    </div>
                </div>
                <div class="card-footer">
                    {{$t('mis_prototipos.prototipo')}} {{ proto.especificaciones.nombre_proyecto }}
                </div>
            </div>
        </div>

       


        <div class="stretch-card nuevo" @click="crearNuevo()">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <i class="icn icn-prototipos"></i>
                    </div>
                </div>
                <div class="card-footer">
                   {{ $t('mis_prototipos.nuevo_prototipo') }}
                </div>
            </div>
        </div>
      </div>
    </section>
</template>

<script lang="js">
import { mapGetters, mapActions } from 'vuex';
import { PROTOTIPO_BASE_OBJ } from '@/constantes/prototipos.js'
export default {
  name: 'Home',
  data() {
    return {
      nombre: 'Ricardo Martínez'
    }
  },
  components: {
  },
  created() {
    this.modalCargando(true);
    this.getListaProtos(this.infoUser.token).then((resp)=>{
        this.modalCargando(false);
        console.log("TCL: getListaProtos -> resp", resp)
    });
  },
  mounted(){
      this.menu()
  },
  computed: {
      ...mapGetters(['prototipo', 'infoUser', 'listaProtos']),
  },
  methods:{
      ...mapActions(['cleanPrototipo', 'getListaProtos', 'setPrototipo',
    'modalCargando' ]),
      menu(){
            if(window.width > 992){
                var list = document.getElementsByClassName("logo")[0];
                list.innerHTML = "TYVEK® DUNNAGE TOOL";
                document.body.classList.remove('sidebar-small');   
            }
      },
      verResumen(payload){
        console.log("TCL: verResumen -> payload", payload)
        this.setPrototipo(payload);
        this.$router.push('resumen')
      },
      crearNuevo(){
          if(this.prototipo.id){
            this.$swal({
                title: 'Ya estas editando un prototipo',
                text: '¿Deseas crear uno nuevo?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Crear nuevo',
                cancelButtonText: 'Continuar editando',
                showCloseButton: true,
                showLoaderOnConfirm: false,
            }).then((result) => {
                if(result.value) {
                    this.modalCargando(true);
                    var cleanProto = JSON.parse(JSON.stringify(PROTOTIPO_BASE_OBJ));
                    this.cleanPrototipo(cleanProto).then((resp)=>{
                        this.modalCargando(false);
                        this.$router.push('especificaciones')
                    }).catch((error)=>{
                        this.modalCargando(false);
                        console.log(error)
                    })
                }else{
                    this.$router.push('especificaciones')
                }
            }); //FIN SWAL
          }else{
              this.$router.push('especificaciones')
          }
          
      }
  }

}
</script>

<style scoped lang="scss">
</style>