<template>
<section >
    <div class="row">
        <div class="col-md-6" style="float:left; padding: 18px;" >
            <b-form-group label="Asunto"  label-for="input1-habito">
                <input id="Subject" class="e-field e-input" type="text" name="Subject" />
            </b-form-group>
            <b-form-group label="Fecha inicio"  label-for="input3-habito" class="espacio3fecha">
                <input id="StartTime" class="e-field" type="text" name="StartTime" />
            </b-form-group>
            <b-form-group label="Espacio" label-for="input1-habito" class="espacio3">
                <select @change="onEspacio" name="ConferenceId" class="e-field form-control custom-select fixBorde" id="ConferenceId" >
                    <option value="" disabled>Selecciona un espacio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>
            </b-form-group>
            <b-form-group label="Espacio Nombre" label-for="input2-habito" style="display: none">
                <input id="espacioNombre" class="e-field" type="text" name="espacioNombre" />
            </b-form-group>
            <b-form-group label="Se envio confirmacion?" label-for="input2-habito" style="display: none">
                <input id="confirmacion_enviada" class="e-field" type="text" name="confirmacion_enviada" />
            </b-form-group>
            <b-form-group label="Guid" label-for="input2-habito" style="display: none">
                <input id="Guid" class="e-field" type="text" name="Guid" />
            </b-form-group>
            <b-form-group label="Servicio" label-for="input3-habito">
                <select name="servicioId" class="e-field form-control custom-select fixBorde" id="servicioId" >
                    <option value="" disabled>Selecciona un servicio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>
            </b-form-group>
            <b-form-group label="Descripcion" label-for="input4-habito">
                <textarea id="Description" class="e-field e-input" name="Description" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
            </b-form-group>
        </div>

        <div class="col-md-6" style="float:left; padding: 18px;">
            <b-form-group label="Confirmación" label-for="input2-habito">
                <div role="group" class="" style="margin-bottom: -8px;">
                    <select name="confirmacion" class="e-field form-control custom-select fixBorde" id="confirmacion">
                        <option value="" disabled>Seleccionar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="si">Confirmado</option>
                        <option value="no">No confirmado</option>
                    </select>
                </div>
            </b-form-group>
            <b-form-group label="Check-in" label-for="input2-habito">
                <div role="group" class="" style="margin-bottom: -8px;">
                    <select name="checkin" v-on:change="clickCheckin" class="e-field form-control custom-select fixBorde" id="checkin">
                        <option value="" disabled>Seleccionar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </b-form-group>
            <b-form-group label="Check-Out" label-for="input2-habito">
                <div role="group" class="" style="margin-bottom: -8px;">
                    <select name="checkout" class="e-field form-control custom-select fixBorde" id="checkout">
                        <option value="" disabled>Seleccionar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </b-form-group>
            <b-form-group label="Fecha fin" label-for="input4-habito" class="espacio3fechafin">
                <input id="EndTime" class="e-field" type="text" name="EndTime" />
            </b-form-group>
            <b-form-group label="Responsable" label-for="input2-habito">
                <select @change="onResponsable" name="responsableId" class="e-field form-control custom-select fixBorde" id="responsableId" >
                    <option value="" disabled>Selecciona un responsable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>
            </b-form-group>
            <b-form-group label="Responsable" label-for="input2-habito" style="display: none">
                <input id="responsableNombre" class="e-field" type="text" name="responsableNombre" />
            </b-form-group>
            <b-form-group label="Estatus médico" label-for="input2-habito">
                <div role="group" class="" style="margin-bottom: -8px;">
                    <select name="estatus_medico" class="e-field form-control custom-select fixBorde" id="estatus_medico">
                        <option value="No ha llegado" selected>No ha llegado</option>
                        <option value="llego">Llego</option>
                        
                    </select>
                </div>
            </b-form-group>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="float:left; padding: 18px;">
            <b-form-group label="Propietario" label-for="input4-habito">
                <div role="group" class="" style="margin-bottom: -8px;">
                <select name="pro_check" class="e-field form-control custom-select fixBorde" id="pro_check" @change="mostrarCamposExtra">
                    <option value="registrado">Registrado</option>
                    <option value="nuevo">Nuevo</option>
                </select>
                </div>
            </b-form-group>
            <b-form-group label="Nombre" label-for="input4-habito" class="propietario-registrado-nombre">
                <select @change="onPropietario" name="propietarioId" class="e-field pro-nuevo-input form-control custom-select fixBorde" id="propietarioId" >
                    <option value="" disabled>Selecciona un propietario&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>
            </b-form-group>
            <b-form-group label="Prop nombre" label-for="input2-habito" style="display: none">
                <input id="propietarioNombre" class="e-field" type="text" name="propietarioNombre" />
            </b-form-group>
            <b-form-group label="Pac nombre" label-for="input2-habito" style="display: none">
                <input id="pacienteNombre" class="e-field" type="text" name="pacienteNombre" />
            </b-form-group>
            <b-form-group label="Nombre" label-for="input4-habito" class="propietario-nuevo">
                <input @keyup="onTextPropietario" type="text" class="e-field pro-nuevo-input e-input" id="pro_nombre"  name="pro_nombre">
            </b-form-group>
            <b-form-group label="Email" label-for="input4-habito" class="propietario-nuevo">
                <input type="text" class="e-field pro-nuevo-input e-input" id="pro_email" name="pro_email">
            </b-form-group>
            <b-form-group label="Sexo propietario" label-for="input2-habito" class="propietario-nuevo">
                <div role="group" class="" style="margin-bottom: -8px;">
                    <select name="pro_sexo" class="e-field pro-nuevo-input form-control custom-select fixBorde" id="pro_sexo" >
                        <option value="" disabled>Seleccionar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="Hombre">Masculino</option>
                        <option value="Mujer">Femenino</option>
                    </select>
                </div>
            </b-form-group>
            <b-form-group label="Paciente" label-for="input4-habito" class="propietario-nuevo">
                <input @keyup="onTextPaciente" type="text" class="e-field pro-nuevo-input e-input" name="pro_paciente" id="pro_paciente">
            </b-form-group>
            
            <!--<b-form-group label="Sexo" label-for="input4-habito" class="propietario-nuevo">
                <input type="text" class="e-field pro-nuevo-input e-input" name="pro_sexo">
            </b-form-group>-->
            <b-form-group label="Sexo paciente" label-for="input2-habito" class="propietario-nuevo">
                <div role="group" class="" style="margin-bottom: -8px;">
                    <select name="pa_sexo" class="e-field pro-nuevo-input form-control custom-select fixBorde" id="pa_sexo" >
                        <option value="" disabled>Seleccionar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="macho">Macho</option>
                        <option value="hembra">Hembra</option>
                    </select>
                </div>
            </b-form-group>
        </div>

        <div class="col-md-6" style="float:left; padding: 18px;">
            <b-form-group label="XXXXX"  class="d-none d-md-block" label-for="input4-habito" style="visibility: hidden; padding-bottom: 7px;">
                <input type="text" >
            </b-form-group>
            <b-form-group label="Paciente" id="pacienteForm" label-for="input4-habito" class="propietario-registrado-paciente pacienteForm">
                <select @change="onPaciente" name="pacienteId" class="e-field pro-nuevo-input form-control custom-select fixBorde" id="pacienteId" >
                    <option value="" disabled>Selecciona un paciente&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>
            </b-form-group>
             <b-form-group label="&nbsp;" class="propietario-nuevo" id="labelRegristrarPropietario">
            <b-button
                variant="primary"
                class="btn-fw"
                style="cursor:pointer"
                id="registrarPropietario"
                >Registrar propietario
            </b-button>
            </b-form-group>
            <b-form-group label="Teléfono" label-for="input4-habito" class="propietario-nuevo">
                    <input type="text" class="e-field pro-nuevo-input e-input" id="pro_telefono" name="pro_telefono">
            </b-form-group>
            <b-form-group label="Edad" label-for="input4-habito" class="propietario-nuevo">
                    <input type="text" class="e-field pro-nuevo-input e-input" name="pro_edad">
            </b-form-group>
            <b-form-group label="Fecha de nacimiento" label-for="input4-habito" class="propietario-nuevo">
                <!--<input type="text" class="e-field pro-nuevo-input e-input" name="pro_nacimiento">-->
                
                    <select name="pro_pac_anio" id="pro_pac_anio" size="sm" class="fixBorde e-field col-3 form-control custom-select"><option value="" disabled selected>Año</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option><option value="1916">1916</option><option value="1915">1915</option><option value="1914">1914</option><option value="1913">1913</option><option value="1912">1912</option><option value="1911">1911</option><option value="1910">1910</option><option value="1909">1909</option><option value="1908">1908</option><option value="1907">1907</option><option value="1906">1906</option><option value="1905">1905</option></select>
                    <select name="pro_pac_mes" id="pro_pac_mes" size="sm" class="fixBorde e-field col-3 form-control custom-select"><option value="" disabled selected>Mes</option><option value="01">ene</option><option value="02">feb</option><option value="03">mar</option><option value="04">abr</option><option value="05">may</option><option value="06">jun</option><option value="07">jul</option><option value="08">ago</option><option value="09">sep</option><option value="10">oct</option><option value="11">nov</option><option value="12">dic</option></select>
                    <select name="pro_pac_dia" id="pro_pac_dia" size="sm" class="fixBorde e-field col-3 form-control custom-select"><option value="" disabled selected>Día</option><option value="01">1</option><option value="02">2</option><option value="03">3</option><option value="04">4</option><option value="05">5</option><option value="06">6</option><option value="07">7</option><option value="08">8</option><option value="09">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                
            </b-form-group>
            <!--<b-form-group label="Raza" label-for="input4-habito" class="propietario-nuevo">
                <input type="text" class="e-field" id="razaId" name="razaId"  />
            </b-form-group>-->
            <b-form-group label="Raza" label-for="input4-habito" class="propietario-nuevo">
                <select name="razaId" class="e-field form-control custom-select fixBorde" id="razaId" >
                    <option value="" disabled>Selecciona una raza22&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                </select>
            </b-form-group>
        </div>
    </div>
</section>
</template>
<script lang='js'>
import $ from 'jquery';
import Vue from "vue";
import { DateTimePickerPlugin } from '@syncfusion/ej2-vue-calendars';
import { DropDownListPlugin } from '@syncfusion/ej2-vue-dropdowns';
import { MultiSelectPlugin } from '@syncfusion/ej2-vue-dropdowns';
Vue.use(DropDownListPlugin);
Vue.use(DateTimePickerPlugin);
Vue.use(MultiSelectPlugin);
    export default {
        data() {
            return {
                
            }
        },
        methods: {
            mostrarCamposExtra(respuesta){
                //console.log("RESPUESTA")
                //console.log(respuesta)
                var trTabla = document.querySelectorAll('.propietario-nuevo');
                for (let i = 0; i < trTabla.length; i++) {
                    if(respuesta.target.value == "registrado"){
                        trTabla[i].style.display = "none"
                    }else{
                        trTabla[i].removeAttribute('style')
                    }
                }
                //para limpiar los campos
                var inputs = document.getElementsByClassName("pro-nuevo-input");
                for (let i = 0; i < inputs.length; i++) {
                    if(respuesta.target.value == "nuevo"){
                        inputs[i].value= "";
                    }
                }
                var proNombreElement = document.querySelector('.propietario-registrado-nombre');
                var proPacienteElement = document.querySelector('.propietario-registrado-paciente');
                if(respuesta.target.value == "nuevo"){
                    proNombreElement.style.display = "none"
                    proPacienteElement.style.display = "none"
                }else{
                    proNombreElement.removeAttribute('style')
                    proPacienteElement.removeAttribute('style')
                }

                var checkinElement = document.querySelector('#checkin');
                var botonRegistrarElement = document.querySelector('#labelRegristrarPropietario');
                if(respuesta.target.value == "nuevo" && checkinElement.value !== 'si'){
                    botonRegistrarElement.style.visibility = "hidden"
                }else{
                    if(respuesta.target.value == "registrado"){
                        botonRegistrarElement.style.visibility = "hidden"
                    }else{
                        botonRegistrarElement.removeAttribute('style')
                    }
                    
                }

            },
            clickCheckin(respuesta){
                var checkElement = document.querySelector('#pro_check');
                var botonRegistrarElement = document.querySelector('#labelRegristrarPropietario');
                if(respuesta.target.value == "si" && checkElement.value !== 'registrado'){
                    
                    botonRegistrarElement.removeAttribute('style')
                }else{
                    botonRegistrarElement.style.visibility = "hidden"
                }
            },
            onResponsable(){
                let nombreMed = $("#responsableId option:selected").text();
                document.querySelector('#responsableNombre').value = nombreMed
            },
            onPropietario(){
                let nombreProp = $("#propietarioId option:selected").text();
                document.querySelector('#propietarioNombre').value = nombreProp
            },
            onTextPropietario(){
                let nombreProp = document.querySelector('#pro_nombre').value
                document.querySelector('#propietarioNombre').value = nombreProp
            },
            onPaciente(){
                let nombrePac = $("#pacienteId option:selected").text();
                document.querySelector('#pacienteNombre').value = nombrePac
            },
            onTextPaciente(){
                let nombrePac = document.querySelector('#pro_paciente').value
                document.querySelector('#pacienteNombre').value = nombrePac
            },
            onEspacio(){
                console.log('> CAMBIO EL ESPACIO')
                let nombreEspac = $("#ConferenceId option:selected").text();
                document.querySelector('#espacioNombre').value = nombreEspac
            }
        },
    }
</script>
<style lang="">
    #Schedule_dialog_wrapper{
        width: 559px !important;
    }
    
    .e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
        background: fixed;
    }

    .fixBorde{
        border-color: rgb(204, 204, 204);
    }

    .e-quick-popup-wrapper.e-device{
        z-index: 99991 !important;
        position: fixed !important;
    }
</style>