<template lang="html">
    <section class="clearfix">
        <b-form-group :label="nombre"  label-for="input1">
        <div class="select_fecha row">
			<div class="col-md-4"><b-form-select :disabled="!editando" class="form-control custom-select" :class="{ 'campo-incorrecto': propclase }" :value="formateoFecha" v-model="anio" :options="aniosCombo" /></div>
            <div class="col-md-4"><b-form-select :disabled="!editando" class="form-control custom-select" :class="{ 'campo-incorrecto': propclase }" :value="formateoFecha" v-model="mes" :options="mesesCombo" /></div> 
			<div class="col-md-4"><b-form-select :disabled="!editando" class="form-control custom-select" :class="{ 'campo-incorrecto': propclase }" :value="formateoFecha" v-model="dia" :options="diasCombo" /></div>
        </div>
        </b-form-group>
		
    </section>
</template>

<script lang="js">
import moment from 'moment'
import dateFns from 'date-fns'
import Multiselect from 'vue-multiselect'

import { dias } from '@/constantes/dias.js'
import { meses } from '@/constantes/meses.js'
import { anios } from '@/constantes/anios.js'


export default {
    name: 'Fechas',
	props: ['nombre', 'esAlta', 'esBaja', 'esNacimiento', 'fecha', 'propclase', 'editando', 'anios_adicionales' ],
	components:{
		Multiselect
	},
    data () {
        return {
            fechaStamp: '',
            dia: 1,
            mes: 1,
			anio: 1,
			dias: 1,
			meses: 1,
			anios: 1,
			opcionAnios: [],
			opcionMeses: [],
			opcionDias: [],
			keyDia: 1
        }
	},
	mounted() {
		if (this.fecha === undefined) return
		
        if(this.fecha.seconds) var date = new Date(this.fecha.seconds*1000)
        else var date = new Date()
            
		
            this.anio = date.getFullYear()
            this.mes = ("0" + (date.getMonth() + 1)).slice(-2)
            this.dia = ("0" + date.getDate()).slice(-2)
		
        
    },
    computed: {
        diasCombo(){
            return dias.map(dia => {
                return {value: dia.value, text: dia.text }
            })
        },
        mesesCombo(){
            return meses.map(mes => {
                return {value: mes.value, text: mes.text }
            })
        },
        aniosCombo(){
            if(this.anios_adicionales!==undefined){
                var lista_anios = [];
                var anio_actual = new Date().getFullYear();
                
                for(var i = anio_actual-3; i<anio_actual; i++){
                    lista_anios.unshift({value:i+"",text:i+""});
                }
                for(var i = anio_actual; i<=anio_actual+20; i++){
                    lista_anios.unshift({value:i+"",text:i+""});
                }
                
                return lista_anios.map(anio => {
                        return {value: anio.value, text: anio.text }
                })
            }

            return anios.map(anio => {
                return {value: anio.value, text: anio.text }
            })
        },
        formateoFecha(){

			var date = new Date()
			let horas = date.getHours()
			let minutos = date.getMinutes()
			let segundos = date.getSeconds()

            if(this.dia && this.mes && this.anio){
            
				var fechaFormateada = `${this.mes}/${this.dia}/${this.anio} ${horas}:${minutos}:${segundos}`
				this.fechaStamp = new Date(fechaFormateada)
				
				var tipo
				if(this.esAlta){
					tipo = 'alta'
				}else if(this.esBaja){
					tipo = 'baja'
				}else {
					tipo = 'nacimiento'
				}

				this.$emit('datosfecha', {fecha: this.fechaStamp, tipo: tipo})

            }else{
                //console.log('No estan rellenadas las 3 select')
            }
        },
    },
    methods: {
		//
    },

} // fin del export default
</script>


<style scoped lang="scss">
.campo-incorrecto{
  border: 1px solid #c13041;
  border-radius: 5px;
}
</style>
