<template lang="html">
    <section class="clearfix">
        <b-form-group :label="nombre"  label-for="input1">
			<label class="pl-3">Inicio</label>
        <div class="select_fecha row mb-3 pl-3">
			<div class="col-md-8">
				<b-form-select :disabled="!editando" class="form-control custom-select" :class="{ 'campo-incorrecto': propclase }" @input="cambiarFecha" v-model="diaInicio" :options="diasCombo" />
			</div>
			<div class="col-md-4">
				<b-form-select :disabled="!editando" class="form-control custom-select" :class="{ 'campo-incorrecto': propclase }" @input="cambiarFecha" v-model="horaInicio" :options="horasCombo" />
			</div>
		</div>
			<label class="pl-3">Fin</label>
        <div class="select_fecha row mb-3 pl-3">
			<div class="col-md-8">
				<b-form-select :disabled="!editando" class="form-control custom-select" :class="{ 'campo-incorrecto': propclase }" @input="cambiarFecha" v-model="diaFin" :options="diasCombo" />
			</div>
			<div class="col-md-4">
				<b-form-select :disabled="!editando" class="form-control custom-select" :class="{ 'campo-incorrecto': propclase }" @input="cambiarFecha" v-model="horaFin" :options="horasCombo" />
			</div>
		</div>

        </div>
        </b-form-group>
		
    </section>
</template>

<script lang="js">
import moment from 'moment'
import dateFns from 'date-fns'
import Multiselect from 'vue-multiselect'

import { diasSemana } from '@/constantes/diasSemana.js'
import { meses } from '@/constantes/meses.js'
import { anios } from '@/constantes/anios.js'


export default {
    name: 'InicioFin',
	props: ['nombre', 'fecha', 'pdiaInicio', 'pdiaFin', 'phoraInicio', 'phoraFin', 'propclase', 'editando'],
	components:{
		Multiselect
	},
    data () {
        return {
            fechaStamp: '',
            fechaNacimiento: '',
            dia: 1,
            mes: 1,
			anio: 1,

			diaInicio: '1',
			horaInicio: '00:00:00',
			diaFin: '1',
			horaFin: '00:00:00',


			dias: 1,
			meses: 1,
			anios: 1,
			horasCombo: [
				{value: '00:00:00', text:'00:00'},
				{value: '01:00:00', text:'01:00'},
				{value: '02:00:00', text:'02:00'},
				{value: '03:00:00', text:'03:00'},
				{value: '04:00:00', text:'04:00'},
				{value: '05:00:00', text:'05:00'},
				{value: '06:00:00', text:'06:00'},
				{value: '07:00:00', text:'07:00'},
				{value: '08:00:00', text:'08:00'},
				{value: '09:00:00', text:'09:00'},
				{value: '10:00:00', text:'10:00'},
				{value: '11:00:00', text:'11:00'},
				{value: '12:00:00', text:'12:00'},
				{value: '13:00:00', text:'13:00'},
				{value: '14:00:00', text:'14:00'},
				{value: '15:00:00', text:'15:00'},
				{value: '16:00:00', text:'16:00'},
				{value: '17:00:00', text:'17:00'},
				{value: '18:00:00', text:'18:00'},
				{value: '19:00:00', text:'19:00'},
				{value: '20:00:00', text:'20:00'},
				{value: '21:00:00', text:'21:00'},
				{value: '22:00:00', text:'22:00'},
				{value: '23:00:00', text:'23:00'},
			],
			keyDia: 1
        }
	},
	created () {
		
		//console.log("RESULTADO DE FECHA COMP HIJO")
        //console.log(this.fecha)
        if (this.fechaInicio === null) {
            return
        }
        

		this.diaInicio = this.pdiaInicio;
		this.horaInicio = this.phoraInicio;
		this.diaFin = this.pdiaFin;
		this.horaFin = this.phoraFin;

		this.cambiarFecha()
          
		
	},
	mounted() {
		this.keyDia++;
	},
    computed: {
        diasCombo(){
            return diasSemana.map(dia => {
                return {value: dia.value, text: dia.text }
            })
        },
        mesesCombo(){
            return meses.map(mes => {
                return {value: mes.value, text: mes.text }
            })
        },
        aniosCombo(){
            return anios.map(anio => {
                return {value: anio.value, text: anio.text }
            })
		},
		
    },
    methods: {
		
		cambiarFecha(){
			let data = {
				dia_inicio: this.diaInicio,
				hora_inicio: this.horaInicio,
				dia_fin: this.diaFin,
				hora_fin: this.horaFin,
				tipo: 'fechaIniFin'
			}

			this.$emit('datosfecha',data)
		}


    },

} // fin del export default
</script>


<style scoped lang="scss">
.campo-incorrecto{
  border: 1px solid #c13041;
  border-radius: 5px;
}
</style>
