<template lang='html'>
    <section class='home'>
        <h2>{{ $t('home.bienvenido') }}</h2>
        <h1>{{ infoUser.nombre_completo }}</h1>
          <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body" @click="crearNuevo()">
            <div class="d-flex flex-row">
              <img src="@/assets/images/nuevo.svg">
            </div>
          </div>
          <div class="card-footer">
            {{ $t('home.nuevo_prototipo') }}
            <!--{{ $t('buttonText') }}-->
          </div>

        <!--<language v-if="$config.useI18n" @on-lang-change="setLocal" style="margin-right: 10px;" :lang="local"/>-->
       
        </div>
      </div>
    </section>
</template>

<script lang="js">
import Language from '@/componentes/language'
import { mapMutations, mapActions, mapGetters } from 'vuex'
import { PROTOTIPO_BASE_OBJ } from '@/constantes/prototipos.js'

export default {
  name: 'Home',
  data() {
    return {
      nombre: 'Ricardo Martínez'
    }
  },
  components: {
    Language
  },
  created() {
    this.modalCargando(true);
    this.getListaProtos(this.infoUser.token).then((resp)=>{
        this.modalCargando(false);
        console.log("TCL: getListaProtos -> resp", resp)
    });
  },
  mounted () {
    this.setLocal(this.$i18n.locale)
        this.menu()
  },
  methods: {
    ...mapActions(['cleanPrototipo', 'getListaProtos', 'setPrototipo',
    'modalCargando' ]),
    crearNuevo(){
      if(this.prototipo.id){
        this.$swal({
            title: this.$t('home.ya_existe_prototipo'),
            text: this.$t('home.deseas_crear'),
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: this.$t('home.btn_crear_nuevo'),
            cancelButtonText: this.$t('home.btn_continuar_editando'),
            showCloseButton: true,
            showLoaderOnConfirm: false,
        }).then((result) => {
            if(result.value) {
                this.modalCargando(true);
                var cleanProto = JSON.parse(JSON.stringify(PROTOTIPO_BASE_OBJ));
                this.cleanPrototipo(cleanProto).then((resp)=>{
                    this.modalCargando(false);
                    this.$router.push('especificaciones')
                }).catch((error)=>{
                    this.modalCargando(false);
                    console.log(error)
                })
            }else{
                this.$router.push('especificaciones')
            }
        }); //FIN SWAL
      }else{
          this.$router.push('especificaciones')
      }
      
  },
    menu(){
      if(window.width > 992){
            var list = document.getElementsByClassName("logo")[0];
          list.innerHTML = "TYVEK® DUNNAGE TOOL";
          document.body.classList.remove('sidebar-small');   
        }
      
      },
    ...mapMutations([
      'setLocal',
    ]),
  },
  computed: {
    ...mapGetters(['prototipo', 'infoUser', 'listaProtos']),
    local () {
      return this.$store.state.app.local
    },
  },
}
</script>

<style scoped lang="scss">
.card-body{
  cursor:pointer;
}
</style>