<template lang="html">
  <div id="app" @mousemove="verificarActividad()">
    <loading :active.sync="loading" 
        :can-cancel="false"
        :z-index="99999999999"
        color='#274667'
        :is-full-page="true"></loading>
    <router-view></router-view>
  </div>
</template>

<script lang="js">
var baseUrl = window.location.origin;
import Vue from 'vue'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import { mapState, mapActions } from "vuex";

import VueCookies from 'vue-cookies'
Vue.use(VueCookies)

export default {
  data () {
    return {
      /** */
    }
  },
  components: {
    Loading
  },
  computed:{
      ...mapState(['loading']),
  },
  created() {
    this.getListaRoles();
  },
  mounted() {
    //
  },
  methods: {
    ...mapActions(['handleLogOut', 'modalCargando', 'getListaRoles']),
    verificarActividad(){
      
        //console.log('TCL: ENTRA A VERIFICAR ACTIVIDAD')
        const currentTime = new Date().getTime();
        localStorage.setItem("accepted", currentTime);
      
      /* FIN ESTE CODIGO ES PARA REINICIAR EL TIEMPO DE LA EXPIRACION DEL- TOKEN  */



      var tiempoL = this.$cookies.get('timerlogin');
      clearTimeout(tiempoL)
      tiempoL = setTimeout(() => {
        if(tiempoL == this.$cookies.get('timerlogin')){

          let timerInterval
          
          if(this.$router.currentRoute.name !== 'FormLogin'){
            //INICIO SWAL
            this.$swal({
              title: 'AVISO',
              //text: 'Se cerrara su sesión por inactividad.',
              type: 'warning',
              html: 'Se cerrara su sesión en <b></b> segundos.',
              timer: 10000,
              showCancelButton: true,
              confirmButtonText: 'Sí',
              cancelButtonText: 'No',
              showCloseButton: true,
              showLoaderOnConfirm: false,
              onBeforeOpen: () => {
                timerInterval = setInterval(() => {
                  this.$swal.getContent().querySelector('b')
                    .textContent = Math.ceil(this.$swal.getTimerLeft() / 1000)
                }, 100)
              },
              onClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {
              
              if (result.dismiss === this.$swal.DismissReason.timer) {
                console.log('I was closed by the timer')
                this.cerrarSesionInactividad();
              }else{
                if(result.value) {
                  console.log('I was closed by normal')
                  this.cerrarSesionInactividad();
                }
              }
            })
            //FIN SWAL
          }
          


        }
      }, 14 * 60 * 1000) // 15min 60seg 1000milisegundos
      this.$cookies.set('timerlogin',tiempoL);
    },

    cerrarSesionInactividad(){
      this.modalCargando(true);
      this.handleLogOut().then(res => {
        setTimeout(function(){
          var nombreServidor = document.location.hostname;
          if(nombreServidor == 'localhost'){
            window.location.href = baseUrl;
          }else{
            window.location.href = 'https://serverhm.com/desarrollo/dupont';
          }
        }, 2000);
      });
    }
  }
}
</script>

<style>
@import "../node_modules/mdi/css/materialdesignicons.min.css";
@import "../node_modules/flag-icon-css/css/flag-icon.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/simple-line-icons/css/simple-line-icons.css";
@import "../node_modules/ti-icons/css/themify-icons.css";
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
@import "../node_modules/ionicons/dist/css/ionicons.min.css";
@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/vue-snotify/styles/material.css";
@import "../node_modules/typicons.font/src/font/typicons.css";
</style>

<style lang="scss">
@import "assets/scss/shared/style";
@import "assets/scss/estilos/custom";
</style>
