<template lang="html">

  <section class="main-view">
    <div class="container-scroller">
      <!-- <app-header/> -->
      <div class="container-fluid page-body-wrapper">
        <app-sidebar/>
        <div class="main-panel">
          <Lang v-if="$config.useI18n && infoUser.es_registrado" @on-lang-change="setLocal" :lang="local" />
          <div class="content-wrapper">
            <router-view></router-view>
          </div>
          <!-- content wrapper ends -->
          <app-footer/>
        </div>
        <!-- main panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </section>

</template>

<script lang="js">
// import AppHeader from '../src/componentes/partials/AppHeader'
import Lang from '../src/componentes/partials/Lang'
import AppSidebar from '../src/componentes/partials/AppSidebar'
import AppFooter from '../src/componentes/partials/AppFooter'
import { mapMutations, mapActions, mapGetters } from 'vuex'

export default {
  name: 'principal',
  components: {
    // AppHeader,
    AppSidebar,
    AppFooter,
    Lang
  },
  mounted() {
    this.setLocal(this.$i18n.locale)
  },
  computed: {
    ...mapGetters(['infoUser']),
    local () {
      return this.$store.state.app.local
    },
  },
  methods: {
    ...mapMutations(['setLocal']),

  },
}
</script>

<style scoped lang="scss">

</style>
