<template lang="html">

  <section class="simple-snotify">
    <button class="btn btn-outline-success mx-auto" v-on:click="showSnotify">Click here!</button>
    <vue-snotify></vue-snotify>
  </section>

</template>

<script scoped lang="js">
import Vue from 'vue'
import Snotify, { SnotifyPosition, SnotifyStyle} from 'vue-snotify'
const options = {
  toast: {
    position: SnotifyPosition.rightTop,
    type: SnotifyStyle.success
  }
}
Vue.use(Snotify, options)
export default {
  name: 'simple-snotify',
  methods: {
    showSnotify () {
      this.$snotify.html(`
          <div class="snotifyToast__title">
          <h4>Welcome Admin</h4>
          </div>
          <div class="snotifyToast__body">
            <p>Have a good day</p>
          </div>`,
      {
        body: null,
        config: {
          position: SnotifyPosition.rightTop,
          type: SnotifyStyle.info
        },
        timeout: 5000,
        showProgressBar: true,
        closeOnClick: false,
        pauseOnHover: true
      })
    }
  }
}
</script>

<style scoped lang="scss">
.simple-snotify {
  display: flex;
  justify-content: center;
}
</style>
