<template>
  <div>
    
    <select @change="selectLang">
      <option value="" selected disabled>{{ title }}</option>
      <option  v-for="(value, key) in localList" :value="key" :key="`lang-${key}`">
        {{ value }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'Language',
  props: {
    lang: String
  },
  data () {
    return {
      langList: {
        'en-US': 'Lang',
        'es-ES': 'Idioma'
      },
      localList: {
        'en-US': 'English',
        'es-ES': 'Español'
      }
    }
  },
  watch: {
    lang (lang) {
      this.$i18n.locale = lang
    }
  },
  computed: {
    title () {
      return this.langList[this.lang]
    }
  },
  methods: {
    selectLang (name) {
      console.log("TCL: selectLang -> name", name.target.value)
      this.$emit('on-lang-change', name.target.value)
    }
  }
}
</script>
