<template>
  <formulario-base class="auto-form-wrapper">
    <form action="#" slot="formulario" class="formulario">
      <p>Ingrese su correo para recuperar su contraseña. Un correo electrónico llegará a su bandeja de entrada con las instrucciones.</p>
      <div class="form-group">
        <div class="input-group">
          <input v-model="correo" type="text" class="form-control usuario" placeholder="Correo electrónico">
        </div>
      </div>

      <div class="form-group w-100 text-center">
        <button
          class="btn btn-o btn-red"
          @click.prevent="recuperarPassword"
          :disabled="correo == ''"
        >Recuperar</button>
      </div>

      <div class="form-group text-center w-100 recuperar">
        <router-link to="/login" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('regresar') }} </router-link>
      </div>


    </form>
  </formulario-base>
</template>

<script>
import FormularioBase from "./FormBase.vue";
// import { required, minLength, between } from 'vuelidate/lib/validators'

import { mapActions } from 'vuex';

export default {
  components: { FormularioBase },
  data() {
    return {
      correo: '',
    };
  },
  methods: {
    ...mapActions(['buscarEmail', 'modalCargando']),
    recuperarPassword() {
      this.modalCargando(true);

      this.buscarEmail(this.correo).then(res => {
        console.log("TCL: buscarEmail -> res", res)
        if(res){ //existe el correo
          //res.emailC

          this.axios.get(`https://serverhm.com/desarrollo/dupont/ws/recuperar.php?
            nombre=${res.nombre_completo}&
            correo=${res.correo}&
            id_usuario=${res.token}`)
            .then(resp => {
              console.log("TCL: AXIOS -> resp", resp)
              this.modalCargando(false);
              
              this.$swal.fire(
                'Aviso',
                'Se enviaron las instrucciones a su correo para cambiar su contraseña.',
                'success'
              )
              .then (()=> {
                this.$router.push({ name: "FormLogin" });
              })

            })
            .catch(e => {
                console.log(e);
                this.modalCargando(false);
            })


          
        }else{
          this.modalCargando(false);

          this.$swal.fire(
            'Aviso',
            'No se encontró su correo, favor de intentarlo de nuevo o contactar al administrador.',
            'warning'
          )
        }
      });
    }
  }
};
</script>

<style scoped>
</style>
