<template>
  <div>

    <formulario-base class="auto-form-wrapper">
      <form class="formulario registro" slot="formulario" autocomplete="off">
        <h4>{{ $t('registro.titulo') }}</h4>
      <div class="form-group">
        <div class="input-group">
          <b-form-input
            type="text"
            v-model="registro.nombre_completo"
            class="nombre form-control"
            :placeholder="$t('registro.nombre_completo')"
          ></b-form-input>
        </div>
        <div class="error" v-if="submitted && !$v.registro.nombre_completo.required">*Campo obligatorio</div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <b-form-input
            type="text"
            v-model="registro.nombre_empresa"
            class="empresa form-control"
            :placeholder="$t('registro.nombre_empresa')"
          ></b-form-input>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <b-form-input
            type="text"
            v-model="registro.funcion"
            class="funcion form-control"
            :placeholder="$t('registro.funcion')"
          ></b-form-input>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <b-form-input
            type="text"
            v-model="registro.correo"
            class="usuario form-control"
            :placeholder="$t('registro.correo')"
          ></b-form-input>
        </div>
        <div class="error" v-if="submitted && !$v.registro.correo.required">*Campo obligatorio</div>
      </div>
   
     
     <!-- <label  class="error">** Datos incorrectos, intentalo de nuevo.</label> -->
      <div class="form-group text-center">
        <button @click.prevent="onRegistrar" class="btn btn-o btn-red" >{{ $t('registro.registro') }}</button>
      </div>
      <div class="text-center w-100 recuperar mt-5">
        <router-link to="/login" class="regresar"><img src="@/assets/images/back.svg"> {{ $t('registro.regresar') }} </router-link>
      </div>

        
        </form>
    </formulario-base>
  </div>
</template>

<script>
import FormularioBase from "./FormBase.vue";

import { required, minLength, sameAs, between } from 'vuelidate/lib/validators'

import { REGISTRO_BASE_OBJ } from '@/constantes/registros.js'
import { REGISTRO_REQUERIDOS_OBJ } from '@/constantes/registros_requeridos.js'
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  components: { FormularioBase },
  data(){
    return{
      textoBoton: 'Registro',
      repetirPass: '',
      registro: JSON.parse(JSON.stringify(REGISTRO_BASE_OBJ)),

      modalRegistro: false,
      modalAceptarTerminos: false,
      modalError: false,
      modalErrorRfc: false,
      submitted: false,
    }
  },
  validations: {
    registro: REGISTRO_REQUERIDOS_OBJ,
  },
  created() {
    
  },
  computed: {
    ...mapState(['loading']),


  },
  methods: {
    ...mapActions(['addRegistro', 'modalCargando', 'buscarEmail',]),
   
   onRegistrar(){
     this.modalCargando(true);
     this.buscarEmail(this.registro.correo).then(res => {
        console.log("TCL: buscarEmail -> res", res)
        this.modalCargando(false);
        if(res){ //existe el rfc
          console.log('TCL: El Correo ya existe')
          this.$swal.fire(
            'Aviso',
            'El correo ya existe, intenta con otro',
            'warning'
          )
          return false;
        }else{
          this.registrarDB();
        }
      });
   },
    registrarDB(){
      this.modalAceptarTerminos = false;
      
      this.submitted = true;
      this.$v.$touch()
      if (this.$v.$invalid) {
        console.log('TCL: FALTAN DATOS OBLIGATORIOS')
        this.modalError = true;
      } else {

    
        console.log('TCL: NO FALTAN DATOS OBLIGATORIOS')
        this.modalCargando(true);
        var data = {
          info: this.registro,
        }
        data.info.validado = false;
        data.info.fecha_creado = new Date();

        this.addRegistro(data).then(res => {
          if(res.id){

            this.axios.get(`https://serverhm.com/desarrollo/dupont/ws/correo_registro.php?
            nombre=${this.registro.nombre_completo}&
            correo=${this.registro.correo}&
            id_usuario=${res.id}`)
            .then(resp => {
              console.log("TCL: AXIOS -> resp", resp)
              this.modalCargando(false);
              this.$swal.fire(
                'REGISTRO EXITOSO',
                'En breve recibirá un correo electrónico para configurar su contraseña, verificar bandeja de Spam',
                'success'
              ).then (()=> {
                this.registro = JSON.parse(JSON.stringify(REGISTRO_BASE_OBJ));
                this.$router.push({ name: "FormLogin" });
              })
            })
            .catch(e => {
                console.log(e);
            })

            
          }
        });
      
      }
    }, /**Fin onRegistrar */
    seleccionarArchivo(e){
      console.log('seleccionar Archivo')
      this.archivoSeleccionado = e.target.files[0];
    },
    limpiarMunicipio(param){
      if(param == 'F') this.registro.municipioF = null
      else this.registro.municipioC = null
    },
    copiarDireccion(){
      this.registro.calleC = this.registro.calleF
      this.registro.extC = this.registro.extF
      this.registro.intC = this.registro.intF
      this.registro.entidadC = this.registro.entidadF
      this.registro.municipioC = this.registro.municipioF
      this.registro.coloniaC = this.registro.coloniaF
      this.registro.cpC = this.registro.cpF

    }

  }, //fin methods


}

</script>

<style scoped>
.error {
  color: red;
  font-size: 14px;
  padding-left: 55px;
}
</style>
