<template>
  <formulario-base class="auto-form-wrapper ">
    <form v-if="!validadoAnteriormente" action="#" class="contenido intro cambio"  slot="formulario">
      <h1>CAMBIE SU CONTRASEÑA</h1>
      <p>Para ingresar al portal debe asignar una nueva contraseña.</p>
      <div class="form-group col-md-7 my-3">
        <label class="label">Contraseña</label>
        <div class="input-group">
          <b-form-input
            type="text"
            class="form-control"
            v-model="contrasenia"
            autocomplete="current-contrasenia"
          >
          </b-form-input>
          <div class="error">*Contraseña alfanumérica, mínimo 6 caracteres, una mayúscula y un caracter especial.</div>
          
        </div>
        
        <!--<label class="error">Ingresa contraseña - ** mensaje fijo</label>-->
      </div>
      
      <div class="form-group col-md-7">
        <button @click.prevent="onCambiarContra" class="btn btn-o submit-btn btn-block" >{{textoBoton}}</button>
      </div> 

    
      
    
           
    </form>
    <form v-else action="#" class="contenido intro cambio"  slot="formulario">
      <h1>Esta cuenta ya ha sido activada</h1>
      <p>No tiene permitido cambiar la contraseña.</p>
      
     
      <div class="form-group col-md-7">
        <button @click="$router.push({name: 'FormLogin'});" class="btn btn-o submit-btn btn-block" > Ir al login</button>
      </div>

    </form>


    


  </formulario-base>
</template>

<script>
import FormularioBase from "./FormBase.vue";
import { required, minLength, between } from 'vuelidate/lib/validators'

import { mapActions } from 'vuex';
export default {
  components: { FormularioBase },
  props: ["id"],
  data() {
    return {
    
      textoBoton: 'Cambiar contraseña',
      contrasenia: '',
      validadoAnteriormente: false,
    }
  },
  validations:{
    contrasenia:{
    	required,
      goodPassword:(contrasenia) => { //a custom validator!
      	return contrasenia.length >= 6 &&
        /[a-z]/.test(contrasenia) &&
        /[A-Z]/.test(contrasenia) &&
        /[-!$%^&*()_+|~=`{}\[\]:\/;<>?,.@#]/.test(contrasenia) &&
        /[0-9]/.test(contrasenia)
      }
    },
  },
  created() {
    this.modalCargando(true);
    this.getRegistro(this.id).then(res => {
      if(res == undefined){
        this.$router.push({
          name: 'FormLogin'
        })
      }else{
        /*
        if(res.validado){
          this.validadoAnteriormente = true;
        }*/
      }
      this.modalCargando(false);
    })
  },
  methods: {
    ...mapActions(['getRegistro', 'actualizarRegistro', 'modalCargando']),
    onCambiarContra(){

      this.$v.$touch()
      if (this.$v.$invalid) {
        console.log('TCL: FALTAN DATOS OBLIGATORIOS')
        
        this.$swal.fire(
          'Aviso',
          'Contraseña alfanumérica, mínimo 6 caracteres, una mayúscula y un caracter especial.',
          'warning'
        )

      } else {
        this.modalCargando(true);
        var data = {
          info: {
            validado: true,
            token: this.id,
            contrasenia: this.contrasenia
          },
          logotipo: false

        }
        this.actualizarRegistro(data).then(res => {
          this.modalCargando(false);
          this.$swal.fire(
            'Guardado',
            'Ya puede iniciar sesion.',
            'success'
          )
          .then (()=> {
            this.$router.push({ name: "FormLogin" });
          })
        });
      }

    }
  },
}
</script>

<style scoped>
.error{
  color: #fa6e21;
  font-size: 13px;
}
</style>