<template >
  <section id="auth">
    <div class="header">
      <img src="@/assets/images/logo-oficial.svg" alt="logo" class="logo-principal">
    </div>

    <Lang v-if="$config.useI18n" @on-lang-change="setLocal" :lang="local" />

    <div class="full-page-wrapper">
            <h1>Tyvek<small>®</small> Dunnage Tool</h1>
            <div class="auto-form-wrapper">
              <slot name="formulario"></slot>
              
            </div>
      <!-- content-wrapper ends -->
    </div>
    
    <!-- page-body-wrapper ends -->
    <footer>
    </footer>
  </section>
  
</template>

<script lang="js">
import Lang from '@/componentes/partials/Lang'
import { mapMutations } from 'vuex'

export default {
  name: 'FormBase',
  components: {
    Lang
  },
  mounted() {
    this.setLocal(this.$i18n.locale)
  },
  computed: {
    local () {
      return this.$store.state.app.local
    },
  },
  methods: {
    ...mapMutations(['setLocal']),

  },
}
</script>

<style scoped>
/*.login {
}*/
</style>
