<template>
  <formulario-base class="login">
    <form action="#" class="formulario"  slot="formulario">
      <h4>{{ $t('loginBase.iniciarsesion') }}</h4>
      <div class="form-group">
        <div class="input-group">
          <b-form-input
            type="text"
            v-model="usuario"
            class="usuario form-control"
            :placeholder="$t('loginBase.correo')"
          ></b-form-input>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <b-form-input
            type="password"
            class="form-control password"
            v-model="password"
            autocomplete="current-password"
            :placeholder="$t('loginBase.contrasenia')"
          >
          </b-form-input>
        </div>
      </div>
      <!--<label v-if="clickAlLogin && infoUser == null"  class="error">** Datos incorrectos, intentalo de nuevo.</label>-->
      <label v-if="clickAlLogin && infoUser == null"  class="error">*Datos incorrectos, intentalo de nuevo.</label>

      <div class="form-group text-center">
        <button @click.prevent="onLogin" :disabled="loading" class="btn btn-o btn-red" >{{ $t('loginBase.ingresar') }}</button>
      </div>
      <div class="text-center w-100 recuperar">
        <router-link to="/recuperar" class="recuperar">{{ $t('loginBase.olvide_contrasenia') }}</router-link>
      </div>
      <div class="text-center registro">
        <router-link to="/registro" tag="button" class="btn btn-o btn-gris btn-secundario">{{ $t('loginBase.registrar_nuevo') }}</router-link>
      </div>
    
    </form>
    <div class="foto" slot="formulario">
      <img src="@/assets/images/img-login.png" class="img-fluid">
    </div>
    
  </formulario-base>
</template>

<script>
import FormularioBase from "./FormBase.vue";
import { mapState, mapGetters, mapActions } from 'vuex';
// import { mixinFormulario } from "@/mixins/mixins";
// import errors from "../../errors";
// import { mapActions } from "vuex";
export default {
  components: { FormularioBase },
//   mixins: [mixinFormulario],
  data() {
    return {
      textoBoton: 'Ingresar',
      clickAlLogin: false,
      usuario: '',
      password: ''
    }
  },
  created() {
    console.log("TCL: created -> infoUser", this.infoUser)

    if(this.infoUser){
      if(this.infoUser.es_registrado){
        this.$router.push({name: 'Home'})
      }else{
        this.$router.push({name: 'Solicitudes'})
      }
    }
    
    
  },
  methods: {
      ...mapActions(['loginUser', 'getUserInfo', 'modalCargando']),
      onLogin(){
        this.modalCargando(true);
        
        this.loginUser({correo: this.usuario, contrasenia: this.password}).then(res => {
          
          this.getUserInfo().then(res => {
            this.modalCargando(false);
            this.clickAlLogin = true;
            if(res !== null){
              this.clickAlLogin = false;
              if(res.es_registrado){
                this.$router.push({name: 'Home'})
              }else{
                this.$router.push({name: 'Solicitudes'})
              }
              
            }
          })
        })
      }
  },
  computed:{
      ...mapState(['loading']),
      ...mapGetters(['infoUser']),
  },
}
</script>

<style scoped>
.error{
  color: red;
}
</style>