<template>
  <formulario-base class="auto-form-wrapper ">
    <form action="#" class="contenido intro terminos pt-5"  slot="formulario">
      <h1 class="pb-4">TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD</h1>
        <p>Este contrato describe los TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD generales, aplicables al uso de los contenidos, productos o servicios ofrecidos a través del sitio www.proveedoresliverpool.com.mx, del cual es titular REMA TPV, S. de R.L. de C.V. quien tiene su domicilio establecido en la siguiente dirección:</p>
        <p>Calle Insurgentes Sur 933 piso 13, colonia Nápoles, alcaldía Benito Juárez, Ciudad de México, C.P. 03810, país México.</p>
        <h4>OBJETO</h4>
        <p>El objeto de los presentes TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD es regular el acceso y la utilización del www.proveedoresliverpool.com.mx entendiendo por este, cualquier tipo de contenido, producto o servicio que se encuentre a disposición del público en general dentro del dominio: www.proveedoresliverpool.com.mx</p>
        <p>REMA TPV, S. DE R.L. DE C.V. se reserva la facultad de modificar en cualquier momento y sin previo aviso la presentación, los contenidos, la funcionalidad, los productos, los servicios y la configuración que pudiera estar contenida en www.proveedoresliverpool.com.mx; en este sentido, el USUARIO reconoce y acepta que REMA TPV, S. de R.L. de C.V. en cualquier momento podrá interrumpir, desactivar o cancelar cualquiera de los elementos que conforman el www.proveedoresliverpool.com.mx o el acceso a los mismos.</p>
        <p>El acceso al sitio www.proveedoresliverpool.com.mx por parte del USUARIO tiene carácter libre y, por regla general, es gratuito sin que el USUARIO tenga que proporcionar una contraprestación para poder disfrutar de ello, salvo en lo referente al costo de la conexión a internet suministrada por el proveedor de este tipo de servicios que hubiere contratado el mismo USUARIO.</p>
        <p>El acceso a parte de los contenidos y servicios del www.proveedoresliverpool.com.mx, podrá realizarse previa suscripción o registro previo del USUARIO.</p>
        <p>El sitio www.proveedoresliverpool.com.mx se encuentra dirigido exclusivamente a personas que cuenten con la mayoría de edad (mayores de 18 años); en este sentido, REMA TPV, S. de R.L. de C.V. declina cualquier responsabilidad por el incumplimiento de este requisito.</p>
        <p>El sitio www.proveedoresliverpool.com.mx está dirigido principalmente a USUARIOS residentes en la República Mexicana, por lo cual, REMA TPV, S. de R.L. de C.V. no asegura que el sitio www.proveedoresliverpool.com.mx cumpla total o parcialmente con la legislación de otros países, de forma que, si el USUARIO reside o tiene su domicilio establecido en otro país y decide acceder o utilizar el sitio www.proveedoresliverpool.com.mx, lo hará bajo su propia responsabilidad y deberá asegurarse de que tal acceso y navegación cumpla con la legislación local que le sea aplicable, no asumiendo REMA TPV, S. de R.L. de C.V. ninguna responsabilidad que se pueda derivar de dicho acto.</p>
        <p>Se hace del conocimiento del USUARIO que el REMA TPV, S. DE R.L. DE C.V. podrá administrar o gestionar el sitio www.proveedoresliverpool.com.mx de manera directa o a través de un tercero, lo cual no modifica en ningún sentido lo establecido en los presentes TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD.</p>
        <h4>DEL USUARIO</h4>
        <p>El acceso o utilización del sitio www.proveedoresliverpool.com.mx, confiere la condición del USUARIO del sitio www.proveedoresliverpool.com.mx, por lo que quedará sujeto a los presentes TÉRMINOS Y CONDICIONES Y AVISO DE PRIVACIDAD, así como a sus ulteriores modificaciones, sin perjuicio de la aplicación de la legislación aplicable, por tanto, se tendrán por aceptados desde el momento en el que se accede al sitio www.proveedoresliverpool.com.mx. Dada la relevancia de lo anterior, se recomienda al USUARIO revisar las actualizaciones que se realicen a los presentes TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD.</p>
        <p>Es responsabilidad del USUARIO utilizar el sitio www.proveedoresliverpool.com.mx de acuerdo con la forma en la que fue diseñado; en este sentido, queda prohibida la utilización de cualquier tipo de software que automatice la interacción o descarga de los contenidos o servicios proporcionados a través del sitio www.proveedoresliverpool.com.mx. Además, el USUARIO se compromete a utilizar la información, contenidos y o servicios ofrecidos a través del sitio www.proveedoresliverpool.com.mx de manera lícita, sin contravenir lo dispuesto en los presentes TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD, la moral o el orden público, y se abstendrá de realizar cualquier acto que pueda suponer una afectación a los derechos de terceros, o perjudique de algún modo el funcionamiento del sitio www.proveedoresliverpool.com.mx.</p>
        <p>Asimismo, el USUARIO se compromete a proporcionar información lícita y veraz en los formularios habilitados en el sitio www.proveedoresliverpool.com.mx, en los cuales el usuario tenga que proporcionar ciertos datos o información para el acceso a algún contenido, producto o servicio ofrecido por el propio sitio www.proveedoresliverpool.com.mx. En todo caso, el USUARIO notificará de forma inmediata a REMA TPV, S. DE R.L. DE C.V. acerca de cualquier hecho que permita suponer el uso indebido de la información registrada en dichos formularios, tales como, robo, extravío, o acceso no autorizado a cuentas y/o contraseñas, con el fin de proceder a su inmediata cancelación.</p>
        <p>El sólo acceso al sitio www.proveedoresliverpool.com.mx no supone el establecimiento de ningún tipo de relación entre REMA TPV, S. DE R.L. DE C.V. y el USUARIO o entre el USUARIO y cualquier otra empresa o persona.</p>
        <p>Al tratarse de un sitio dirigido exclusivamente a personas que cuenten con la mayoría de edad, el USUARIO manifiesta ser mayor de edad y disponer de la capacidad jurídica necesaria para sujetarse a los presentes TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD.</p>
        <h4>ACCESO Y NAVEGACIÓN EN EL SITIO WEB</h4>
        <p>REMA TPV, S. DE R.L. DE C.V. no garantiza de ningún modo la continuidad y disponibilidad de los contenidos, productos o servicios ofrecidos a través del sitio www.proveedoresliverpool.com.mx, no obstante, REMA TPV, S. DE R.L. DE C.V. llevará a cabo las acciones que de acuerdo con sus posibilidades le permitan mantener el buen funcionamiento del sitio www.proveedoresliverpool.com.mx, sin que esto suponga alguna responsabilidad de parte de REMA TPV, S. de R.L. de C.V.</p>
        <p>De igual forma REMA TPV, S. de R.L. de C.V. no será responsable ni garantiza que el contenido o software al que pueda accederse a través del sitio www.proveedoresliverpool.com.mx, se encuentre libre de errores, software malicioso, o que pueda causar algún daño a nivel de software o hardware en el equipo a través del cual el USUARIO accede al sitio www.proveedoresliverpool.com.mx.</p>
        <p>REMA TPV, S. DE R.L. DE C.V. tampoco se hace responsable de los daños que pudiesen ocasionarse por un uso inadecuado del SITIO WEB. En ningún caso REMA TPV, S. de R.L. de C.V. será responsable por las pérdidas, daños o perjuicios de cualquier tipo que surjan por el sólo acceso o utilización del sitio www.proveedoresliverpool.com.mx.</p>
        <h1 class="mt-5">AVISO DE PRIVACIDAD</h1>
        <p>REMA TPV, S. de R.L. de C.V, con domicilio en calle Insurgentes Sur 933 piso 13, colonia Nápoles, alcaldía Benito Juárez, Ciudad de México, C.P. 03810, país México, y portal de internet www.rematpv.com, con correo electrónico contacto@proveedoresliverpool.com.mx, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente: </p>
        <p>De conformidad con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de Particulares, REMA TPV, S. de R.L. de C.V. se compromete a adoptar las medidas necesarias que estén a su alcance para asegurar la privacidad de los datos personales recabados de forma que se garantice su seguridad, se evite su alteración, pérdida o tratamiento no autorizado.</p>
        <p>Además, a efecto de dar cumplimiento a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de Particulares, todo dato personal que sea recabado a través del sitio www.proveedoresliverpool.com.mx, será tratado de conformidad con los principios de licitud, calidad, finalidad, lealtad y responsabilidad. Todo tratamiento de datos personales quedará sujeto al consentimiento de REMA TPV, S. de R.L. de C.V.</p>
        <p>En todo caso, para la utilización de datos financieros o patrimoniales se dará mayor diligencia y cuidado a este tipo de datos. Lo mismo ocurrirá en el caso de datos personales sensibles, considerando por estos aquellos que debido a una utilización indebida puedan dar origen a discriminación o su divulgación conlleve a un riesgo para el titular de los datos y/o información. </p>
        <p>En todo momento se procurará que los datos personales contenidos en las bases de datos o archivos que en su caso se utilicen, sean pertinentes, correctos y actualizados para los fines para los cuales fueron recabados.</p>
        <p>El sitio www.proveedoresliverpool.com.mx podrá incluir hipervínculos o enlaces que permitan acceder a páginas web de terceros distintos de REMA TPV, S. de R.L. de C.V., los titulares de dichos sitios web dispondrán de sus propias políticas de privacidad y protección de datos, por lo cual REMA TPV, S. de R.L. de C.V.  no asume ningún tipo de responsabilidad por los datos que sean facilitados por el USUARIO a través de cualquier sitio distinto a www.proveedoresliverpool.com.mx.</p>
        <p>REMA TPV, S. de R.L. de C.V. se reserva el derecho a modificar su Política de Privacidad, de acuerdo con sus necesidades o derivado de algún cambio en la legislación. El acceso o utilización del sitio www.proveedoresliverpool.com.mx después de dichos cambios, implicará la aceptación de estos cambios.</p>
        <p>Por otra parte, el acceso al sitio www.proveedoresliverpool.com.mx puede implicar la utilización de cookies, las cuales son pequeñas cantidades de información que se almacenan en el navegador utilizado por el USUARIO. Las cookies facilitan la navegación, la hacen más amigable, y no dañan el dispositivo de navegación, para ello, pueden recabar información para ingresar al sitio www.proveedoresliverpool.com.mx,  almacenar las preferencias del USUARIO, así como la interacción que este tenga con el sitio www.proveedoresliverpool.com.mx, como por ejemplo: la fecha y hora en la que se accede al sitio www.proveedoresliverpool.com.mx, el tiempo que se ha hecho uso de este, los sitios visitados antes y después del mismo, el número de páginas visitadas, la dirección IP de la cual accede el usuario, la frecuencia de visitas, etc.</p>
        <p>Este tipo de información será utilizada para mejorar el sitio www.proveedoresliverpool.com.mx, detectar errores y posibles necesidades que el USUARIO pueda tener, lo anterior a efecto de ofrecer a los USUARIOS servicios y contenidos de mejor calidad. En todo caso, la información que se recopile será anónima y no se identificará a usuarios individuales.</p>
        <p>En caso de que el USUARIO no desee que se recopile este tipo de información deberá deshabilitar, rechazar, restringir y/o eliminar el uso de cookies en su navegador de internet. Los procedimientos para realizar estas acciones pueden diferir de un navegador a otro; en consecuencia, se sugiere revisar las instrucciones facilitadas por el desarrollador del navegador. En el supuesto de que rechace el uso de cookies (total o parcialmente) el USUARIO podrá continuar haciendo uso del sitio www.proveedoresliverpool.com.mx, aunque podrían quedar deshabilitadas algunas de las funciones de este.</p>
        <p>Es posible que en el futuro estas políticas respecto a las cookies cambien o se actualicen, por ello es recomendable revisar las actualizaciones que se realicen a los presentes TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD, con objetivo de estar adecuadamente informado sobre cómo y para qué utilizamos las cookies que se generan al ingresar o hacer uso del sitio www.proveedoresliverpool.com.mx.</p>
        <h4>POLÍTICA DE ENLACES</h4>
        <p>El sitio www.proveedoresliverpool.com.mx puede contener enlaces, contenidos, servicios o funciones de otros sitios de internet pertenecientes y/o gestionados por terceros, como por ejemplo imágenes, videos, comentarios, motores de búsqueda, etc.</p>
        <p>La utilización de estos enlaces, contenidos, servicios o funciones tiene por objeto mejorar la experiencia del USUARIO al hacer uso del sitio www.proveedoresliverpool.com.mx, sin que pueda considerarse una sugerencia, recomendación o invitación para hacer uso de sitios externos. REMA TPV, S. DE R.L. de C.V. en ningún caso revisará o controlará el contenido de los sitios externos, de igual forma, no hace propios los productos, servicios, contenidos, y cualquier otro material existente en los referidos sitios enlazados; por lo cual, tampoco se garantizará la disponibilidad, exactitud, veracidad, validez o legalidad de los sitios externos a los que se pueda tener acceso a través del sitio www.proveedoresliverpool.com.mx. Así mismo, REMA TPV, S. DE R.L. DE C.V. no asume ninguna responsabilidad por los daños y perjuicios que pudieran producirse por el acceso o uso, de los contenidos, productos o servicios disponibles en los sitios web no gestionados por REMA TPV, S. de R.L. de C.V. a los que se pueda acceder mediante el sitio.</p>
        <h4>POLÍTICA EN MATERIA DE PROPIEDAD INTELECTUAL E INDUSTRIAL</h4>
        <p>REMA TPV, S. de R.L. de C.V. por sí o como parte cesionaria, es titular o tiene la autorización correspondiente para el uso de todos los derechos de propiedad intelectual e industrial del sitio www.proveedoresliverpool.com.mx, entendiendo por este el código fuente que hace posible su funcionamiento, así como las imágenes, archivos de audio o video, logotipos, marcas, combinaciones de colores, estructuras, diseños y demás elementos que lo distinguen. Serán, por consiguiente, protegidas por la legislación mexicana en materia de propiedad intelectual e industrial, así como por los tratados internacionales aplicables. Por consiguiente, queda expresamente prohibida la reproducción, distribución, o difusión de los contenidos del sitio www.proveedoresliverpool.com.mx, con fines comerciales, en cualquier soporte y por cualquier medio, sin la autorización de REMA TPV, S. de R.L. de C.V.</p>
        <p>El USUARIO se compromete a respetar los derechos de propiedad intelectual e industrial de REMA TPV, S. DE R.L. DE C.V., no obstante, además de poder visualizar los elementos del sitio www.proveedoresliverpool.com.mx podrá imprimirlos, copiarlos o almacenarlos, siempre y cuando sea exclusivamente para su uso estrictamente personal.</p>
        <p>Por otro lado, el USUARIO, se abstendrá de suprimir, alterar, o manipular cualquier elemento, archivo, o contenido, del sitio www.proveedoresliverpool.com.mx, y por ningún motivo realizará actos tendientes a vulnerar la seguridad, los archivos o bases de datos que se encuentren protegidos, ya sea a través de un acceso restringido mediante un usuario y contraseña, o porque no cuente con los permisos para visualizarlos, editarlos o manipularlos.</p>
        <h4>LEGISLACIÓN Y JURISDICCIÓN APLICABLE</h4>
        <p>REMA TPV, S. de R.L. de C.V.  se reserva la facultad de presentar las acciones civiles o penales que considere necesarias por la utilización indebida del sitio www.proveedoresliverpool.com.mx, sus contenidos, productos o servicios, o por el incumplimiento de los presentes TÉRMINOS, CONDICIONES Y AVISO DE PRIVACIDAD.</p>
        <p>La relación entre el USUARIO y REMA TPV, S. de R.L. de C.V. se regirá por la legislación vigente en los Estados Unidos Mexicanos, específicamente en la Ciudad de México. De surgir cualquier controversia en relación con la interpretación y/o a la aplicación de los presentes TÉRMINOS Y CONDICIONES, las partes acuerdan someterse a la jurisdicción ordinaria de los tribunales que correspondan a la Ciudad de México conforme a derecho al que se hace referencia.</p>
        <h4>¿Para qué fines utilizaremos sus datos personales o sensibles?</h4>
        <p>Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita: </p>
        <ul>
          <li>Trámite, gestión y/o control de fianzas, seguros de caución o esquemas de garantías ante terceros y/o propios, a través de agentes autorizados por la Comisión Nacional de Seguros y Fianzas.</li>
          <li>Trámite, gestión y/o control de seguros o esquemas de coberturas similares ante terceros y/o propios, a través de agentes autorizados por la Comisión Nacional de Seguros y Fianzas.</li>
          <li>Notificaciones respecto de los vencimientos o requerimientos de actualización de documentos que integren el expediente.</li>
          <li>Control y gestión de documentos relativos al propio expediente que se genere.</li>
          <li>Análisis financieros.</li>
          <li>Verificación de ubicación, contacto y datos generales.</li>
          <li>Verificación de cumplimientos ante autoridades fiscales.</li>
          <li>Resguardo de la información proporcionada de manera digital.</li>
        </ul>
        <p>De manera adicional, utilizaremos su información personal o sensible para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:</p>
        <ul>
          <li>Mercadotecnia o publicitaria</li>
          <li>Prospección comercial</li>
        </ul>
        <p>En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación:</p>
        <p>No consiento que mis datos personales se utilicen para los siguientes fines:</p>
        <p>(  ) Mercadotecnia o publicitaria<br>
        (  ) Prospección comercial<br><br></p>
        <!-- <b-radio-group>
          <b-radio>Mercadotecnia o publicitaria</b-radio>
          <b-radio>Prospección comercial</b-radio>
        </b-radio-group> -->
        <p>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.</p>
        <h4>¿Qué datos personales utilizaremos para estos fines?</h4>
        <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales y/o sensibles, siempre que sean proporcionados por usted, representante legal o nos haya dado autorización de generarlos a nosotros:</p>
        <ul>
          <li>Datos de identificación, ubicación y/o contacto</li>
          <li>Información patrimonial, financiera y/o fiscal</li>
          <li>Información legal</li>
          <li>Información corporativa particular o general</li>
          <li>Fotografía o video</li>
        </ul>
        <h4>¿Con quién compartimos su información personal y para qué fines?</h4>
        <p>Le informamos que sus datos personales son compartidos dentro del país con las siguientes personas, empresas, organizaciones o autoridades distintas a nosotros, para los siguientes fines: </p>
        <table class="table table-fixed table-terminos">
          <thead>
            <th class="text-center" cellpadding="15">DESTINATARIO DE DATOS PERSONALES Y/O SENSIBLES</th>
            <th cellpadding="15" class="text-center">FINALIDAD</th>
            <th cellpadding="15" class="text-center">REQUIERE CONSENTIMIENTO</th>
          </thead>
          <tbody>
          <tr>
            <td cellpadding="15">
              Compañías afianzadoras y aseguradoras de caución con autorización para operar como tales por la Comisión Nacional de Seguros y Fianzas, ya sea de manera directa o a través de algún agente autorizado.
            </td>
            <td cellpadding="15">
              <ul>
                <li>Otorgamiento y emisión de pólizas de fianza o seguros de caución en favor de un tercero.</li>
                <li>Otorgamiento de garantías en favor de un tercero.</li>
                <li>Cumplimiento de cualquier Ley o requerimiento de autoridad competente. </li>
              </ul>
            </td>
            <td cellpadding="15" class="text-center">NO</td>
          </tr>
          <tr>
            <td cellpadding="15">
              Compañías aseguradoras con autorización para operar como tales por la Comisión Nacional de Seguros y Fianzas, ya sea de manera directa o a través de algún agente autorizado.
            </td>
            <td cellpadding="15">
              <ul>
                <li>Otorgamiento y emisión de pólizas de seguros a favor de un tercero o propio.</li>
                <li>Cumplimiento de cualquier Ley o requerimiento de autoridad competente.</li>
              </ul>
            </td>
            <td cellpadding="15" class="text-center">NO</td>
          </tr>
          <tr>
            <td cellpadding="15">
              Grupo Liverpool, subsidiarias o filiales.
            </td>
            <td cellpadding="15">
              <ul>
                <li>Controles internos.</li>
                <li>Análisis generales y financieros.</li>
                <li>Cumplir políticas de contratación.</li>
              </ul>
            </td>
            <td cellpadding="15" class="text-center">NO</td>
          </tr>
          <tr>
            <td cellpadding="15">
              Agentes de seguros y/o fianzas autorizados por la Comisión Nacional de Seguros y Fianzas
            </td>
            <td cellpadding="15">
              <ul>
                <li>Gestionar y tramitar pólizas de fianzas y seguros.</li>
              </ul>
            </td>
            <td cellpadding="15" class="text-center">NO</td>
          </tr>
          </tbody>
        </table>
        <h4>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</h4>
        <p>Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal o corporativa en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>
        <p>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio: </p>
        <p><a href="mailto:contacto@proveedoresliverpool.com.mx">contacto@proveedoresliverpool.com.mx</a></p>
        <p>Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición los siguientes medios:</p>
        <p><a href="http://www.infodf.org.mx" target="_blank">www.infodf.org.mx</a><br>
            <a href="http://www.infodf.org.mx/documentospdf/Ley_datos_CDMX_web.pdf" target="_blank">http://www.infodf.org.mx/documentospdf/Ley_datos_CDMX_web.pdf</a><br>
            <a href="mailto:contacto@proveedoresliverpool.com.mx">contacto@proveedoresliverpool.com.mx</a>
        </p>
        <p>Los datos de contacto de la persona o departamento encargado de dar trámite a cualquier solicitud respecto de los derechos ARCO, son los siguientes:</p>
        <p><strong>Nombre:</strong> José Israel Eustacio Coyantes Jaime<br>
        <strong>Domicilio:</strong>Calle Insurgentes Sur 933 piso 13, colonia Nápoles, alcaldía Benito Juárez, Ciudad de México, C.P. 03810, país México.<br>
        <strong>Teléfono:</strong>	55 1107 8088<br>
        <strong>Correo electrónico:</strong>	<a href="mailto:contacto@proveedoresliverpool.com.mx">contacto@proveedoresliverpool.com.mx</a></p>
        <h4>Usted puede revocar su consentimiento para el uso de sus datos personales.</h4>
        <p>Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales y/o sensibles. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales y/o sensibles. Asimismo, usted deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>
        <p>Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio: </p>
        <p><a href="mailto:contacto@proveedoresliverpool.com.mx">contacto@proveedoresliverpool.com.mx</a></p>
        <p>Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición los siguientes medios:</p>
        <p><a href="http://www.infodf.org.mx" target="_blank">www.infodf.org.mx</a><br>
            <a href="http://www.infodf.org.mx/documentospdf/Ley_datos_CDMX_web.pdf" target="_blank">http://www.infodf.org.mx/documentospdf/Ley_datos_CDMX_web.pdf</a><br>
            <a href="mailto:contacto@proveedoresliverpool.com.mx">contacto@proveedoresliverpool.com.mx</a>
        </p>

        <h4>¿Cómo puede limitar el uso o divulgación de su información personal?</h4>
        <p>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios: </p>
        <p>Enviando correo electrónico solicitando las limitaciones a: <a href="mailto:contacto@proveedoresliverpool.com.mx">contacto@proveedoresliverpool.com.mx</a></p>
        <h4>¿Cómo puede conocer los cambios en este aviso de privacidad?</h4>
        <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</p>
        <p>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, el procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad es el siguiente:</p>
        <p>Publicación permanente en el sitio www.proveedoresliverpool.com.mx así como el posible envío directo de correo electrónico notificando los cambios.</p>
        <div class="text-right"><strong><p>Última actualización: 23 de noviembre de 2019</p></strong></div>
    </form>
  </formulario-base>
</template>

<script>
import FormularioBase from "./FormBase.vue";
export default {
  components: { FormularioBase },
  data() {
    return {
      textoBoton: 'Continuar',
    }
  }
}

</script>

<style scoped>
</style>