<template lang="html">

  <section class="ace-editor">
    <editor v-model="content" :config="config" width="100%" height="200px"></editor>
  </section>

</template>

<script lang="js">
export default {
  name: 'ace-editor',
  components: {
    editor: require('vue2-ace-editor')
  },
  methods: {
    editorInit: function () {
      require('brace/ext/language_tools')
      require('brace/mode/html')
      require('brace/mode/javascript')
      require('brace/mode/less')
      require('brace/theme/chrome')
      require('brace/snippets/javascript')
    }
  }
}
</script>

<style scoped lang="scss">
  .ace-editor {

  }
</style>
