<template lang="html">

  <section class="tag-input">
    <vue-tags-input
      v-model="tag"
      :tags="tags"
      @tags-changed="newTags => tags = newTags"
    />
  </section>

</template>

<script lang="js">
import VueTagsInput from '@johmun/vue-tags-input'
export default {
  components: {
    VueTagsInput
  },
  data () {
    return {
      tag: '',
      tags: ['London', 'Cananda', 'Australia', 'Mexico']
    }
  }
}
</script>

<style scoped lang="scss">
  .tag-input {

  }
</style>
